Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Add getter for attuned grimoire in workflow
  module/workflows/workflow/attune-grimoire-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add support for additional parameters in weaveThreads method
  module/data/item/spell.mjs
  module/workflows/workflow/base-casting-workflow.mjs
  module/workflows/workflow/matrix-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove redundant actor check in _prepareStepData method
  module/data/roll/weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add grimoire casting workflow
  module/config/magic.mjs
  module/data/item/spell.mjs
  module/data/roll/spellcasting.mjs
  module/data/roll/weaving.mjs
  module/documents/actor.mjs
  module/workflows/workflow/attune-grimoire-workflow.mjs
  module/workflows/workflow/base-casting-workflow.mjs
  module/workflows/workflow/grimoire-casting-workflow.mjs
  module/workflows/workflow/matrix-casting-workflow.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add German localization
  lang/de.json
Due: npm run lint:lang

Auto update lang
  lang/en.json
Due: npm run lint:lang

Auto update lang
  lang/fr.json
Due: npm run lint:lang

Auto update lang
  lang/pl.json
Due: npm run lint:lang

Move spellcasting colors to config
  module/applications/actor/sentient-sheet.mjs
  module/config/magic.mjs
  templates/actor/cards/spell-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell casting functionality and drag-and-drop handling from grimoire
  lang/de.json
  module/applications/item/item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
  templates/actor/cards/spell-card.hbs
  templates/item/item-partials/item-details/partials/grimoire.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Remove embedded option from spellUuid field in weaving schema
  module/data/roll/weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell effect types and enhance effect field schema
  module/config/magic.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add scrollable property to item details for improved UI
  module/applications/item/item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell effect details to item details template
  templates/item/item-partials/item-details/details/item-details-spell.hbs
Due: none

Update spell effect description field in item description template
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
Due: none

Update de localization
  lang/de.json
Due: npm run lint:lang

Auto update lang files
  lang/en.json
Due: npm run lint:lang

Auto update lang files
  lang/fr.json
Due: npm run lint:lang

Auto update lang files
  lang/pl.json
Due: npm run lint:lang

Add fieldset wrapper for EDID form for consistent layout
  templates/item/item-partials/item-details.hbs
Due: none

Add margin to fieldset in standard form for improved spacing
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/forms.less
Due: none

enable manual overwrite to current recovery tests
  templates/actor/actor-tabs/general.hbs
Due: none

Create char gen docu
  documentation/wiki documentation/german/character-generation.html
Due: none

change from error to warning
  lang/de.json
  module/applications/advancement/assign-legend.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

test
  lang/de.json
  module/data/roll/ability.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/ability-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix not working rolls
  module/data/item/power.mjs
  module/data/item/templates/ability.mjs
  module/data/item/templates/rollable.mjs
  module/data/item/weapon.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

enable wound reduction if no recovery is actually rolled.
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

encorporated comments
  documentation/wiki documentation/german/character-generation.html
Due: none

incorporate comments
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Incorporate comments
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
