Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

actor-sheet-initiative
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: none

actor-sheet-initiative
  templates/actor/actor-tabs/general.hbs
Due: none

fix initiative penalty calculation
  lang/de.json
  module/data/actor/pc.mjs
  templates/actor/actor-tabs/general.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix-light-mode
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/global/variables.less
  less/sheets/actor-sheet-layout.less
Due: none

more documentation
  documentation/wiki documentation/german/character-gameplay.html
  documentation/wiki documentation/german/characterbogen.html
Due: none

Update character-gameplay.html
  documentation/wiki documentation/german/character-gameplay.html
Due: none

English Locale, first version submitted
  lang/en.json
Due: npm run lint:lang

Added: ED.Config.DamageSourceConfig and relevant keys
  lang/en.json
Due: npm run lint:lang

Added missing keys
  lang/en.json
Due: npm run lint:lang

Reviewed remaining TODO and CHECKs.
  lang/en.json
Due: npm run lint:lang

fix bug
  module/services/migrations/v082/document-type-migrations/actor/character.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

bring back take damage button
  templates/actor/actor-tabs/general.hbs
Due: none

Removed empty keys, added missing keys related to damage
  lang/en.json
Due: npm run lint:lang

make-list-headers-fixed
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/global/meters.less
  less/global/variables.less
  less/sheets/actor-sheet-layout.less
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
  templates/actor/actor-tabs/classes.hbs
  templates/actor/actor-tabs/devotions.hbs
  templates/actor/actor-tabs/equipment.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/powers.hbs
  templates/actor/actor-tabs/skills.hbs
  templates/actor/actor-tabs/talents.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/dragon-sheet.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

make-list-headers-fixed
  module/applications/actor/character-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/loot-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

standard-form-fix
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
Due: none

add spell effect handling and macro execution methods
  module/data/chat/spellcasting.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

em-sheet-fixes
  lang/en.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

add caster retrieval and damage roll processing for spellcasting
  module/data/chat/spellcasting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add roll effect button handling in spellcasting roll flavor
  templates/chat/chat-buttons/roll-effect.hbs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
Due: none

fix: remove special effect description from item sheet general spell description
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
Due: none

fix: enhance special description fallback in spellcasting
  module/data/chat/spellcasting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

rename effect roll type
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update damage modifier retrieval for spell source type
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

take-damage-button
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

take damage button
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

head-icon-buttons
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

bring-back-take-damage
  assets/icons/punch-blast.svg
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

feat: add effect details and calculation for spell effects
  module/data/item/spell.mjs
  templates/item/item-partials/item-details/details/item-details-spell.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add willpower effect type to system
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add willpower usage prompt to dialog system
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

move damage roll functionality to spell
  module/data/chat/spellcasting.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

take-damage-button
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
Due: none

fix: update data-action attribute for roll effect button
  templates/chat/chat-buttons/roll-effect.hbs
Due: none

add SpellEffectRollOptions class for handling non-damage spell effects
  module/data/roll/_module.mjs
  module/data/roll/spelleffect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add effect rolling functionality to spell system
  module/data/chat/spellcasting.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
