Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Remove unnecessary log statement and clean up section closing in spells.hbs
  templates/actor/actor-tabs/spells.hbs
Due: none

Enhance spell card styles with mottle background and adjust positioning
  less/sheets/spell-card.less
Due: none

Compile css
  earthdawn4e.css
Due: none

fix syntax error in migrations.mjs
  module/config/migrations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

button-style-global
  earthdawn4e.css
  less/global/global.less
  less/global/icons.less
Due: none

Add SYSTEM_ID constant for system identification
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add learnImprovedSpells to defaultEdIds enumeration
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Learn Spell Knacks
  module/applications/global/prompt-factory.mjs
  module/config/legend.mjs
  module/config/system.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/spell.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/learnable.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add availableLearnImprovedSpells property and update validation categories for spell knacks
  module/config/legend.mjs
  module/data/item/spell-knacks.mjs
  module/documents/actor.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization - de
  lang/de.json
Due: npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Update lang - de
  lang/de.json
Due: npm run lint:lang

npc=talent-header
  templates/actor/actor-tabs/talents.hbs
Due: none

fix path and questor basic migration
  module/services/migrations/v082/README.md
  module/services/migrations/v082/document-migrations.mjs
  module/services/migrations/v082/document-type-migrations/item/_module.mjs
  module/services/migrations/v082/document-type-migrations/item/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix restrictions and requirements for Knacks
  module/services/migrations/v082/document-type-migrations/item/ability-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/karma-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/maneuver-knack.mjs
  module/services/migrations/v082/field-migrations/knack-requirements.mjs
  module/services/migrations/v082/field-migrations/knack-restriction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix item name fallback in learning transaction description
  module/data/item/templates/learnable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

legend-cnontainer
  earthdawn4e.css
  lang/en.json
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/notes.hbs
  templates/actor/cards/attribute-card.hbs
Due: npm run lint:lang

uuid-color
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

legend-container
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/notes.hbs
Due: none

Update sentient.mjs
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add knock down options to sheet
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

renaming
  module/applications/actor/character-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add knockdown workflow
  module/data/roll/_module.mjs
  module/data/roll/knockdown.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update lang
  lang/de.json
Due: npm run lint:lang

aligne knockdown nameing convention
  lang/de.json
  module/applications/actor/character-sheet.mjs
  module/applications/actor/sentient-sheet.mjs
  module/applications/global/prompt-factory.mjs
  module/config/rolls.mjs
  module/data/item/mask.mjs
  module/data/roll/knockdown.mjs
  module/services/migrations/v082/document-type-migrations/item/roll-type-Migration.mjs
  templates/actor/actor-partials/actor-section-buttons-sentient.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/prompts/knock-down-prompt.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

move processing of roll to workflow
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add another notificatoin
  lang/de.json
Due: npm run lint:lang
