Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

feat: add support for multiple extra threads enhancements of same type
  module/applications/configs/spell-enhancements-config.mjs
  module/data/item/spell.mjs
  templates/configs/spell-enhancements-config.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add support for multiple constraints of same type in knacks
  module/applications/configs/constraints-config.mjs
  module/data/item/templates/knack-item.mjs
  templates/configs/constraints-config.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: fix JSDoc types from `DataModel` to `DataSchema` in schema merge methods
  module/data/abstract/sparse-data-model.mjs
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: introduce `TypedEntryData` as common base class for `MetricData` and `ConstraintData`
  module/data/common/_module.mjs
  module/data/common/metrics.mjs
  module/data/common/restrict-require.mjs
  module/data/common/typed-entry-data.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add mixin for managing typed entries in data models
  module/data/common/typed-entry-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: enhance mixin handling to include inherited prototype members
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace constraint handling methods with typed entry manager mixin
  module/applications/configs/constraints-config.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace enhancement handling in spells with typed entry manager mixin
  module/applications/configs/spell-enhancements-config.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update JSDoc type for `fieldName` parameter in `TypedObjectField` method
  module/data/common/typed-entry-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: knockdown not editable
  templates/actor/actor-tabs/general.hbs
Due: none

feat: add stepTables configuration for multiple edition settings
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add chat avatar settings configuration
  module/config/chat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update game settings to use DataFields for types
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: remove `localize` calls from button labels across modules
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/character-sheet.mjs
  module/applications/advancement/assign-legend.mjs
  module/applications/advancement/lp-history.mjs
  module/applications/global/roll-prompt.mjs
  module/hooks/ready.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: centralize and streamline JSDoc typedefs, update references for consistency
  documentation/Guideline.md
  module/_types.mjs
  module/applications/actor/character-generation-prompt.mjs
  module/applications/api/dialog.mjs
  module/applications/global/prompt-factory.mjs
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: make fields only editable for none-pc
  templates/actor/actor-tabs/general.hbs
Due: none

style: move coded style to css
  less/prompts/legend-points-history.less
  module/applications/advancement/lp-history.mjs
  module/data/advancement/lp-tracking.mjs
  templates/actor/legend-points/history-spend.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

style: compile less
  earthdawn4e.css
Due: none

chore: remove unused datetime data field
  module/data/fields/_module.mjs
  module/data/fields/datetime-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove to do, button rows are already styled
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, handled in #602
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, handled in #2664
  module/data/item/templates/physical-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, not necessary for now
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, handled in #3384
  module/data/roll/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, handled in #2532
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, migration will be removed
  module/services/migrations/v082/document-type-migrations/item/connections.mjs
  module/services/migrations/v082/type-transformations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove TODO, handled in #3362
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove dead localization code
  lang/de.json
Due: npm run lint:lang

chore: auto update lang - en
  lang/en.json
Due: npm run lint:lang

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

refactor: rename globalBonuses to globalModifiers
  lang/de.json
  module/config/effects.mjs
  module/config/statuses.mjs
  module/data/actor/templates/common.mjs
  module/data/roll/attack.mjs
  module/data/roll/common.mjs
  module/data/roll/damage.mjs
  module/data/roll/jump-up.mjs
  module/data/roll/knockdown.mjs
  module/workflows/workflow/attribute-workflow.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/knockdown-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

refactor: rename singleBonuses to singleModifiers
  lang/de.json
  module/config/effects.mjs
  module/data/actor/templates/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

refactor: rename dynamic uses from bonuses to modifiers
  lang/de.json
  module/data/roll/common.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
