Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Remove debug logging
  templates/global/document-creation.hbs
Due: none

Fix PC system type name
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add module exports with upper case for document class name conformity with foundry
  module/data/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor module exports and system data registration
  module/data/_module.mjs
  module/data/actor/_module.mjs
  module/data/chat/_module.mjs
  module/data/combatant/_module.mjs
  module/data/effects/_module.mjs
  module/data/item/_module.mjs
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor initialization logic into dedicated functions
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add type property to SystemDataModelMetadata doc
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update ActiveEffect type to use metadata
  module/applications/api/document-sheet-mixin.mjs
  module/config/document-data.mjs
  module/config/statuses.mjs
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor actor and item sheet type registration to use metadata types
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor item type references to use metadata
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/loot-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
  module/applications/global/document-creation.mjs
  module/applications/item/physical-item-sheet.mjs
  module/data/actor/pc.mjs
  module/dice/ed-roll.mjs
  module/documents/active-effect.mjs
  module/documents/actor.mjs
  module/hooks/ready.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix: remove non-existent hbs partials
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Linting
  module/applications/global/roll-prompt.mjs
  module/data/roll/horror-mark.mjs
  module/hooks/chat.mjs
  module/services/journal-service.mjs
  module/services/migrations/migration-manager.mjs
  module/services/migrations/v082/document-type-migrations/actor/character.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

large-hbs-update
  earthdawn4e.css
  lang/en.json
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-cursemark.hbs
  templates/item/item-partials/item-details/descriptions/item-description-devotion.hbs
  templates/item/item-partials/item-details/descriptions/item-description-discipline.hbs
  templates/item/item-partials/item-details/descriptions/item-description-effect.hbs
  templates/item/item-partials/item-details/descriptions/item-description-equipment.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
  templates/item/item-partials/item-details/descriptions/item-description-namegiver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
  templates/item/item-partials/item-details/descriptions/item-description-poisonDisease.hbs
  templates/item/item-partials/item-details/descriptions/item-description-power.hbs
  templates/item/item-partials/item-details/descriptions/item-description-questor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shield.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shipWeapon.hbs
  templates/item/item-partials/item-details/descriptions/item-description-skill.hbs
  templates/item/item-partials/item-details/descriptions/item-description-specialAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spellKnack.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
  templates/item/item-partials/item-details/partials/abilities.hbs
  templates/item/item-partials/item-details/partials/knack.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
  templates/item/item-partials/item-details/partials/spell.hbs
  templates/item/item-partials/item-section-top.hbs
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

npc-attribute-input-fixed
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/damage-none-character-card.hbs
Due: none

recovery-step-buffers
  templates/actor/actor-tabs/general.hbs
Due: none

effects-fix
  templates/global/effect-card.hbs
Due: none

encumbrance-fix
  earthdawn4e.css
  less/global/global.less
  less/global/meters.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/equipment.hbs
Due: none

fixed bug
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

light-mode-fix
  earthdawn4e.css
  less/global/config.less
  less/global/variables.less
Due: none

Refactor: replace deprecated Dialog usage with DialogEd
  module/applications/actor/common-sheet.mjs
  module/hooks/ready.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove GM-only restriction from execution script fields
  module/data/effects/eae.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix: correct level update logic by using parentDocument and return updated instances
  module/data/item/path.mjs
  module/data/item/questor.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/increasable-ability.mjs
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

make step and target fieldset scrollable
  templates/prompts/roll/part-step.hbs
  templates/prompts/roll/part-target.hbs
Due: none

Add jump up roll flavor template and update schema for jumpUpAbilityUuid
  module/config/rolls.mjs
  module/data/roll/jump-up.mjs
  templates/chat/chat-flavor/jump-up-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add jump up background SVG and update chat message styles
  assets/chat/messages/background-jump-up.svg
  less/chat/chat-messages.less
Due: none

Update roll flavor templates to use chat-sub-header-tags for improved styling
  templates/chat/chat-flavor/ability-roll-flavor.hbs
  templates/chat/chat-flavor/attack-roll-flavor.hbs
  templates/chat/chat-flavor/damage-roll-flavor.hbs
  templates/chat/chat-flavor/effect-roll-flavor.hbs
  templates/chat/chat-flavor/jump-up-roll-flavor.hbs
  templates/chat/chat-flavor/knockdown-roll-flavor.hbs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: none

Add/update localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Refactor actor type definitions to use SYSTEM constants
  module/applications/actor/vehicle-sheet.mjs
  module/data/actor/creature.mjs
  module/data/actor/dragon.mjs
  module/data/actor/group.mjs
  module/data/actor/horror.mjs
  module/data/actor/loot.mjs
  module/data/actor/npc.mjs
  module/data/actor/pc.mjs
  module/data/actor/spirit.mjs
  module/data/actor/trap.mjs
  module/data/actor/vehicle.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add const module with system types
  module/constants/_module.mjs
  module/constants/constants.mjs
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor chat message type definitions to use SYSTEM constants
  module/data/chat/attack.mjs
  module/data/chat/base-message.mjs
  module/data/chat/damage.mjs
  module/data/chat/initiative.mjs
  module/data/chat/spellcasting.mjs
  module/data/chat/thread-weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix constant name spelling
  module/applications/actor/vehicle-sheet.mjs
  module/constants/constants.mjs
  module/data/actor/creature.mjs
  module/data/actor/dragon.mjs
  module/data/actor/group.mjs
  module/data/actor/horror.mjs
  module/data/actor/loot.mjs
  module/data/actor/npc.mjs
  module/data/actor/pc.mjs
  module/data/actor/spirit.mjs
  module/data/actor/trap.mjs
  module/data/actor/vehicle.mjs
  module/data/chat/attack.mjs
  module/data/chat/base-message.mjs
  module/data/chat/damage.mjs
  module/data/chat/initiative.mjs
  module/data/chat/spellcasting.mjs
  module/data/chat/thread-weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor active effect type definitions to use constant
  module/data/effects/eae-condition.mjs
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor item type definitions to use constant
  module/data/item/armor.mjs
  module/data/item/binding-secrets.mjs
  module/data/item/curse-horror-mark.mjs
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/equipment.mjs
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/maneuver.mjs
  module/data/item/mask.mjs
  module/data/item/namegiver.mjs
  module/data/item/path.mjs
  module/data/item/poison-disease.mjs
  module/data/item/power.mjs
  module/data/item/questor.mjs
  module/data/item/shield.mjs
  module/data/item/ship-weapon.mjs
  module/data/item/skill.mjs
  module/data/item/special-ability.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/spell.mjs
  module/data/item/talent.mjs
  module/data/item/thread.mjs
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor combatant type definitions to use constant
  module/data/combatant/combatant.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor data model metadata to system type constants
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/loot-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/api/document-sheet-mixin.mjs
  module/applications/global/document-creation.mjs
  module/applications/item/physical-item-sheet.mjs
  module/config/document-data.mjs
  module/config/statuses.mjs
  module/data/actor/pc.mjs
  module/dice/ed-roll.mjs
  module/documents/active-effect.mjs
  module/documents/actor.mjs
  module/hooks/ready.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
