Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

fix: correct recovery roll type check for wound modifiers
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: remember scroll state in skills tab
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

reorganize into regions
  module/applications/api/application.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add render states to character sheet tabs
  module/applications/actor/character-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remember scroll states in document sheet tabs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/loot-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/applications/item/mask-item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Make it clearer that it's just a summary when attuning single matrix
  templates/workflow/attune-matrix.hbs
Due: none

fix wrong import overwriting global `game` constant
  module/data/roll/spellcasting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

use parts in render options without constructing from zero
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

don't re-render part "footer" per default
  module/applications/api/application.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

make reRenderFooter protected
  module/applications/api/application.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

rename "Getter" region to "Getters" for consistency
  module/applications/api/application.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix button re-render for class advancement
  module/applications/advancement/class-advancement.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove debug log
  templates/workflow/attune-matrix.hbs
Due: none

allow multiple values for weapon type in abilities with rolltype "attack"
  module/data/item/templates/ability.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

fix char gen prompt footer re-render
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add all discipline talents on char gen, also level 0
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update questor devotion handling and validation logic
  module/data/item/questor.mjs
  templates/item/item-partials/item-details/details/item-details-questor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix questor advancement logic
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove lp requirement for questor increase validation
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Improve prompt when no increase requirements are given
  templates/advancement/advancement-requirements.hbs
Due: none

Update localization: en
  lang/en.json
Due: npm run lint:lang

Fix questor/devotion level initialization to start at 0
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix missing learning rules for questor increase
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update lang: de
  lang/de.json
Due: npm run lint:lang

don't re-render footer buttons
  module/applications/global/document-creation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

circle-and-chargen
  earthdawn4e.css
  lang/en.json
  less/prompts/character-generation.less
Due: npm run lint:lang

Move method to adjust level to top level
  module/data/item/templates/increasable-ability.mjs
  module/data/item/templates/lp-increase.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add level adjustment functionality for NPC items
  module/applications/actor/sentient-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
