Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

remove default attacks
  lang/de.json
  module/config/workflows.mjs
  module/workflows/workflow/substitute-workflow.mjs
  templates/actor/cards/special-abilities-characters.hbs
  templates/actor/cards/thread-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

fixed item status
  module/applications/actor/sentient-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove unnecessary navigator options
  module/utils.mjs
  templates/actor/actor-partials/actor-section-navigator.hbs
  templates/actor/character-sheet.hbs
  templates/actor/npc-sheet.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

test-pr
  less/sheets/actor-sheet-layout.less
Due: none

create-movement-container
  assets/icons/jump-up.svg
  assets/icons/knockdown.svg
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: none

special-abilities
  templates/actor/actor-tabs/notes.hbs
  templates/actor/cards/special-abilities-characters.hbs
Due: none

game/edit-mode+icons
  earthdawn4e.css
  less/global/global.less
  templates/actor/actor-tabs/general.hbs
Due: none

buffer-resized
  earthdawn4e.css
  less/global/global.less
Due: none

full-game-mode
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-partials/actor-section-top-pc.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/health-character-card.hbs
Due: none

Add chooseActorPrompt method to display actor selection dialog
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add weaveThread method and update weaveThread action to use it
  module/applications/item/physical-item-sheet.mjs
  module/documents/actor.mjs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add WeaveThreadWorkflow class and integrate it into the weaveThread method
  module/documents/actor.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Implement thread management methods and enhance true pattern capabilities
  module/data/item/thread.mjs
  module/data/thread/true-pattern.mjs
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

initiative fixed
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: none

attributes+cleanup
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/health-character-card.hbs
Due: none

Validate transaction type in addLpTransaction method
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread weaving difficulty constants
  module/config/magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Finish lp increase method
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance thread weaving functionality to support general thread weaving
  module/data/roll/weaving.mjs
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Finish weave thread workflow
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor weaveThread method to support existing threads and improve documentation
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread weaving functionality to handle thread connections in character sheet
  module/applications/actor/character-sheet.mjs
  templates/actor/cards/thread-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Ensure minimum values and fix global modifier application
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix correct rollable workflow handling
  module/workflows/workflow/attribute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix correct rollable workflow handling
  module/workflows/workflow/half-magic-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix correct rollable workflow handling and alternate workflow
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Store scroll state on document sheets
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix doc
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor item description mask and update power handling in mask logic
  module/applications/item/mask-item-sheet.mjs
  module/data/item/mask.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add icon for 'x' to the icon mapping in system.mjs
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace delete buttons with icon-based controls in power and maneuver items
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: none

Remove scrollable property from document sheet mixin
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
