Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Only copy source spell data if sourceItem changes
  module/data/item/spell-knacks.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

remove image migration from abilites
  module/services/migrations/v082/document-type-migrations/item/abilities.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add spellmatrix to the migration
  module/services/migrations/v082/document-type-migrations/item/_module.mjs
  module/services/migrations/v082/type-transformations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

set ed id by name
  module/services/migrations/v082/document-type-migrations/item/edid.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

matrix migration
  module/services/migrations/v082/document-type-migrations/item/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Power migration
  dictionaries/0_8_2_migration-words.txt
  module/services/migrations/v082/document-type-migrations/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

correct power switch case straight
  module/services/migrations/v082/type-transformations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix none selectable actors
  module/applications/advancement/assign-legend.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

button-style-global
  earthdawn4e.css
  less/global/config.less
  less/global/elements.less
  less/global/global.less
  less/global/icons.less
  less/global/meters.less
  less/global/variables.less
  less/sheets/actor-sheet-layout.less
  less/sheets/owned-items-view.less
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/equipment-card.hbs
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

localisation-fix
  templates/actor/cards/ability-card.hbs
Due: none

test update migrations
  module/config/migrations.mjs
  module/services/migrations/v082/field-migrations/action.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update action.mjs
  module/services/migrations/v082/field-migrations/action.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update migrations.mjs
  module/config/migrations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update .lintstagedrc.yaml
  .lintstagedrc.yaml
Due: none

Fix: dont merge recursively when preparing render context
  module/applications/item/item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove magic numbers
  module/services/migrations/v082/document-type-migrations/item/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove none existiing activateTab function
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add circle as option to lelevl migration
  module/services/migrations/v082/field-migrations/level.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

spell migration
  dictionaries/0_8_2_migration-words.txt
  lang/de.json
  module/config/migrations.mjs
  module/services/migrations/v082/document-type-migrations/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update spell.mjs
  module/services/migrations/v082/document-type-migrations/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor: streamline source spell data copying and remove unused linkableKnacks field
  module/data/item/spell-knacks.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update spellKnack item templates
  lang/de.json
  module/utils.mjs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spellKnack.hbs
  templates/item/item-partials/item-details/details/item-details-spellKnack.hbs
  templates/item/item-partials/item-details/partials/knack.hbs
  templates/item/item-partials/item-details/partials/spell.hbs
  templates/item/item-sheet.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

incorporate comments
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

button-style
  earthdawn4e.css
  less/global/config.less
  less/global/icons.less
  less/global/variables.less
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

Add spell knacks mapping and improve reactions method documentation
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update _preCreate method to handle source item changes with containingActor
  module/data/item/spell-knacks.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell knacks to context in sentient-sheet
  module/applications/actor/sentient-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell knack card template to actor cards
  module/utils.mjs
  templates/actor/cards/spell-knack-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell knack card support to spell cards and styles
  less/earthdawn4e.less
  less/sheets/spell-card.less
  less/sheets/spell-knack-card.less
  templates/actor/actor-tabs/spells.hbs
  templates/actor/cards/spell-card.hbs
  templates/actor/cards/spell-knack-card.hbs
Due: none
