Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

refactor: streamline knockdown workflow and remove redundant properties
  module/documents/actor.mjs
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: reorder `GLOBAL_MODIFIERS` application order
  module/data/roll/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update rollToMessage initialization with options
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: remove "halfmagic" entry from grammar check
  dictionaries/ed4e-words.txt
Due: none

feat: add `HalfMagicRollOptions`
  module/data/roll/half-magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: standardize "halfmagic" references to "halfMagic"
  lang/de.json
  module/applications/actor/namegiver-sheet.mjs
  module/config/handlebars.mjs
  module/config/rolls.mjs
  module/config/system.mjs
  module/data/item/templates/rollable.mjs
  templates/chat/chat-flavor/half-magic-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

refactor: move roll init to roll options
  module/workflows/workflow/half-magic-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update lang - en
  lang/en.json
Due: npm run lint:lang

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

fix: add missing localization key
  module/workflows/workflow/jump-up-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: export `HalfMagicRollOptions` module
  module/data/roll/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update localization - de
  lang/de.json
Due: npm run lint:lang

feat: add roll prompt title
  module/workflows/workflow/half-magic-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update localization - en
  lang/en.json
Due: npm run lint:lang

fix: render unescaped custom flavor content in half-magic roll
  templates/chat/chat-flavor/half-magic-roll-flavor.hbs
Due: none

fix: use automatic chat flavor generation
  module/data/roll/half-magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add target difficulty handling to half-magic workflow
  module/workflows/workflow/half-magic-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: improve half-magic roll flavor
  templates/chat/chat-flavor/half-magic-roll-flavor.hbs
Due: none

fix: use safe string for correct html evaluation
  templates/chat/chat-flavor/attribute-roll-flavor.hbs
Due: none

feat: add `AttributeRollOptions` class for handling attribute-based rolls
  module/data/roll/_module.mjs
  module/data/roll/attribute.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update `AttributeWorkflow` to use `AttributeRollOptions` and add difficulty handling
  module/workflows/workflow/attribute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update lang - de
  lang/de.json
Due: npm run lint:lang

chore: format file
  templates/chat/chat-flavor/attribute-roll-flavor.hbs
Due: none

docs: add `AttributeBasedRollType` typedef and export associated roll types
  module/_types.mjs
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add `rollAttributeBased` method for attribute-based roll workflows
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: rename button action identifiers to defined type
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: move attribute roll type selection to document
  module/applications/actor/sentient-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: correct formGroup binding for class advancement effects
  templates/item/item-partials/item-details/other-tabs/class-advancement.hbs
Due: none

fix: allow null values for attack ability and UUID in attack roll
  module/data/roll/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add `jumpUpStep` field to sentient actor templates
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: prepare jumpUpStep for pc data
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: use new `jumpUpStep` in roll calculation instead of base DEX step
  module/data/roll/jump-up.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace manual inputs with `formInput` helper for jumpUpStep and knockdownStep fields
  templates/actor/actor-tabs/general.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
