Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Add paths to hot reload configuration for templates and lang files
  system.json
Due: none

done
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/documents/item.mjs
  module/documents/migration/actor/old-system-V082/evaluate-knacks.mjs
  module/documents/migration/item/old-system-V082/knack.mjs
  module/system/migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix wrong localization
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: none

include standard foundry roll options + chat command localization
  lang/de.json
  module/config/chat.mjs
  module/hooks/chat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Add pre-localization for untyped data models and define schema in sparse data model
  module/data/abstract/sparse-data-model.mjs
  module/hooks/i18n.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor roll prompt and data handling
  module/applications/global/roll-prompt.mjs
  module/data/roll/common.mjs
  module/dice/ed-roll.mjs
  module/utils.mjs
  templates/chat/dice-partials/roll-summary.hbs
  templates/prompts/roll-prompt.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add dynamic names for modifiers and conditionally rendering modifier groups
  templates/prompts/roll-prompt.hbs
Due: none

Split roll prompt template into parts
  module/applications/global/roll-prompt.mjs
  templates/prompts/roll-prompt.hbs
  templates/prompts/roll/part-resources.hbs
  templates/prompts/roll/part-step.hbs
  templates/prompts/roll/part-strain.hbs
  templates/prompts/roll/part-target.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Set initial value of NumberField to 0
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update German localization for roll options and modifiers
  lang/de.json
Due: npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Lint
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Lint
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

worked in Comments
  lang/de.json
Due: npm run lint:lang

rename class specific options
  lang/de.json
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: npm run lint:lang

refactor character generation
  module/applications/actor/character-generation-prompt.mjs
  templates/actor/generation/attribute-assignment.hbs
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/language-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
  templates/actor/generation/skill-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Incorporate review feedback
  lang/de.json
Due: npm run lint:lang

incorporate comments
  lang/de.json
Due: npm run lint:lang

add no ability with level 0
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fixed wrong localization settings
  lang/de.json
  module/hooks/chat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix talents added with correct rank
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add the questor devotion uuid to the class item
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add support for spirit type thread weaving
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add icons for Astral Pollution states in the system
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance thread weaving retrieval for horror and spirit types
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix null check for matrix in thread weaving ability
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
