Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Style char gen classes tab
  less/prompts/character-generation.less
  templates/actor/generation/class-selection.hbs
Due: none

Style char gen meters
  less/global/variables.less
  less/prompts/character-generation.less
  templates/actor/generation/class-selection.hbs
Due: none

Refactor: Simplify button visibility logic in character generation prompt
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Continue with class tab char gen redesign
  earthdawn4e.css
  less/global/global.less
  less/global/variables.less
  less/prompts/character-generation.less
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
Due: none

Style char gen attributes tab
  less/prompts/character-generation.less
  templates/actor/generation/attribute-assignment.hbs
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
Due: none

Add name selection to char gen
  less/prompts/character-generation.less
  module/config/legend.mjs
  module/data/actor/pc.mjs
  module/data/other/character-generation.mjs
  templates/actor/generation/namegiver-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Style char gen equipment tab
  less/prompts/character-generation.less
  module/applications/actor/character-generation-prompt.mjs
  templates/actor/generation/equipment-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Style char gen spell tab
  less/prompts/character-generation.less
  module/applications/actor/character-generation-prompt.mjs
  module/data/other/character-generation.mjs
  templates/actor/generation/spell-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Style char gen languages tab
  less/prompts/character-generation.less
  templates/actor/generation/language-selection.hbs
Due: none

Style char gen skills tab
  less/prompts/character-generation.less
  module/applications/actor/character-generation-prompt.mjs
  module/data/other/character-generation.mjs
  templates/actor/generation/attribute-assignment.hbs
  templates/actor/generation/skill-selection.hbs
  templates/actor/generation/spell-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update light theme
  less/prompts/character-generation.less
Due: none

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Compile LESS
  earthdawn4e.css
Due: none

small-fixes
  earthdawn4e.css
  less/global/global.less
  templates/placeholder.hbs
  templates/standard-sheet.hbs
Due: none

hbs-cleanup
  templates/actor/actor-partials/actor-section-buttons-group.hbs
  templates/actor/actor-partials/actor-section-buttons-loot.hbs
  templates/actor/actor-partials/actor-section-buttons-namegiver.hbs
  templates/actor/actor-partials/actor-section-buttons-sentient.hbs
  templates/actor/actor-partials/actor-section-buttons-trap.hbs
  templates/actor/actor-partials/actor-section-buttons-vehicle.hbs
  templates/actor/actor-tabs/classes.hbs
  templates/actor/character-sheet.hbs
  templates/actor/creature-sheet.hbs
  templates/actor/dragon-sheet.hbs
  templates/actor/group-sheet.hbs
  templates/actor/horror-sheet.hbs
  templates/actor/loot-sheet.hbs
  templates/actor/npc-sheet.hbs
  templates/actor/spirit-sheet.hbs
  templates/actor/trap-sheet.hbs
  templates/actor/vehicle-sheet.hbs
Due: none

pr-for-rebase
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/config.less
  less/global/editor.less
  less/global/elements.less
  less/global/variables.less
  less/item/item-sheet-global.less
  less/item/item-sheet-header.less
  module/applications/item/class-item-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/utils.mjs
  templates/actor/actor-tabs/classes.hbs
  templates/actor/actor-tabs/configuration.hbs
  templates/actor/actor-tabs/connections.hbs
  templates/actor/actor-tabs/description.hbs
  templates/actor/actor-tabs/devotions.hbs
  templates/global/editor-brief.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/partials/abilities.hbs
  templates/item/item-partials/item-section-name.hbs
  templates/item/item-partials/item-section-top.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

talents-and-skills done
  assets/sheet/parchment-dark.webp
  earthdawn4e.css
  less/global/config.less
  less/item/item-sheet-global.less
  less/item/item-sheet-header.less
  templates/item/item-partials/item-details/descriptions/item-description-skill.hbs
  templates/item/item-partials/item-details/details/item-details-skill.hbs
  templates/item/item-partials/item-details/details/item-details-talent.hbs
  templates/item/item-partials/item-details/partials/roll-type.hbs
  templates/item/item-partials/item-details/partials/targeting.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

abilitlies-complete
  templates/item/item-partials/item-details/descriptions/item-description-devotion.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-specialAbility.hbs
  templates/item/item-partials/item-details/details/item-details-knackAbility.hbs
  templates/item/item-partials/item-details/details/item-details-knackKarma.hbs
  templates/item/item-partials/item-details/details/item-details-knackManeuver.hbs
  templates/item/item-partials/item-details/partials/knack.hbs
Due: none

pr-for-rebase
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/config.less
  less/global/editor.less
  less/global/elements.less
  less/global/variables.less
  less/item/item-sheet-global.less
  less/item/item-sheet-header.less
  module/applications/item/class-item-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/utils.mjs
  templates/actor/actor-tabs/configuration.hbs
  templates/actor/actor-tabs/connections.hbs
  templates/actor/actor-tabs/description.hbs
  templates/actor/actor-tabs/devotions.hbs
  templates/global/editor-brief.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/partials/abilities.hbs
  templates/item/item-partials/item-section-name.hbs
  templates/item/item-partials/item-section-top.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

powers-conditions complete
  templates/item/item-partials/item-details/descriptions/item-description-cursemark.hbs
  templates/item/item-partials/item-details/descriptions/item-description-effect.hbs
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-poisonDisease.hbs
  templates/item/item-partials/item-details/descriptions/item-description-power.hbs
  templates/item/item-partials/item-details/details/item-details-power.hbs
Due: none

armour-and-correction
  earthdawn4e.css
  less/item/item-sheet-global.less
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-poisonDisease.hbs
  templates/item/item-partials/item-details/details/item-details-armor.hbs
  templates/item/item-partials/item-details/details/item-details-physicalItems.hbs
  templates/item/item-partials/item-details/partials/usable-items.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

disciplines-created
  assets/sheet/ed-symbol-dark.png
  assets/sheet/ed-symbol-light.png
  assets/sheet/parchment-light.webp
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/config.less
  less/item/discipline.less
  less/item/item-sheet-global.less
  less/item/item-sheet-header.less
  less/sheets/character-sheet.less
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-discipline.hbs
  templates/item/item-partials/item-details/descriptions/item-description-equipment.hbs
  templates/item/item-partials/item-details/details/item-details-discipline.hbs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
Due: none

physical-item-fix
  templates/item/item-partials/item-details/partials/physical-items.hbs
Due: none

spell-items
  earthdawn4e.css
  lang/en.json
  less/global/global.less
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
  templates/item/item-partials/item-details/details/item-details-spell.hbs
  templates/item/item-partials/item-details/item-effects.hbs
  templates/item/item-partials/item-details/partials/spell.hbs
  templates/item/item-partials/item-section-top.hbs
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

reset-item-hbs
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-cursemark.hbs
  templates/item/item-partials/item-details/descriptions/item-description-devotion.hbs
  templates/item/item-partials/item-details/descriptions/item-description-discipline.hbs
  templates/item/item-partials/item-details/descriptions/item-description-effect.hbs
  templates/item/item-partials/item-details/descriptions/item-description-equipment.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-poisonDisease.hbs
  templates/item/item-partials/item-details/descriptions/item-description-power.hbs
  templates/item/item-partials/item-details/descriptions/item-description-skill.hbs
  templates/item/item-partials/item-details/descriptions/item-description-specialAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/details/item-details-armor.hbs
  templates/item/item-partials/item-details/details/item-details-discipline.hbs
  templates/item/item-partials/item-details/details/item-details-knackAbility.hbs
  templates/item/item-partials/item-details/details/item-details-knackKarma.hbs
  templates/item/item-partials/item-details/details/item-details-knackManeuver.hbs
  templates/item/item-partials/item-details/details/item-details-physicalItems.hbs
  templates/item/item-partials/item-details/details/item-details-power.hbs
  templates/item/item-partials/item-details/details/item-details-skill.hbs
  templates/item/item-partials/item-details/details/item-details-spell.hbs
  templates/item/item-partials/item-details/details/item-details-talent.hbs
  templates/item/item-partials/item-details/details/item-details-weapon.hbs
  templates/item/item-partials/item-details/item-effects.hbs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
  templates/item/item-partials/item-details/partials/abilities.hbs
  templates/item/item-partials/item-details/partials/knack.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
  templates/item/item-partials/item-details/partials/roll-type.hbs
  templates/item/item-partials/item-details/partials/spell.hbs
  templates/item/item-partials/item-details/partials/targeting.hbs
  templates/item/item-partials/item-details/partials/usable-items.hbs
  templates/item/item-partials/item-section-name.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

details-hbs-set-up-for-edit-mode
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/details/item-details-armor.hbs
  templates/item/item-partials/item-details/details/item-details-bindingSecret.hbs
  templates/item/item-partials/item-details/details/item-details-cursemark.hbs
  templates/item/item-partials/item-details/details/item-details-devotion.hbs
  templates/item/item-partials/item-details/details/item-details-discipline.hbs
  templates/item/item-partials/item-details/details/item-details-effect.hbs
  templates/item/item-partials/item-details/details/item-details-equipment.hbs
  templates/item/item-partials/item-details/details/item-details-knackAbility.hbs
  templates/item/item-partials/item-details/details/item-details-knackKarma.hbs
  templates/item/item-partials/item-details/details/item-details-knackManeuver.hbs
  templates/item/item-partials/item-details/details/item-details-maneuver.hbs
  templates/item/item-partials/item-details/details/item-details-mask.hbs
  templates/item/item-partials/item-details/details/item-details-namegiver.hbs
  templates/item/item-partials/item-details/details/item-details-path.hbs
  templates/item/item-partials/item-details/details/item-details-physicalItems.hbs
  templates/item/item-partials/item-details/details/item-details-poisonDisease.hbs
  templates/item/item-partials/item-details/details/item-details-power.hbs
  templates/item/item-partials/item-details/details/item-details-questor.hbs
  templates/item/item-partials/item-details/details/item-details-shield.hbs
  templates/item/item-partials/item-details/details/item-details-shipWeapon.hbs
  templates/item/item-partials/item-details/details/item-details-skill.hbs
  templates/item/item-partials/item-details/details/item-details-specialAbility.hbs
  templates/item/item-partials/item-details/details/item-details-spell.hbs
  templates/item/item-partials/item-details/details/item-details-spellKnack.hbs
  templates/item/item-partials/item-details/details/item-details-talent.hbs
  templates/item/item-partials/item-details/details/item-details-thread.hbs
  templates/item/item-partials/item-details/details/item-details-weapon.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

description-hbs-given-editable/readonly-div-class
  templates/item/item-partials/item-details/descriptions/item-description-bindingSecret.hbs
  templates/item/item-partials/item-details/descriptions/item-description-cursemark.hbs
  templates/item/item-partials/item-details/descriptions/item-description-devotion.hbs
  templates/item/item-partials/item-details/descriptions/item-description-discipline.hbs
  templates/item/item-partials/item-details/descriptions/item-description-effect.hbs
  templates/item/item-partials/item-details/descriptions/item-description-equipment.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
  templates/item/item-partials/item-details/descriptions/item-description-namegiver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
  templates/item/item-partials/item-details/descriptions/item-description-poisonDisease.hbs
  templates/item/item-partials/item-details/descriptions/item-description-power.hbs
  templates/item/item-partials/item-details/descriptions/item-description-questor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shield.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shipWeapon.hbs
  templates/item/item-partials/item-details/descriptions/item-description-skill.hbs
  templates/item/item-partials/item-details/descriptions/item-description-specialAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spellKnack.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
Due: none

localisation-fix
  templates/item/item-partials/item-details/details/item-details-spell.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
