Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Fix getAttunedMatrix method to not only check for active spells in the actor's matrix
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix active spell handling in matrix to reset if not in spell list
  module/data/item/templates/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add workflows for spellcasting methods: grimoire, matrix, and raw
  module/data/item/spell.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/grimoire-casting-workflow.mjs
  module/workflows/workflow/matrix-casting-workflow.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor thread weaving talent retrieval to a dedicated method
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add isWeavingComplete property to determine spell casting readiness
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add global bonus modifiers to spellcasting step data
  module/data/roll/spellcasting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add result property to workflow for accessing operation outcomes
  module/workflows/workflow/workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix localization syntax for selected extra threads display
  templates/workflow/select-extra-threads.hbs
Due: none

Export module constants for improved accessibility
  module/config/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add BaseCastingWorkflow class for unified spellcasting workflows and add MatrixCastingWorkflow
  module/data/item/spell.mjs
  module/data/roll/spellcasting.mjs
  module/data/roll/weaving.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/base-casting-workflow.mjs
  module/workflows/workflow/matrix-casting-workflow.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

small fixes to prior migrations and sheet setup
  module/config/migrations.mjs
  module/data/item/migration/old-system-V082/weight.mjs
  templates/item/item-partials/item-details/partials/physical-items.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add some missing hints and labels for none standard fields
  lang/de.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update availability.mjs
  module/data/item/migration/old-system-V082/availability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update discipline-advancement.hbs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: none

Update discipline.mjs
  module/data/item/discipline.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fixed requirement for a discipline on drop event
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor GrimoireCastingWorkflow and RawCastingWorkflow to extend BaseCastingWorkflow
  module/workflows/workflow/grimoire-casting-workflow.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update German localization for spellcasting options and related messages
  lang/de.json
Due: npm run lint:lang

Remove localization strings for warning messages in casting workflows
  module/workflows/workflow/grimoire-casting-workflow.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang files - en
  lang/en.json
Due: npm run lint:lang

Auto update lang files - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang files - pl
  lang/pl.json
Due: npm run lint:lang

change datamodel to nullable
  module/data/item/talent.mjs
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor stopOnWeaving property handling in casting workflows
  module/workflows/workflow/base-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

create an error log based on the system version
  module/hooks/ready.mjs
  module/settings.mjs
  module/system/_module.mjs
  module/system/migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

working good ready for definition
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/migration/old-system-V082/_module.mjs
  module/data/item/migration/old-system-V082/knacks.mjs
  module/documents/migration/actor/old-system-V082/character.mjs
  module/documents/migration/item/old-system-V082/knack.mjs
  module/settings.mjs
  module/system/migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

journal improvements
  module/data/item/knack-ability.mjs
  module/data/item/migration/old-system-V082/attribute.mjs
  module/data/item/migration/old-system-V082/knacks.mjs
  module/data/item/migration/old-system-V082/usable-items.mjs
  module/documents/item.mjs
  module/documents/migration/actor/old-system-V082/_module.mjs
  module/documents/migration/actor/old-system-V082/character.mjs
  module/documents/migration/actor/old-system-V082/evaluate-knacks.mjs
  module/documents/migration/item/old-system-V082/knack.mjs
  module/system/migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

added todo
  module/data/item/migration/old-system-V082/attribute.mjs
  module/system/migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove hot reload functionality for Handlebars templates
  module/config/_module.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

working now
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

adapt based on comments
  module/data/item/migration/old-system-V082/availability.mjs
  module/data/item/migration/old-system-V082/weight.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add scene configuration and astral pollution options for Earthdawn
  lang/de.json
  module/applications/_module.mjs
  module/applications/scene/_module.mjs
  module/applications/scene/scene-config.mjs
  module/config/magic.mjs
  module/config/system.mjs
  module/hooks/init.mjs
  templates/configs/scene-config-tab-ed.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Revert "Remove hot reload functionality for Handlebars templates"
  module/config/_module.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove hot reload functionality for Handlebars templates
  module/config/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
