Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Update item.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update mask-item-sheet.mjs
  module/applications/item/mask-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add event to be able to do quickDeletions
  module/applications/item/mask-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactored delete function
  lang/de.json
  module/data/item/mask.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

fixed localization
  lang/de.json
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: npm run lint:lang

add combat type to damage rolltype details
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add ability to choose adder and replacement abilities in prompts
  module/applications/combat/start-round-combatant-prompt.mjs
  module/applications/global/_module.mjs
  module/applications/global/choose-adder-substitute.mjs
  module/data/item/templates/ability.mjs
  module/documents/actor.mjs
  templates/prompts/choose-adder-substitute.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add increaseAbilities and increaseAbilityUuids to damage options
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add modifiers for increased abilities in damage calculations
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor ability selection to return structured adder and substitute abilities
  module/applications/global/choose-adder-substitute.mjs
  module/documents/actor.mjs
  templates/prompts/choose-adder-substitute.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update damage source document description for clarity
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add typedef for RollableWorkflowOptions and enhance documentation
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update damage source handling to use rankFinal for base damage calculation
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor willpower retrieval method to public
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

rename getAdderAndReplacementAbilities
  module/applications/combat/start-round-combatant-prompt.mjs
  module/applications/global/choose-adder-substitute.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add chooseDamageModifier prompt and update prompt type mapping
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update execute method return type to use specific result type
  module/workflows/workflow/workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add _result property to RollableWorkflow for evaluated roll tracking
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: handle rollData retrieval with fallback options
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: integrate CombatDamageWorkflow for damage rolling
  module/data/item/spell.mjs
  module/data/item/templates/ability.mjs
  module/data/item/weapon.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

implement CombatDamageWorkflow for handling combat damage rolls
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/damage-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add localization: de
  lang/de.json
Due: npm run lint:lang

auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

incorportate comments
  lang/de.json
  module/applications/item/mask-item-sheet.mjs
  module/data/item/mask.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

remove empty option from increaseAbilities multi-select
  templates/combat/start-round-combatant-prompt.hbs
Due: none

rename getDamageModifierAbilities to getModifierAbilities
  module/applications/combat/start-round-combatant-prompt.mjs
  module/applications/global/choose-adder-substitute.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor item removal logic to use UUID and type parameters for powers and maneuvers
  module/applications/item/mask-item-sheet.mjs
  module/data/item/mask.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add suggestions
  documentation/wiki documentation/german/character-gameplay.html
  documentation/wiki documentation/german/characterbogen.html
Due: none
