Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Add item reference for effects in flavor template data
  module/data/roll/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add item reference for effects in spellcasting context
  module/data/roll/spellcasting.mjs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor effect roll flavor template to include assign effect button
  templates/chat/chat-flavor/effect-roll-flavor.hbs
Due: none

Fix reference to FormDataExtended in add change handler
  module/applications/effect/eae-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Improve warning message for applying damage without targets
  module/data/chat/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix data attribute for applying effects button in template
  templates/chat/chat-buttons/assign-effect.hbs
Due: none

Refactor ability and spellcasting roll flavor templates to include assign effect button
  templates/chat/chat-flavor/ability-roll-flavor.hbs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
Due: none

Refactor applied effects to use ActiveEffectData and add targetEffects getter
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add createActiveEffects method to apply active effects to the actor
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add createActiveEffects method to apply active effects to the actor
  module/data/chat/base-message.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove redundant assign effect button from spellcasting roll flavor template
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
Due: none

Add localization - de
  lang/de.json
Due: npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

incorporate comments
  module/services/migrations/v082/document-type-migrations/actor/character.mjs
  templates/actor/actor-tabs/talents.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

header-repeair
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-partials/actor-section-name.hbs
  templates/actor/actor-partials/actor-section-navigator.hbs
  templates/actor/actor-partials/actor-section-top-pc.hbs
  templates/actor/actor-partials/actor-section-top-sentient.hbs
  templates/actor/actor-tabs/description.hbs
  templates/actor/actor-tabs/devotions.hbs
  templates/actor/actor-tabs/equipment.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/legend.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/actor-tabs/powers.hbs
  templates/actor/actor-tabs/skills.hbs
  templates/actor/actor-tabs/specials.hbs
  templates/actor/actor-tabs/spells.hbs
  templates/actor/actor-tabs/talents.hbs
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
  templates/actor/cards/special-abilities-characters.hbs
  templates/actor/cards/special-abilities-npc.hbs
  templates/actor/cards/spell-card.hbs
  templates/actor/creature-sheet.hbs
  templates/actor/dragon-sheet.hbs
  templates/actor/generation/attribute-assignment.hbs
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/equipment-selection.hbs
  templates/actor/generation/language-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
  templates/actor/generation/skill-selection.hbs
  templates/actor/generation/spell-selection.hbs
  templates/actor/group-sheet.hbs
  templates/actor/horror-sheet.hbs
  templates/actor/loot-sheet.hbs
  templates/actor/spirit-sheet.hbs
  templates/actor/trap-sheet.hbs
  templates/actor/vehicle-sheet.hbs
Due: none

header-repair
  earthdawn4e.css
  less/global/global.less
Due: none

remove empty file path
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove readonly from none character attributes
  templates/actor/cards/attributes-none-pc-card.hbs
Due: none

Add armor type and ignore armor fields to power configuration
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add armor type and ignore armor fields to power configuration
  templates/item/item-partials/item-details/details/item-details-power.hbs
Due: none

Make damageStep nullable and update initial value
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add power damage configuration and initialization data
  module/config/combat.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor power.mjs to organize static properties and methods with region comments
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

actor-sheet-initiative
  earthdawn4e.css
  lang/en.json
  less/global/config.less
  less/global/global.less
  less/global/variables.less
  less/sheets/actor-sheet-layout.less
  module/applications/actor/character-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/special-abilities-npc.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Fix _preCreate method to handle early return from super call
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Implement damage step validation and synchronization in _preUpdate method
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add conditional rendering for damage settings in "power" details
  templates/item/item-partials/item-details/details/item-details-power.hbs
Due: none

Add support for "power" damage source type in damage calculations
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Implement damage rolling for "power" source type in rollDamage method
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add dynamic choices for element subtype in power details
  templates/item/item-partials/item-details/details/item-details-power.hbs
Due: none

Add weapon UUID to attack roll options and refactor damage roll options
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
