Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Refactor true pattern controls to separate editable and non-editable states, adding item history, research, and weave thread check buttons for non-editable users
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: none

Add threadType field and methods for determining thread type in ThreadData model
  module/config/magic.mjs
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add getters and methods for legend point increase in LpIncreaseTemplate
  module/data/item/templates/lp-increase.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add truePatternTypes enum based on threadTypes for better pattern type management
  module/config/magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add truePatternType getter and requiredLpForIncrease method to TruePatternData
  module/data/item/thread.mjs
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Implement placeholder notification for thread increase method
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add threadConnectedItems to context for legend item display
  module/applications/actor/character-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread card template for displaying thread details
  module/utils.mjs
  templates/actor/cards/thread-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance legend display with thread details
  templates/actor/actor-tabs/legend.hbs
Due: none

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Update spell.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update effects.mjs
  module/config/effects.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Handle null connected items in thread display
  module/applications/actor/character-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add UIDField class for automatic validation of 16 character UIDs
  module/data/fields/_module.mjs
  module/data/fields/uid-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add manualOverrideEffectId field with UIDField for validation
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Linting
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

reorganize methods and properties
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Improve doc
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ActiveEffect data for manualOverride configuration
  module/config/document-data.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods for manual override effect retrieval and creation
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods for adding and updating system changes in ActiveEffect
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add manual override effect creation and update functionality
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add manual override functionality and example
  module/applications/actor/character-sheet.mjs
  templates/actor/cards/health-character-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Override buttons are meant for play mode
  templates/actor/cards/health-character-card.hbs
Due: none

legend-tab-to-threads
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/legend.hbs
  templates/actor/cards/thread-card.hbs
Due: none

skills-categories
  lang/en.json
  templates/actor/actor-tabs/skills.hbs
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

increased divisions
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

cleaning up - remove legend tab and moved threads to connections tab
  lang/de.json
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/namegiver-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/services/migrations/v082/README.md
  module/services/migrations/v082/document-type-migrations/item/_module.mjs
  module/services/migrations/v082/document-type-migrations/item/connections.mjs
  module/services/migrations/v082/type-transformations.mjs
  module/utils.mjs
  templates/actor/actor-partials/actor-section-main.hbs
  templates/actor/actor-partials/actor-section-navigator.hbs
  templates/actor/actor-tabs/connections.hbs
  templates/actor/actor-tabs/reputation.hbs
  templates/actor/cards/thread-card.hbs
  templates/sheet-design-description.md
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
