Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Refactor recovery roll processing to utilize RollProcessor directly
  module/documents/actor.mjs
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update German localization for recovery workflow and notifications
  lang/de.json
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Fix localization key for reattuning cancelled notification
  module/workflows/workflow/attune-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add setting to check availability of recovery tests and update localization
  lang/de.json
  module/settings.mjs
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update lang file - en
  lang/en.json
Due: npm run lint:lang

Auto update lang file - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang file - pl
  lang/pl.json
Due: npm run lint:lang

done with data models
  lang/de.json
  module/data/roll/attuning.mjs
  module/data/roll/initiative.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Fix rolltype knockdown in method
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

migration equipment start
  dictionaries/0_8_2_migration-words.txt
  module/config/migrations.mjs
  module/data/item/armor.mjs
  module/data/item/equipment.mjs
  module/data/item/migration/old-system-V082/_module.mjs
  module/data/item/migration/old-system-V082/availability.mjs
  module/data/item/migration/old-system-V082/price.mjs
  module/data/item/migration/old-system-V082/usable-items.mjs
  module/data/item/migration/old-system-V082/weight.mjs
  module/data/item/shield.mjs
  module/data/item/templates/physical-item.mjs
  module/data/item/weapon.mjs
  module/documents/migration/item/old-system-V082/armor.mjs
  module/documents/migration/item/old-system-V082/equipment.mjs
  module/documents/migration/item/old-system-V082/shield.mjs
  module/documents/migration/item/old-system-V082/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

consumable
  module/data/item/equipment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

shield migration
  dictionaries/0_8_2_migration-words.txt
  module/data/item/shield.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Revert "Add setting to check availability of recovery tests and update localization"
  lang/de.json
  module/settings.mjs
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

recovery tests availability check for non-full rest scenarios
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

finish physical items
  dictionaries/0_8_2_migration-words.txt
  lang/de.json
  module/config/items.mjs
  module/config/migrations.mjs
  module/data/item/migration/old-system-V082/weight.mjs
  module/data/item/weapon.mjs
  module/documents/migration/item/old-system-V082/equipment.mjs
  module/documents/migration/item/old-system-V082/shield.mjs
  module/documents/migration/item/old-system-V082/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Rename AttuneWorkflow to AttuneMatrixWorkflow and update references
  module/data/item/templates/matrix.mjs
  module/documents/actor.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/attune-matrix-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add grimoire penalty field and update roll type to arbitrary
  module/data/roll/attuning.mjs
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix learned talent source class to use UUID
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor attuning and roll handling methods for improved clarity and structure
  module/data/roll/attuning.mjs
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add arbitrary roll type with corresponding label and flavor template
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update dialog titles for grimoire and spell selection during attunement
  lang/de.json
Due: npm run lint:lang

Add RollProcessor integration for enhanced roll processing
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add AttuneGrimoireWorkflow for managing grimoire attunement process
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/actor-workflow.mjs
  module/workflows/workflow/attune-grimoire-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update dialog titles for grimoire and spell selection during attunement
  module/workflows/workflow/attune-grimoire-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add attuned spell functionality to grimoire with related methods
  module/data/item/templates/grimoire.mjs
  templates/item/item-partials/item-details/partials/grimoire.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang files - en
  lang/en.json
Due: npm run lint:lang

Auto update lang files - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang files - pl
  lang/pl.json
Due: npm run lint:lang

Refactor attuning and roll handling methods for improved clarity and structure
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell checks for attuned matrix and if known by actor
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor chat flavor generation methods for improved data handling
  module/data/roll/attuning.mjs
  module/data/roll/common.mjs
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add SpellcastingRollOptions class and update roll flavor template
  module/data/roll/_module.mjs
  module/data/roll/spellcasting.mjs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance dialog item selection methods to support mixed item types and improve handling of empty inputs
  module/applications/api/dialog.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to check if actor has a suitable matrix for a given spell
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods to check if a spell is in actor's grimoires and if it is learned
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix remove unused form group for woven threads in matrix template
  templates/item/item-partials/item-details/partials/matrix.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
