Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

add element type and subtype
  lang/de.json
  templates/item/item-partials/item-details/partials/spell.hbs
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

styling to be able to work with spells
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  module/applications/item/item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

so
  module/data/fields/formula-field.mjs
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix formula data retrieval for item effects and update document origin reference
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove unused formula field preparation methods from form handling
  module/applications/effect/eae-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add duration data preparation for active effects
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update evaluate method to include default warning option
  module/data/fields/formula-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update Legendenpunkte.html
  documentation/wiki documentation/german/Legendenpunkte.html
Due: none

docu
  documentation/wiki documentation/german/Legendenpunkte.html
  documentation/wiki documentation/german/Release-notes.html
  documentation/wiki documentation/german/Verbesserungen.html
  documentation/wiki documentation/german/todos.txt
Due: none

adaptions
  documentation/wiki documentation/german/Verbesserungen.html
  documentation/wiki documentation/german/todos.txt
  lang/de.json
Due: npm run lint:lang

Update Verbesserungen.html
  documentation/wiki documentation/german/Verbesserungen.html
Due: none

Delete todos.txt
  documentation/wiki documentation/german/todos.txt
Due: none

Update Release-notes.html
  documentation/wiki documentation/german/Release-notes.html
Due: none

Add TruePatternData data model
  dictionaries/ed4e-words.txt
  module/data/thread/_module.mjs
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add parentDocument getter to sparse data model
  module/data/abstract/sparse-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

manage thread item levels with add and remove methods
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ThreadItemLevelData and integrate into TruePatternData
  module/data/item/templates/physical-item.mjs
  module/data/thread/_module.mjs
  module/data/thread/thread-base.mjs
  module/data/thread/thread-item-level.mjs
  module/data/thread/thread-level.mjs
  module/data/thread/true-pattern.mjs
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update localization prefix for TruePattern data
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Implement TruePattern functionality in PhysicalItemSheet, including add and delete actions, and update template references
  module/applications/item/physical-item-sheet.mjs
  module/data/item/_module.mjs
  module/data/item/templates/threads.mjs
  module/utils.mjs
  templates/item/item-partials/item-details/other-tabs/threads.hbs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor TruePattern schema to simplify mystical defense and update attached threads field type
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add parentDocument getter to system data model
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add generic delete confirmation prompt to prompt factory
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add 'add' icon to the icons export in system.mjs
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor thread item levels to support key knowledge fields and rename activeEffect to activeEffects
  module/data/thread/thread-item-level.mjs
  module/data/thread/true-pattern.mjs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update localization: de
  lang/de.json
Due: npm run lint:lang

Add confirmation prompt before deleting thread item level
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove unused dictionary custom word
  dictionaries/ed4e-words.txt
Due: none

Add quick delete option to generic delete confirmation prompt
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add support for shift key in delete confirmation prompts for thread item levels and true patterns
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor true pattern visibility logic and change thread item levels data field
  module/applications/item/physical-item-sheet.mjs
  module/data/thread/true-pattern.mjs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization: de
  lang/de.json
Due: npm run lint:lang

Add ESLint rule for operator linebreak style
  eslint.config.mjs
Due: none

Add abilities field to thread item levels in true patterns
  module/data/thread/thread-item-level.mjs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add knownToPlayer field to true patterns and update visibility logic
  module/applications/item/physical-item-sheet.mjs
  module/data/thread/thread-item-level.mjs
  module/data/thread/true-pattern.mjs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update: en
  lang/en.json
Due: npm run lint:lang

Auto update: fr
  lang/fr.json
Due: npm run lint:lang

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
