Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix: wrong operator precedence
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update active effects for Items to v14
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: adjust effect origin placement in permanent settings
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add support for formula-based duration values
  module/applications/effect/eae-sheet.mjs
  module/data/abstract/active-effect-data-model.mjs
  module/documents/active-effect.mjs
  templates/effect/duration.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update effect origin references
  module/data/item/templates/class.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update execution field paths
  module/applications/effect/eae-sheet.mjs
  module/documents/combat.mjs
  templates/effect/execution.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: adjust system field paths for execution-related templates
  templates/effect/change.hbs
  templates/effect/details.hbs
  templates/effect/execution.hbs
Due: none

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

chore: update lang - de
  lang/de.json
Due: npm run lint:lang

refactor: remove deprecated Active Effect files and related code
  module/data/_old_effects/_module.mjs
  module/data/_old_effects/eae-change-data.mjs
  module/data/_old_effects/eae-condition.mjs
  module/data/_old_effects/eae-duration.mjs
  module/data/_old_effects/eae.mjs
  module/documents/_old_active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update to `FormulaField` for `uses` in Active Effect duration
  module/data/abstract/active-effect-data-model.mjs
  templates/effect/duration.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: auto update lang - en
  lang/en.json
Due: npm run lint:lang

fix: correctly await debug document deletions
  module/hooks/ready.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: add migration methods for Active Effect
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: improve Active Effect migration logic and system field safety
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: add parentDocumentType migration to Active Effect
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: ensure `migrateData` methods returns values for Foundry v14
  module/data/actor/templates/description.mjs
  module/data/actor/templates/movement.mjs
  module/data/actor/templates/namegiver.mjs
  module/data/actor/templates/sentient.mjs
  module/data/item/templates/ability.mjs
  module/data/item/templates/action.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/increasable-ability.mjs
  module/data/item/templates/item-description.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/learnable.mjs
  module/data/item/templates/lp-increase.mjs
  module/data/item/templates/physical-item.mjs
  module/data/item/templates/targeting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

refactor: replace `_toInput` implementation with new HTMLFormulaInputElement
  module/data/fields/formula-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace AnyField with FormulaField in Effect Change Data
  module/data/effect/eae-change-data.mjs
  templates/effect/change.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: ensure system changes fallback to empty array before processing
  module/applications/effect/eae-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update FormDataExtended references to foundry app namespace
  module/applications/effect/eae-sheet.mjs
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: isPermanent for eae
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: fix durabilityBonus eae application phase
  module/config/effects.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: get new refactored originType for classEffects
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: level field name for input
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: none

refactor: advancement template to fit all classes
  module/applications/item/class-item-sheet.mjs
  module/config/handlebars.mjs
  templates/item/item-partials/item-details/other-tabs/class-advancement.hbs
  templates/item/item-partials/item-section-main.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: streamline class advancement template with formGroup usage
  templates/item/item-partials/item-details/other-tabs/class-advancement.hbs
Due: none

refactor: move `transfer` logic to system data
  lang/de.json
  module/applications/effect/eae-sheet.mjs
  module/data/abstract/active-effect-data-model.mjs
  module/documents/active-effect.mjs
  module/documents/item.mjs
  templates/effect/details.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix: render origin field document link
  templates/global/effect-card.hbs
Due: none

fix: add grid type to system.json
  system.json
Due: none

chore: update rollMode to v14 messageMode
  module/workflows/workflow/raw-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: sanitize chat commands by stripping HTML tags
  module/hooks/chat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update parts with new v14 categories
  module/applications/scene/scene-config.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: handle undefined properties in formatting helper
  module/helpers/formatting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: pass isItemEffect flag to effect-card partial
  templates/item/item-partials/item-details/item-effects.hbs
Due: none

fix: update template to use _uuid in card controls
  templates/global/card-options-effect.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
