Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

docs: move docs build to github workflow
  .github/workflows/pages.yml
  package.json
  typedoc.json
Due: none

docs: add Node.js setup step to GitHub Pages workflow
  .github/workflows/pages.yml
Due: none

build: update package-lock.json
  package-lock.json
Due: none

build: upgrade Node.js version to 24 in GitHub workflows
  .github/workflows/quench-report.yml
  .github/workflows/release-1-prepare.yml
  .github/workflows/release-2-start.yml
  .github/workflows/release-3-release.yml
  .github/workflows/unit-tests.yml
Due: none

build: remove unused NODE_VERSION env variable from workflows
  .github/workflows/quench-report.yml
  .github/workflows/release-2-start.yml
Due: none

build: user repo variable for NODE_VERSION in workflows
  .github/workflows/release-1-prepare.yml
  .github/workflows/release-3-release.yml
  .github/workflows/unit-tests.yml
Due: none

build: add eslint-plugin-typedoc and update build scripts
  package-lock.json
  package.json
Due: none

build: replace jsdoc with typedoc rules
  eslint.config.mjs
Due: none

docs: add type definitions for documents, actor data, and templates
  module/_types.mjs
  module/data/_types.mjs
  module/data/actor/templates/_types.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

build: remove typedoc tags rules to because of inherited docs
  eslint.config.mjs
Due: none

docs: improve JSDoc annotations for actor templates
  module/data/actor/templates/common.mjs
  module/data/actor/templates/description.mjs
  module/data/actor/templates/movement.mjs
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

build: improve navigation for documents with groups
  typedoc.json
Due: none

docs: restructure documentation categories and groups
  documentation/docs.de/character/character-gameplay.md
  documentation/docs.de/character/character-generation.md
  documentation/docs.de/character/character-sheet.md
  documentation/docs.de/index.md
  documentation/docs.de/legend/advancements.md
  documentation/docs.de/legend/legend-points.md
  documentation/docs.de/magic/threads-and-patterns.md
  documentation/docs.de/system/earthdawn-active-effects.md
  documentation/docs.de/system/release-notes.md
  documentation/docs/character/character-gameplay.md
  documentation/docs/character/character-generation.md
  documentation/docs/character/character-sheet.md
  documentation/docs/home.md
  documentation/docs/index.md
  documentation/docs/legend/advancements.md
  documentation/docs/legend/legend-points.md
  documentation/docs/magic/threads-and-patterns.md
  documentation/docs/system/earthdawn-active-effects.md
  documentation/docs/system/release-notes.md
Due: none

build: adjust typedoc navigation settings
  typedoc.json
Due: none

docs: update Typedoc theme
  earthdawn4e.mjs
  module/config/_module.mjs
  module/constants/_module.mjs
  module/helpers/_module.mjs
  module/utils/_module.mjs
  typedoc.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add multilingual documentation structure
  documentation/docs.de/index.md
  documentation/docs/index.md
Due: none

build: revert typedoc theme to default-modern until clean theme is updated
  typedoc.json
Due: none

docs: add template data types
  module/data/actor/templates/_types.mjs
  module/data/actor/templates/namegiver.mjs
  module/data/actor/templates/none-character.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add system data types for actor data
  module/data/actor/_types.mjs
  module/data/actor/creature.mjs
  module/data/actor/dragon.mjs
  module/data/actor/group.mjs
  module/data/actor/horror.mjs
  module/data/actor/loot.mjs
  module/data/actor/npc.mjs
  module/data/actor/pc.mjs
  module/data/actor/spirit.mjs
  module/data/actor/templates/_types.mjs
  module/data/actor/templates/description.mjs
  module/data/actor/templates/movement.mjs
  module/data/actor/trap.mjs
  module/data/actor/vehicle.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add system data types for item template data
  module/_types.mjs
  module/data/item/templates/_types.mjs
  module/data/item/templates/ability.mjs
  module/data/item/templates/action.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/grimoire.mjs
  module/data/item/templates/increasable-ability.mjs
  module/data/item/templates/item-description.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/learnable.mjs
  module/data/item/templates/lp-increase.mjs
  module/data/item/templates/matrix.mjs
  module/data/item/templates/physical-item.mjs
  module/data/item/templates/rollable.mjs
  module/data/item/templates/targeting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: update correct enum types
  module/data/actor/templates/_types.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for physical gear
  module/data/item/_types.mjs
  module/data/item/armor.mjs
  module/data/item/equipment.mjs
  module/data/item/shield.mjs
  module/data/item/ship-weapon.mjs
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for classes templates
  module/data/item/_types.mjs
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add system data types for abilities
  module/data/item/_types.mjs
  module/data/item/maneuver.mjs
  module/data/item/power.mjs
  module/data/item/skill.mjs
  module/data/item/special-ability.mjs
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add system data types for knacks and namegivers
  module/data/item/_types.mjs
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/namegiver.mjs
  module/data/item/spell-knacks.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add system data types for magic items and effects
  module/data/item/_types.mjs
  module/data/item/binding-secrets.mjs
  module/data/item/curse-horror-mark.mjs
  module/data/item/mask.mjs
  module/data/item/poison-disease.mjs
  module/data/item/spell.mjs
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: knockdown spelling
  lang/en.json
  module/data/item/_types.mjs
  module/data/item/mask.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

chore: auto update lang - de
  lang/de.json
Due: npm run lint:lang

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

docs: add system data types for advancement
  module/_types.mjs
  module/data/advancement/_types.mjs
  module/data/advancement/advancement-level.mjs
  module/data/advancement/base-advancement.mjs
  module/data/advancement/lp-earning-transaction.mjs
  module/data/advancement/lp-spending-transaction.mjs
  module/data/advancement/lp-tracking.mjs
  module/data/advancement/lp-transaction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: update correct usage of enum type keys as property type
  module/data/actor/templates/_types.mjs
  module/data/item/_types.mjs
  module/data/item/templates/_types.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for chat message systems
  module/data/chat/_types.mjs
  module/data/chat/attack.mjs
  module/data/chat/base-message.mjs
  module/data/chat/damage.mjs
  module/data/chat/initiative.mjs
  module/data/chat/spellcasting.mjs
  module/data/chat/thread-weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for combatants
  module/data/combatant/_types.mjs
  module/data/combatant/combatant.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for effects
  module/data/effect/_types.mjs
  module/data/effect/eae-change-data.mjs
  module/data/effect/eae-condition.mjs
  module/data/effect/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for char gen
  module/data/other/_types.mjs
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: define system data types for thread and pattern data
  module/data/thread/_types.mjs
  module/data/thread/thread-item-level.mjs
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
