Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Add validation function for system types based on document type
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add SiblingDocumentField class
  module/data/fields/_module.mjs
  module/data/fields/sibling-document-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor source class field to use SiblingDocumentField
  module/data/item/templates/ability.mjs
  templates/item/item-partials/item-details/details/item-details-talent.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix field renaming
  module/data/item/questor.mjs
  module/data/item/talent.mjs
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
  templates/item/item-partials/item-details/details/item-details-path.hbs
  templates/item/item-partials/item-details/details/item-details-questor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix validation for system types in SiblingDocumentField constructor
  module/data/fields/sibling-document-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace ForeignDocumentField with SiblingDocumentField in path schema
  module/data/item/path.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace ForeignDocumentField with SiblingDocumentField for questorDevotionId
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove barrel imports
  module/data/item/path.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace ForeignDocumentField with SiblingDocumentField in LpSpendingTransactionData
  module/data/advancement/lp-spending-transaction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace ForeignDocumentField with SiblingDocumentField for concentrationSource
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Don't give choices if not embedded
  module/data/fields/sibling-document-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Reorganize regions
  module/data/item/templates/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update source class references to use document IDs instead of UUIDs
  module/data/actor/pc.mjs
  module/data/item/discipline.mjs
  module/data/item/talent.mjs
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace ForeignDocumentField with SiblingDocumentField for learned knacks
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor spell handling to use spell IDs instead of UUIDs
  module/applications/actor/sentient-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/applications/workflow/attune-matrix-prompt.mjs
  module/data/actor/templates/sentient.mjs
  module/data/item/spell.mjs
  module/data/item/templates/matrix.mjs
  module/workflows/workflow/attune-matrix-workflow.mjs
  templates/actor/cards/matrix-card.hbs
  templates/item/item-partials/item-details/partials/matrix.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Fix matrix config sheet elements
  module/applications/item/item-sheet.mjs
  module/data/item/templates/matrix.mjs
  templates/item/item-partials/item-details/partials/matrix.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

add images to LP manual
  assets/manual/german/assign-lp-prompt.png
  assets/manual/german/increase-talent.png
  assets/manual/german/increase-vocation.png
  assets/manual/german/legend-point-history-button.png
  assets/manual/german/legend-point-history-chronological.png
  assets/manual/german/legend-point-history-earned.png
  assets/manual/german/legend-point-history-spent.png
  documentation/wiki documentation/german/Legendenpunkte.html
Due: none

upgrade documentation with images
  assets/manual/german/actor-sheet-edit-mode.png
  assets/manual/german/actor-sheet-talent-tab-favorite.png
  assets/manual/german/actor-sheet-talent-tab-roll.png
  assets/manual/german/actor-sheet-talent-tab-strain.png
  assets/manual/german/char-gen-compendium-permissions.png
  assets/manual/german/char-gen-permission-setting.png
  assets/manual/german/char-gen-system-settings.png
  documentation/wiki documentation/german/Legendenpunkte.html
  documentation/wiki documentation/german/character-gameplay.html
  documentation/wiki documentation/german/character-generation.html
  documentation/wiki documentation/german/characterbogen.html
Due: none

add basic import application with data handling
  dictionaries/foundry-vtt-words.txt
  lang/de.json
  module/applications/_module.mjs
  module/applications/data-exchange/_module.mjs
  module/applications/data-exchange/import-app.mjs
  module/data/other/_module.mjs
  module/data/other/import-app.mjs
  templates/data-exchange/import-form.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

auto update lang: en
  lang/en.json
Due: npm run lint:lang

add import functionality and related commands
  lang/de.json
  module/applications/_module.mjs
  module/applications/data-exchange/_module.mjs
  module/applications/data-exchange/import-app.mjs
  module/config/chat.mjs
  module/config/migrations.mjs
  module/config/system.mjs
  module/data/other/_module.mjs
  module/data/other/import-app.mjs
  module/documents/actor.mjs
  module/documents/item.mjs
  module/hooks/chat.mjs
  module/services/_module.mjs
  module/services/data-exchange/_module.mjs
  module/services/data-exchange/imports/_module.mjs
  module/services/data-exchange/imports/importer.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

remove obsolete document type mappings from migration configuration
  module/config/migrations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add ImportMigration class for handling document imports and migrations
  module/services/migrations/import-migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add document type determination and migration registry
  module/hooks/init.mjs
  module/hooks/ready.mjs
  module/services/data-exchange/imports/_module.mjs
  module/services/migrations/_module.mjs
  module/services/migrations/common/base-migration.mjs
  module/services/migrations/migration-manager.mjs
  module/services/migrations/type-transformation-manager.mjs
  module/services/migrations/v082/README.md
  module/services/migrations/v082/_module.mjs
  module/services/migrations/v082/document-migrations.mjs
  module/services/migrations/v082/document-type-migrations/_module.mjs
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
  module/services/migrations/v082/type-transformations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor EdImporter to support multiple file imports and improve document type determination
  module/hooks/chat.mjs
  module/services/data-exchange/imports/importer.mjs
  module/services/migrations/import-migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add ImportDataApp for handling data import functionality and update module exports
  module/applications/_module.mjs
  module/applications/data-exchange/_module.mjs
  module/applications/data-exchange/import-data.mjs
  templates/data-exchange/import-data.hbs
  templates/data-exchange/import-form.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add source type assignment for talent and power in matrix and power modules
  module/services/migrations/v082/document-type-migrations/item/matrix.mjs
  module/services/migrations/v082/document-type-migrations/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Final localization on majority of remaining lines. 5 pending.
  lang/en.json
Due: npm run lint:lang

remove old dice symbol roll trigger
  module/hooks/sidebar.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

creation-dialogs
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/prompts/character-generation.less
  less/sheets/actor-sheet-layout.less
  templates/global/document-creation.hbs
Due: none

chargen-class
  earthdawn4e.css
  less/global/config.less
  less/prompts/character-generation.less
  less/sheets/item-sheet-layout.less
Due: none
