Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

feat: expose `ED4E_CONSTANTS` and `CONST` to document sheet context, update ESLint config
  eslint.config.mjs
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace actor type checks with `isPc` helper in actor templates and common-sheet
  module/applications/actor/common-sheet.mjs
  templates/actor/actor-tabs/general.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: remove redundant `CONST` from document sheet context
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: update lang - de
  lang/de.json
Due: npm run lint:lang

fix: update `updateSystemChange` call to use object parameter format
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add manual override actions to jumpUpStep and knockdownStep buttons
  templates/actor/actor-tabs/general.hbs
Due: none

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

feat: add `jumpUpStep` and `knockdownStep` to active effect change keys
  module/config/effects.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: auto update lang - en
  lang/en.json
Due: npm run lint:lang

fix: add equipment item id
  templates/actor/cards/equipment-card.hbs
Due: none

feat: add `macro` field to equipment items
  module/data/item/equipment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: remove `TargetTemplate` and `usableItem` fields
  module/data/item/templates/physical-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace `usableItem` fields with `macro` field in item details
  templates/item/item-partials/item-details/partials/usable-items.hbs
Due: none

refactor: simplify and reformat layout in equipment item details template
  templates/item/item-partials/item-details/details/item-details-equipment.hbs
Due: none

refactor: simplify `rollEquipment` method by replacing custom roll logic with macro execution
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: remove roll equipment logic
  module/data/item/templates/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: rename `macro` to `equipmentMacro`
  module/data/item/equipment.mjs
  module/documents/actor.mjs
  templates/actor/cards/equipment-card.hbs
  templates/item/item-partials/item-details/partials/usable-items.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: rename `rollEquipment` to `executeEquipmentMacro` and update references
  module/applications/actor/sentient-sheet.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: update equipment macro execution documentation in `actor.mjs`
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: implement `executeEquipmentMacro` method for equipment items
  module/data/item/equipment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add `getDefaultMacro` and `executeMacro` methods to system data model
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace `executeEquipmentMacro` with `getDefaultMacro` in equipment items
  module/data/item/equipment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: refactor `rollable` equipment to `executable`
  module/applications/actor/sentient-sheet.mjs
  templates/actor/cards/equipment-card.hbs
  templates/item/item-partials/item-details/partials/usable-items.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add `icon--target` for equipment actions
  less/global/icons.less
  templates/actor/cards/equipment-card.hbs
Due: none

chore: compile less
  earthdawn4e.css
Due: none

feat: update localization - de
  lang/de.json
Due: npm run lint:lang

chore: update package-lock.json with dependency version bumps
  package-lock.json
Due: none

fix: system compatibility
  system.json
Due: none

fix: effect control icons
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
Due: none

fix: eae not opening
  module/applications/api/document-sheet-mixin.mjs
  templates/global/card-options-effect.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: system compatibility and css fix for control icons
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  system.json
Due: none

chore: add quench tests directory structure
  tests/quench/suites/actor/.gitkeep
  tests/quench/suites/dice/.gitkeep
  tests/quench/suites/effects/.gitkeep
  tests/quench/suites/item/.gitkeep
  tests/quench/suites/system/.gitkeep
Due: none

chore: add base quench test files
  tests/quench/config.quench.mjs
  tests/quench/helpers/cleanup.mjs
  tests/quench/index.mjs
Due: none

chore: add quench test suites and integration
  module/dice/_module.mjs
  system.json
  tests/quench/index.mjs
  tests/quench/suites/_module.mjs
  tests/quench/suites/actor/_module.mjs
  tests/quench/suites/actor/creation.quench.mjs
  tests/quench/suites/dice/_module.mjs
  tests/quench/suites/dice/step-table.quench.mjs
  tests/quench/suites/effects/_module.mjs
  tests/quench/suites/item/_module.mjs
  tests/quench/suites/system/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: configure eslint rule for quench files
  eslint.config.mjs
Due: none

chore: update dependencies with quench types
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
