Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

test
  lang/de.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

fix macro repitition on physical items
  module/data/item/armor.mjs
  module/data/item/equipment.mjs
  module/data/item/shield.mjs
  module/data/item/templates/rollable.mjs
  module/data/item/weapon.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

removed unnesessary comments
  module/data/item/armor.mjs
  module/data/item/equipment.mjs
  module/data/item/shield.mjs
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

include delete macro
  lang/de.json
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

add source information to effects in targetEffects getter
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add source information to effects during document creation
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add validation to prevent multiple effects from the same source
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor hasSameSourceAs method to improve source comparison logic
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add method to check if effects have the same source
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor class structure to organize
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add initial value for edid to be slugified name
  module/data/item/templates/item-description.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add hasSameChangesKeys method to compare effect changes
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor increase method and extract helper functions
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor _addPermanentEffects to only take highest class effect
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add classEffects getter to filter effects by source type
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor _addPermanentEffects
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update TextEditor reference for enriched description
  module/applications/item/class-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update edid format to include item type in slugification
  module/data/item/templates/item-description.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add effect source on update
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: convert effect mapping methods to async for improved handling of existing effects
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add source information to effect changes
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Automatically disable effects on class items
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update edid generation logic to handle reserved values
  module/data/item/templates/item-description.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove commented-out code
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
Due: none

fix: prevent creation of effects from the same source
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update _addPermanentEffects to handle effects asynchronously
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace forEach with for...of for effect processing
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update edid formatting for item descriptions
  module/data/item/templates/item-description.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update effect handling to retrieve permanent effects data
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update details and eae-sheet to handle disabled effects for class items
  module/applications/effect/eae-sheet.mjs
  templates/effect/details.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update classEffects getter to use documentOriginType for filtering
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
