Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

incorporate comments
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add validation for versatility talents
  lang/de.json
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

incorporated comments
  lang/de.json
  module/applications/global/prompt-factory.mjs
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

incorporate comments
  module/applications/global/prompt-factory.mjs
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/epic.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/objective.md
  .github/ISSUE_TEMPLATE/old-requirement.md
  .github/ISSUE_TEMPLATE/refactoring.md
  .github/ISSUE_TEMPLATE/requirement.md
  .github/ISSUE_TEMPLATE/story.md
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/capability---feature-area.md
  .github/ISSUE_TEMPLATE/feature-request.md
  .github/ISSUE_TEMPLATE/objective.md
  .github/ISSUE_TEMPLATE/refactoring.md
  .github/ISSUE_TEMPLATE/sub-task.md
  .github/ISSUE_TEMPLATE/test-case.md
Due: none

npc sheet fix
  templates/actor/actor-partials/actor-section-buttons.hbs
  templates/actor/character-sheet.hbs
  templates/actor/creature-sheet.hbs
  templates/actor/dragon-sheet.hbs
  templates/actor/group-sheet.hbs
  templates/actor/horror-sheet.hbs
  templates/actor/loot-sheet.hbs
  templates/actor/npc-sheet.hbs
  templates/actor/spirit-sheet.hbs
  templates/actor/trap-sheet.hbs
  templates/actor/vehicle-sheet.hbs
Due: none

npc-sheet-fix
  module/applications/actor/character-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/loot-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

npc sheet fix
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

enable edit mode for none PC for recovery
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/damage-none-character-card.hbs
Due: none

Update damage-none-character-card.hbs
  templates/actor/cards/damage-none-character-card.hbs
Due: none

make talents appear on npc sheet
  templates/actor/actor-tabs/talents.hbs
Due: none

basic token settings for npc
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add ui notifcation for missing rolltype
  lang/de.json
  module/data/item/templates/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Refactor maneuver button implementation and add new template for use-maneuver
  module/utils.mjs
  templates/chat/chat-buttons/use-maneuver.hbs
  templates/chat/chat-flavor/attack-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update thread weaving chat message styles
  assets/icons/thread-transparent.svg
  assets/sheet/background_lighter.PNG
  less/chat/chat-messages.less
  less/global/global.less
  module/data/roll/weaving.mjs
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread weaving message data and update configuration
  module/data/chat/_module.mjs
  module/data/chat/thread-weaving.mjs
  system.json
  templates/chat/chat-buttons/cast-spell.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update chat message styles and add button color variable
  less/chat/chat-messages.less
  less/global/variables.less
Due: none

Compile less
  earthdawn4e.css
Due: none

Add styles for content links in chat messages
  less/chat/chat-messages.less
Due: none

Update and add styling to spellcasting chat messages
  assets/icons/cast-transparent.svg
  less/chat/chat-messages.less
  module/data/roll/spellcasting.mjs
  module/utils.mjs
  templates/chat/chat-buttons/run-macro.hbs
  templates/chat/chat-buttons/show-special.hbs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix writing for data actions
  module/data/chat/attack.mjs
  templates/chat/chat-buttons/roll-damage.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add weaving ability content anchor to thread weaving roll flavor
  module/data/roll/weaving.mjs
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor data-action name
  module/data/chat/attack.mjs
  templates/chat/chat-buttons/assign-effect.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update color for deselected class type and add flash highlight color variable
  less/global/variables.less
  less/old-less/character-generation-prompt.less
Due: none

Add SpellcastingMessageData class and integrate into chat system
  module/config/chat.mjs
  module/data/chat/_module.mjs
  module/data/chat/spellcasting.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add error handling for LESS compilation in gulp task
  tools/css.mjs
Due: none

Refactor global.less for consistent indentation and add flash highlight animation
  less/global/global.less
Due: none

Add highlightElement function to apply a flash highlight effect
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add German translations
  lang/de.json
Due: npm run lint:lang

Add styling for source message links
  less/chat/chat-messages.less
Due: none

Add scrollToMessage method to ChatMessageEd for scrolling and highlighting messages
  module/documents/chat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
