Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

ci: update tag name format to include release tag prefix
  .github/workflows/release-1-prepare.yml
Due: none

ci: update changelog to reflect no changes in the beta version
  CHANGELOG.md
Due: none

ci: update corrected
  .github/workflows/release-2-start.yml
Due: none

ci: update release workflow
  .github/workflows/release-3-release.yml
Due: none

ci: update release workflow to support dynamic release tags
  .github/workflows/release-4-foundry-package.yml
Due: none

ci: enhance release workflow to include TAG_NAME output and improve tagging process
  .github/workflows/release-3-release.yml
Due: none

feat: the knockdown step was missing for creatures
  earthdawn4e.css
  lang/de.json
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: npm run lint:lang

fix: en file
  lang/en.json
Due: npm run lint:lang

fix: lang fr
  lang/fr.json
Due: npm run lint:lang

fix: lang pl
  lang/pl.json
Due: npm run lint:lang

fix: wrong identifer in localization
  templates/actor/actor-tabs/general.hbs
Due: none

fix: wrong localization path
  templates/actor/actor-tabs/general.hbs
Due: none

fix: powers to be rollable
  earthdawn4e.css
  less/global/icons.less
  module/applications/actor/common-sheet.mjs
  templates/actor/cards/power-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: activate EAEs from card view
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  module/applications/actor/common-sheet.mjs
  templates/actor/cards/effect-card-link.hbs
  templates/actor/cards/power-card.hbs
  templates/global/effect-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: add special abilities during char gen
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: missing global bonuses
  module/data/roll/attack.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: remove issue templates with duplicate names
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature-request.md
Due: none

chore: add configuration for issue tracking and support links
  .github/ISSUE_TEMPLATE/config.yml
Due: none

fix: update bug report template to use an empty array for assignees
  .github/ISSUE_TEMPLATE/01-bug-report.yml
Due: none

fix: update compendium data template to use an empty array for assignees and set type to Task
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
Due: none

fix: update feature request template to use an empty array for assignees
  .github/ISSUE_TEMPLATE/03-feature-request.yml
Due: none

chore: update welcome message version to 0.1.0
  templates/system-messages/update-message-v1_0_0.hbs
Due: none

chore: update welcome message for beta release in German localization
  lang/de.json
Due: npm run lint:lang

chore: update welcome message for beta release in English localization
  lang/en.json
Due: npm run lint:lang

chore: add Ko-fi link to Chris' profile in system.json
  system.json
Due: none

chore: update bug report link in sidebar to point to new repository
  module/hooks/sidebar.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update bug report description for clarity
  .github/ISSUE_TEMPLATE/01-bug-report.yml
Due: none

chore: update label for clarity
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
Due: none

chore: update feature request type for consistency
  .github/ISSUE_TEMPLATE/03-feature-request.yml
Due: none

chore: remove unnecessary keys
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
Due: none

Revert "🔖 Release 0.1.0"
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Due: none

chore: update issue forms for clarity
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
Due: none

chore: update release workflow to trigger on pull requests to main
  .github/workflows/release-3-release.yml
Due: none

Revert "🔖 Release 0.1.0"
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
  .github/workflows/release-3-release.yml
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Due: none

chore: update issue templates for clarity and consistency
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
Due: none

chore: update release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: remove merge_group trigger from release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: update release workflow to include merge_group trigger and conditional job execution
  .github/workflows/release-3-release.yml
Due: none

chore: remove pull_request trigger from release workflow
  .github/workflows/release-3-release.yml
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
