Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Refactor attack workflow to improve weapon and ability
  module/workflows/workflow/attack-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor ability roll to use AttackWorkflow
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update credits for icon creators in README
  README.md
Due: none

Fix: Remove non-existent strain field from item description maneuver
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
Due: none

Refactor roll-successes template to always show target numbers to GM
  templates/chat/dice-partials/roll-successes.hbs
Due: none

Add game configuration and GM status to flavor template data
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

actor-cleanup
  earthdawn4e.css
  lang/en.json
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-partials/actor-section-top-pc.hbs
  templates/actor/actor-partials/actor-section-top-sentient.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
  templates/actor/cards/special-abilities-npc.hbs
  templates/actor/character-sheet.hbs
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Add detail element indicator icon
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add SVG backgrounds for attack and unarmed messages
  assets/chat/messages/background-attack-unarmed.svg
  assets/chat/messages/background-attack.svg
Due: none

Update rendering data for attack messages
  module/data/roll/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix: use correct context
  templates/chat/chat-buttons/use-maneuver.hbs
Due: none

Update attack message layout
  less/chat/chat-messages.less
  templates/chat/chat-flavor/attack-roll-flavor.hbs
Due: none

Compile CSS
  earthdawn4e.css
Due: none

tool-tips
  earthdawn4e.css
  lang/en.json
  less/global/global.less
  templates/actor/actor-partials/actor-section-top-pc.hbs
  templates/actor/actor-partials/actor-section-top-sentient.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/health-character-card.hbs
  templates/global/card-options-chat.hbs
  templates/global/card-options-class-upgrade.hbs
  templates/global/card-options-enhance.hbs
Due: npm run lint:lang

npc-tool-stips
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

abilities-roll-tool-tip
  templates/actor/cards/ability-card.hbs
Due: none

slight-tooltip-update
  lang/en.json
Due: npm run lint:lang

npc-health-buffer-update
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

small lang correction
  lang/de.json
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

sheet-fixes
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/attribute-card.hbs
Due: none

error-fix
  templates/actor/actor-partials/actor-section-top-pc.hbs
Due: none

knack-img0fix
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/global/effect-card.hbs
Due: none

Fix: Require reload for languages setting to reinitialize corresponding data fields in actors
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor character generation prompt by cleaning up unused methods and improving structure
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor character generation error messages to use a static property
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix: Assign character generation data to context
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add golden ratio degree variable
  less/global/variables.less
Due: none

Fix: Conditionally render namegiver image based on document presence
  templates/actor/generation/namegiver-selection.hbs
Due: none

Fix: Use default language skill rank instead of pulled document
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Start restyling character generation
  assets/character-generation/background_parchment.png
  assets/character-generation/background_parchment_transparent.png
  assets/character-generation/background_parchment_transparent_dark.png
  assets/character-generation/pill.webp
  assets/character-generation/pill_dark.webp
  earthdawn4e.css
  lang/de.json
  less/earthdawn4e.less
  less/global/variables.less
  less/prompts/character-generation.less
  module/applications/actor/character-generation-prompt.mjs
  templates/actor/generation/namegiver-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Reorganize code/file structure
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
