Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

update difficultyLabel to include abbreviations and group icons
  module/data/item/templates/targeting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add spell card component with styling and integration into spell sheet
  assets/icons/thread.svg
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/variables.less
  less/sheets/spell-card.less
  templates/actor/actor-tabs/spells.hbs
  templates/actor/cards/spell-card.hbs
Due: none

add group difficulty icons and labels to targeting system
  dictionaries/ui-ux-words.txt
  module/config/system.mjs
  module/data/item/templates/targeting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add targeting partial to item details template in spell sheet
  templates/item/item-partials/item-details/details/item-details-spell.hbs
Due: none

refactor targetDifficulty structure to include labels and abbreviations for localization
  module/config/actions.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add cast action overlay to spell card for improved interactivity
  less/sheets/spell-card.less
  templates/actor/cards/spell-card.hbs
Due: none

update tooltip for cast action in matrix card for clarity
  templates/actor/cards/matrix-card.hbs
Due: none

refactor spell card styles for lighter font weight and update icon classes
  earthdawn4e.css
  less/sheets/spell-card.less
  module/data/item/templates/targeting.mjs
  templates/actor/cards/spell-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add spellcasting colors to context and update spell card styling
  module/applications/actor/sentient-sheet.mjs
  templates/actor/cards/spell-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor spell card styles for improved readability and aesthetics
  earthdawn4e.css
  less/sheets/spell-card.less
Due: none

Fix circle container not visible with long spell names
  earthdawn4e.css
  less/sheets/spell-card.less
Due: none

update German translation
  lang/de.json
Due: npm run lint:lang

add cast spell functionality to actor sheet and enhance spell card interactions
  earthdawn4e.css
  less/sheets/spell-card.less
  module/applications/actor/sentient-sheet.mjs
  module/documents/actor.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add spell creation functionality and enhance spellcasting type handling in actor sheet
  module/applications/api/document-sheet-mixin.mjs
  templates/actor/actor-tabs/spells.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang
  lang/en.json
Due: npm run lint:lang

add German translations for spellcasting types and controls, and update tooltips for spell actions
  lang/de.json
Due: npm run lint:lang

Auto update lang
  lang/pl.json
Due: npm run lint:lang

Auto update lang
  lang/fr.json
Due: npm run lint:lang

enable spell learning during circle up
  lang/de.json
  module/applications/advancement/class-advancement.mjs
  module/data/item/discipline.mjs
  module/data/item/templates/class.mjs
  templates/advancement/class-advancement-spell-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

include localization
  lang/de.json
  templates/actor/legend-points/learn-spell.hbs
Due: npm run lint:lang

add German translations for reattune difficulty and weaving difficulty tooltips
  lang/de.json
  templates/actor/cards/spell-card.hbs
Due: npm run lint:lang

move learn method to learnable templabe
  module/data/item/discipline.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
  module/data/item/spell.mjs
  module/data/item/templates/ability.mjs
  module/data/item/templates/increasable-ability.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/learnable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update learnable.mjs
  module/data/item/templates/learnable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix merge errors from rebasing
  module/data/item/discipline.mjs
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add JournalService for incremental journal creation and management
  module/services/_module.mjs
  module/services/journal-service.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add guaranteed successes tracking to roll calculations
  lang/de.json
  module/data/roll/common.mjs
  module/dice/ed-roll.mjs
  templates/chat/dice-partials/roll-successes.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Add grimoire selection functionality to actor and workflow
  module/documents/actor.mjs
  module/workflows/workflow/attune-grimoire-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add global modifiers for roll types and apply them in step data
  module/data/roll/common.mjs
  module/data/roll/spellcasting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add grimoire ownership check and penalty for unowned grimoires in spell weaving
  module/config/magic.mjs
  module/data/item/spell.mjs
  module/data/item/templates/grimoire.mjs
  module/data/roll/weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix rendering of custom flavor in thread weaving roll template
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: none
