Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

missing Keys in de file
  lang/de.json
  module/applications/effect/eae-sheet.mjs
  module/applications/hud/token-hud.mjs
  module/config/legend.mjs
  module/config/rolls.mjs
  module/data/abstract.mjs
  module/data/fields/identifier-field.mjs
  module/data/item/discipline.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
  module/data/item/spell.mjs
  module/data/item/templates/ability.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/increasable-ability.mjs
  module/documents/item.mjs
  module/enrichers.mjs
  module/hooks/chat.mjs
  module/utils.mjs
  module/workflows/workflow/attack-workflow.mjs
  templates/actor/actor-partials/actor-section-buttons-group.hbs
  templates/actor/actor-partials/actor-section-buttons-loot.hbs
  templates/actor/actor-partials/actor-section-buttons-sentient.hbs
  templates/actor/actor-partials/actor-section-buttons-trap.hbs
  templates/actor/actor-partials/actor-section-buttons-vehicle.hbs
  templates/chat/chat-flavor/attack-roll-flavor.hbs
  templates/global/card-options-chat.hbs
  templates/global/card-options-effect.hbs
  templates/item/item-partials/item-tooltip.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

fix labelPrefix issue
  module/applications/actor/sentient-sheet.mjs
  module/applications/item/class-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

some not used lang
  lang/de.json
  module/data/fields/identifier-field.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

migrate devotions
  module/config/migrations.mjs
  module/data/item/devotion.mjs
  module/data/item/migration/old-system-V082/attribute.mjs
  module/data/item/migration/old-system-V082/difficulty.mjs
  module/documents/migration/item/old-system-V082/devotion.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

adjust based on comments
  lang/de.json
  module/config/legend.mjs
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

worked in comments
  module/config/migrations.mjs
  module/data/item/migration/old-system-V082/attribute.mjs
  module/data/item/migration/old-system-V082/difficulty.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

may be the last one
  lang/de.json
  module/applications/hud/token-hud.mjs
  module/data/item/templates/class.mjs
  templates/combat/combatant-config.hbs
  templates/global/document-creation.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Modularize localization checking tools
  tools/find-unused-lang-keys.mjs
  tools/localization-checker/_module.mjs
  tools/localization-checker/base.mjs
  tools/localization-checker/cli-config.mjs
  tools/localization-checker/missing-keys.mjs
  tools/localization-checker/unused-keys.mjs
Due: none

Add GitHub Action to detect unused localization keys
  .github/workflows/find-unused-localizations.yml
Due: none

Remove information about removed checks
  tools/localization-checker/missing-keys.mjs
Due: none

cleanup lang files based on prefixes. for all data/actor/templates
  lang/de.json
  module/config/effects.mjs
  module/data/actor/templates/challenge.mjs
  module/data/actor/templates/none-character.mjs
  templates/actor/actor-partials/actor-section-top-group.hbs
  templates/actor/actor-partials/actor-section-top-loot.hbs
  templates/actor/actor-partials/actor-section-top-pc.hbs
  templates/actor/actor-partials/actor-section-top-sentient.hbs
  templates/actor/actor-partials/actor-section-top-trap.hbs
  templates/actor/actor-partials/actor-section-top-vehicle.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/specials.hbs
  templates/actor/cards/damage-character-card.hbs
  templates/actor/cards/damage-none-character-card.hbs
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
  templates/combat/combatant-config.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Implement grimoire lifecycle methods for data preparation and management
  module/data/item/templates/grimoire.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add Grimoire template and integrate into item details
  module/utils.mjs
  templates/item/item-partials/item-details/details/item-details-physicalItems.hbs
  templates/item/item-partials/item-details/partials/grimoire.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor lifecycle methods to integrate matrix data preparation in Grimoire
  module/data/item/templates/matrix.mjs
  module/data/item/templates/physical-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add GrimoireTemplate and integrate into PhysicalItemTemplate
  module/config/system.mjs
  module/data/item/_module.mjs
  module/data/item/templates/grimoire.mjs
  module/data/item/templates/physical-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to add spells to the grimoire and handle drag-and-drop functionality
  module/applications/item/physical-item-sheet.mjs
  module/data/item/templates/grimoire.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix localization checker errors
  lang/de.json
  templates/chat/chat-flavor/damage-roll-flavor.hbs
Due: npm run lint:lang

Auto localization consolidation
  lang/en.json
Due: npm run lint:lang

Auto localization consolidation
  lang/fr.json
Due: npm run lint:lang

Auto localization consolidation
  lang/pl.json
Due: npm run lint:lang

advancement
  lang/de.json
Due: npm run lint:lang

chat
  lang/de.json
Due: npm run lint:lang
