Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

adapted comments
  cspell.json
  dictionaries/ed4e-words.txt
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/sentient-sheet.mjs
  module/config/_module.mjs
  module/data/actor/templates/sentient.mjs
  module/data/item/equipment.mjs
  module/data/item/templates/physical-item.mjs
  module/data/roll/common.mjs
  module/data/thread/thread-base.mjs
  module/dice/dice.mjs
  module/dice/ed-roll.mjs
  package.json
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/equipment-card.hbs
  templates/actor/cards/knack-ability-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor LP history tabs to use Foundry core
  module/applications/advancement/lp-history.mjs
  module/config/system.mjs
  templates/actor/legend-points/history-chronological.hbs
  templates/actor/legend-points/history-earned.hbs
  templates/actor/legend-points/history-spend.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Simplify roll prompt by removing tab navigation logic
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor character generation tabs to use Foundry core
  less/old-less/character-generation-prompt.less
  module/applications/actor/character-generation-prompt.mjs
  module/utils.mjs
  templates/actor/generation/attribute-assignment.hbs
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/equipment-selection.hbs
  templates/actor/generation/generation.hbs
  templates/actor/generation/language-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
  templates/actor/generation/skill-selection.hbs
  templates/actor/generation/spell-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update labelPrefix values for sheet configurations
  module/applications/actor/common-sheet.mjs
  module/applications/effect/eae-sheet.mjs
  module/applications/item/class-item-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

correct missed comment
  dictionaries/ed4e-words.txt
  module/data/item/templates/physical-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

received answer from Alex
  system.json
Due: none

rework comments
  cspell.json
  dictionaries/0_8_2_migration-words.txt
  dictionaries/ed4e-words.txt
  dictionaries/technical-words.txt
  dictionaries/ui-ux-words.txt
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add German translations for various tab labels.
  lang/de.json
Due: npm run lint:lang

Update lang files from pre-commit
  lang/pl.json
Due: npm run lint:lang

Update lang files from pre-commit
  lang/fr.json
Due: npm run lint:lang

Update lang files from pre-commit
  lang/en.json
Due: npm run lint:lang

Fix languages field not available for NPC
  templates/actor/actor-tabs/notes.hbs
Due: none

remove label/hint for actors
  module/data/abstract.mjs
  module/data/actor/pc.mjs
  module/data/actor/templates/challenge.mjs
  module/data/actor/templates/common.mjs
  module/data/actor/templates/description.mjs
  module/data/actor/templates/movement.mjs
  module/data/actor/templates/none-character.mjs
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add missing TextEditor import in physical-item-sheet
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix rolltype naming issue
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/equipment-card.hbs
  templates/actor/cards/knack-ability-card.hbs
Due: none

include missing combat lang entries
  lang/de.json
Due: npm run lint:lang

update document create lang
  lang/de.json
  module/applications/global/document-creation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

missing Formular notification now ED
  lang/de.json
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang
