Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

spacing-fix
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

radio-size-fix
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

Sort object entries in document creation types
  module/applications/global/document-creation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

final-fix
  earthdawn4e.css
  less/prompts/character-generation.less
  templates/actor/generation/class-selection.hbs
Due: none

tabulations
  templates/actor/generation/class-selection.hbs
Due: none

border-fix
  earthdawn4e.css
  less/global/config.less
Due: none

table-gap
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

spell-scroll-bar
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

weight-meter-fixed
  earthdawn4e.css
  less/global/config.less
  less/global/meters.less
  templates/actor/actor-tabs/equipment.hbs
Due: none

editor-window-fix
  earthdawn4e.css
  less/global/editor.less
  less/sheets/item-sheet-layout.less
Due: none

fixed missing visualization of linked items
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
  templates/item/item-partials/item-details/details/item-details-path.hbs
Due: none

add additional checks for multi discipline
  module/data/item/talent.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

combat-dialog-name
  earthdawn4e.css
  less/prompts/small-dialogs.less
  module/applications/combat/start-round-combatant-prompt.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

item-effects-fixed
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  templates/global/effect-card.hbs
  templates/item/item-partials/item-details/item-effects.hbs
Due: none

added missing localization
  lang/de.json
  module/workflows/workflow/attribute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

npc-step-box
  templates/actor/cards/attributes-none-pc-card.hbs
Due: none

special-ability-fix
  templates/actor/cards/special-abilities-characters.hbs
Due: none

Fix: only update class after lp spendings for correct calculations
  module/data/item/talent.mjs
  module/data/item/templates/class.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix: allow matrix level to be 0
  module/data/item/templates/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update questor devotion to correctly set edid on newly created item
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix favorite deletion
  module/applications/actor/common-sheet.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update de.json
  lang/de.json
Due: npm run lint:lang

Update attribute-workflow.mjs
  module/workflows/workflow/attribute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

doku
  documentation/wiki documentation/german/Faeden-und-Strukturen.html
  documentation/wiki documentation/german/Verbesserungen.html
  documentation/wiki documentation/german/characterbogen.html
  documentation/wiki documentation/german/earthdawn-active-effects.html
Due: none

Update issue templates
  .github/ISSUE_TEMPLATE/story.md
Due: none

dark/light-mode fix
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
Due: none

do not auto increase ability options
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove lp requirement for discipline advancement
  module/data/item/discipline.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Extend getMinCircle to support filtering by discipline
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix multi-discipline LP cost calculation to ignore source discipline of the talent itself
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang
