Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Auto update lang file
  lang/en.json
Due: npm run lint:lang

Add scroll-to-source link and action to chat messages
  module/data/chat/base-message.mjs
  module/data/chat/spellcasting.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang file
  lang/fr.json
Due: npm run lint:lang

Auto update lang file
  lang/pl.json
Due: npm run lint:lang

Compile less to css
  earthdawn4e.css
Due: none

fix partial migration
  module/documents/actor.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

create attribute Workflow
  lang/de.json
  module/applications/actor/sentient-sheet.mjs
  module/documents/actor.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/attribute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

implement Substitude functionality
  lang/de.json
  module/applications/actor/sentient-sheet.mjs
  module/config/workflows.mjs
  module/documents/actor.mjs
  module/workflows/workflow/attack-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

add halfmagic roll option
  lang/de.json
  module/applications/actor/sentient-sheet.mjs
  module/applications/global/prompt-factory.mjs
  module/documents/actor.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

add missing localization
  lang/de.json
Due: npm run lint:lang

incorporate some comments
  lang/de.json
  module/applications/global/prompt-factory.mjs
  module/documents/actor.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update substitute-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate changes
  module/applications/actor/sentient-sheet.mjs
  module/workflows/workflow/attribute-workflow.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/rollable.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

last fixes
  module/applications/actor/sentient-sheet.mjs
  module/config/workflows.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate comments
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate changes
  module/config/actors.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate comments
  module/workflows/workflow/attribute-workflow.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/rollable.mjs
  module/workflows/workflow/substitute-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

migrate namegiver
  dictionaries/0_8_2_migration-words.txt
  module/config/migrations.mjs
  module/data/item/namegiver.mjs
  module/services/migrations/v082/document-type-migrations/item/namegiver.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update character generation documentation
  documentation/wiki documentation/german/character-generation.html
Due: none

refactor: clean up actor class methods and improve docs and type annotations
  module/applications/actor/character-sheet.mjs
  module/applications/actor/namegiver-sheet.mjs
  module/applications/actor/sentient-sheet.mjs
  module/data/chat/damage.mjs
  module/documents/actor.mjs
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add wound modifiers to roll options step data calculations
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: ensure proper cancellation of operations in lifecycle events
  module/data/abstract/system-data-model.mjs
  module/data/item/knack-ability.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: reverse player character priority on initiative tie
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add rollToMessage option to RollableOptions for chat messaging
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

rename RollableOptions to RollableWorkflowOptions for clarity
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add rollable workflow steps and prepare roll options
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor damage application methods to support natural armor only option
  module/data/chat/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add natural armor only option in damage roll options
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
