Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

missing active effect lang
  lang/de.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

missing header langs
  lang/de.json
  templates/actor/actor-tabs/notes.hbs
  templates/actor/actor-tabs/talents.hbs
Due: npm run lint:lang

lp Tracking lang
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

recovery
  lang/de.json
Due: npm run lint:lang

advancement pool lang
  lang/de.json
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: npm run lint:lang

tooltips
  lang/de.json
Due: npm run lint:lang

chat flavor
  lang/de.json
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

correct mistake
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

conditions encumbrance
  lang/de.json
Due: npm run lint:lang

config
  lang/de.json
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

active effects lang
  lang/de.json
Due: npm run lint:lang
