Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

add lp tracking for karma and maneuver knacks
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

adapt validation to check if the talent is embedded
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix knack learn method.
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

rename validationData method
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

hm...
  module/applications/global/prompt-factory.mjs
  module/data/item/knack-ability.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/learnable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

until here...
  module/data/chat/attack.mjs
  module/documents/actor.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/damage-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update damage-workflow.mjs
  module/workflows/workflow/damage-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

create edid config
  module/config/system.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor EDID handling and streamline settings registration
  module/config/system.mjs
  module/data/fields/edid-field.mjs
  module/settings.mjs
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

rework talent migration
  less/global/global.less
  module/config/migrations.mjs
  module/data/item/talent.mjs
  module/documents/migration/item/old-system/abilities.mjs
  module/documents/migration/item/old-system/edid.mjs
  module/documents/migration/item/old-system/roll-type-Migration.mjs
  module/documents/migration/item/old-system/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add cspell for spell checking and configure its usage
  .lintstagedrc.yaml
  cspell.json
  package.json
Due: none

changes from comments
  module/config/migrations.mjs
  module/data/item/talent.mjs
  module/documents/actor.mjs
  module/documents/item.mjs
  module/documents/migration/actor/_module.mjs
  module/documents/migration/actor/old-system-V082/_module.mjs
  module/documents/migration/actor/old-system-V082/character.mjs
  module/documents/migration/actor/old-system-V082/none-character.mjs
  module/documents/migration/item/_module.mjs
  module/documents/migration/item/old-system-V082/_module.mjs
  module/documents/migration/item/old-system-V082/abilities.mjs
  module/documents/migration/item/old-system-V082/armor.mjs
  module/documents/migration/item/old-system-V082/devotion.mjs
  module/documents/migration/item/old-system-V082/discipline.mjs
  module/documents/migration/item/old-system-V082/edid.mjs
  module/documents/migration/item/old-system-V082/equipment.mjs
  module/documents/migration/item/old-system-V082/knack.mjs
  module/documents/migration/item/old-system-V082/mask.mjs
  module/documents/migration/item/old-system-V082/matrix.mjs
  module/documents/migration/item/old-system-V082/namegiver.mjs
  module/documents/migration/item/old-system-V082/power.mjs
  module/documents/migration/item/old-system-V082/roll-type-Migration.mjs
  module/documents/migration/item/old-system-V082/shield.mjs
  module/documents/migration/item/old-system-V082/skill.mjs
  module/documents/migration/item/old-system-V082/spell.mjs
  module/documents/migration/item/old-system-V082/talent.mjs
  module/documents/migration/item/old-system-V082/weapon.mjs
  module/documents/migration/item/old-system/edid.mjs
  module/documents/migration/item/old-system/roll-type-Migration.mjs
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add custom dictionaries for spell-checking Foundry VTT and ED4E
  cspell.json
  dictionaries/ed4e-words.txt
  dictionaries/foundry-vtt-words.txt
Due: none

TEEEESSSTTT
  README.md
Due: none

fix talent drop issue
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix mixin issue for knacks drop
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix all comments
  module/config/migrations.mjs
  module/data/item/talent.mjs
  module/documents/migration/item/old-system-V082/abilities.mjs
  module/documents/migration/item/old-system-V082/edid.mjs
  module/documents/migration/item/old-system-V082/roll-type-Migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add script to detect missing localization keys
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add fast-glob dependency to package.json
  package.json
Due: none

Add GitHub Actions workflow for localization checks
  .github/workflows/check-missing-localizations.yml
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update default output file name for localization reports
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add missing localization keys report for various templates
  reports/localization/missing-keys-report.json
Due: none

Update artifact path in localization workflow
  .github/workflows/check-missing-localizations.yml
Due: none

Add result saving functionality to localization checker
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update regex pattern for localization key matching in hbs
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Deleted `missing-keys-report.json` file
  reports/localization/missing-keys-report.json
Due: none

Delete eslint-result.sarif file
  eslint-result.sarif
Due: none

Update localization checker to generate a detailed report
  .github/workflows/check-missing-localizations.yml
Due: none

Add a safeguard for absent output file in saveResults
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor detection of unused localization keys
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update formatting for localization check output
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance GitHub Actions integration in localization checker
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Use plain string formatting for tableData keys.
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Test
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add @actions/core to devDependencies
  package.json
Due: none

Add failure handling to localization checker workflow
  .github/workflows/check-missing-localizations.yml
Due: none

Set workflow failed if missing keys in lang files
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Replace `core.setFailed` with `throw` for missing keys handling
  utils/find-missing-localizations.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor: Move utility scripts to 'tools' directory
  .github/workflows/check-missing-localizations.yml
  gulpfile.mjs
  package.json
  tools/consolidate-lang-json.mjs
  tools/css.mjs
  tools/find-missing-localizations.mjs
  tools/format-lang-json.mjs
  tools/javascript.mjs
  tools/lint-json.mjs
Due: none

Style Checkpoint
  earthdawn4e.css
  lang/en.json
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  less/sheets/owned-items-view.less
  templates/actor/actor-tabs/equipment.hbs
  templates/actor/actor-tabs/specials.hbs
  templates/actor/cards/damage-character-card.hbs
Due: npm run lint:lang

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
