Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

fix: do not show weapon subtype for thrown weapons
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
Due: none

feat: update update-message template and localization
  lang/en.json
  module/hooks/ready.mjs
  templates/system-messages/update-message-v1_0_0.hbs
  templates/system-messages/update-message.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

chore: update lang - de
  lang/de.json
Due: npm run lint:lang

ci: add changelog URL to release workflow
  .github/workflows/release-1-prepare.yml
Due: none

feat: track and display update news based on user-specific version history
  module/hooks/ready.mjs
  module/system/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

style: add new half-magic visualization background for chat messages
  assets/chat/messages/background-half-magic.svg
  earthdawn4e.css
  less/chat/chat-messages.less
Due: none

docs: add section on house rule for circle advancement
  documentation/docs.de/legend/legend-points.md
  documentation/docs/legend/legend-points.md
Due: none

ci: use configurable Node.js version in workflows
  .github/workflows/check-missing-localizations.yml
  .github/workflows/find-unused-localizations.yml
  .github/workflows/pages.yml
Due: none

chore: upgrade dependencies and remove unused packages
  package-lock.json
  package.json
Due: none

ci: update GitHub Actions to latest versions
  .github/workflows/check-missing-localizations.yml
  .github/workflows/find-unused-localizations.yml
  .github/workflows/pages.yml
Due: none

ci: update markdownlint configuration
  .markdownlint.jsonc
Due: none

ci: enable markdownlint for documentation and root markdown files
  .lintstagedrc.yaml
Due: none

docs: lint markdown
  CHANGELOG.md
  CONTRIBUTING.md
  LICENSE.md
  README.md
Due: none

ci: update markdownlint config
  .markdownlint.jsonc
Due: none

chore: lint markdown
  documentation/Guideline.md
  documentation/docs.de/character/character-gameplay.md
  documentation/docs.de/character/character-generation.md
  documentation/docs.de/character/character-sheet.md
  documentation/docs.de/index.md
  documentation/docs.de/legend/advancements.md
  documentation/docs.de/legend/legend-points.md
  documentation/docs.de/magic/threads-and-patterns.md
  documentation/docs.de/system/earthdawn-active-effects.md
  documentation/docs.de/system/release-notes.md
  documentation/docs/character/character-gameplay.md
  documentation/docs/index.md
  documentation/docs/legend/advancements.md
Due: none

feat: make effect cards draggable
  templates/global/effect-card.hbs
Due: none

fix: use Foundry's native dragDrop handling for items
  module/applications/item/item-sheet.mjs
  templates/actor/actor-tabs/specials.hbs
  templates/global/effect-card.hbs
  templates/item/item-partials/item-details/item-effects.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: remove unused equipmentType field from item details template
  templates/item/item-partials/item-details/details/item-details-equipment.hbs
Due: none

fix: add thread for weaving if connection already exists
  module/applications/item/physical-item-sheet.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: misleading translations
  lang/de.json
Due: npm run lint:lang

fix: misleading translation
  lang/en.json
Due: npm run lint:lang

chore: auto update lang - en
  lang/en.json
Due: npm run lint:lang

ci: update ESLint workflow configuration and dependencies
  .github/workflows/eslint.yml
Due: none

fix: update system metadata
  system.json
Due: none

fix: correct build script typo in package.json
  package.json
Due: none

ci: update and activate changelog check workflow
  .github/workflows/check-changelog-updated.yml
Due: none

chore: update changelog
  CHANGELOG.md
Due: none

fix: update manifest URL to point to main branch
  system.json
Due: none

chore: update CHANGELOG.md
  CHANGELOG.md
Due: none

chore: update and simplify eslint
  eslint.config.mjs
  package-lock.json
  package.json
Due: none

chore: update lintstaged
  .lintstagedrc.yaml
Due: none

chore: simplify eslint usage without gulp
  gulpfile.mjs
  package.json
  tools/javascript.mjs
Due: none
