Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Reapply "fix: pl"
  lang/pl.json
Due: npm run lint:lang

Reapply "fix: fr"
  lang/fr.json
Due: npm run lint:lang

Reapply "fix: template for correct localization"
  templates/actor/generation/class-selection.hbs
Due: none

fix: use MappingField for correct initialization of abilities in advancement
  module/data/advancement/advancement-level.mjs
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: return effects to the class template
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: none

Reapply "fix: char gen not working any more"
  module/applications/actor/character-generation-prompt.mjs
  module/data/other/character-generation.mjs
  templates/actor/generation/class-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Reapply "fix: adopt warning cases"
  lang/de.json
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix: test
  .github/workflows/pages.yml
Due: none

fix: pages
  .github/workflows/pages.yml
Due: none

fix: change target to self for links in wiki table of content
  documentation/wiki documentation/german/Inhaltsverzeichnis.html
Due: none

fix: yml
  .github/workflows/pages.yml
Due: none

fix: create basic pages setup
  documentation/wiki documentation/german/Faeden-und-Strukturen.html
  documentation/wiki documentation/german/Inhaltsverzeichnis.html
  documentation/wiki documentation/german/Legendenpunkte.html
  documentation/wiki documentation/german/Release-notes.html
  documentation/wiki documentation/german/Verbesserungen.html
  documentation/wiki documentation/german/character-gameplay.html
  documentation/wiki documentation/german/character-generation.html
  documentation/wiki documentation/german/characterbogen.html
  documentation/wiki documentation/german/earthdawn-active-effects.html
  documentation/wiki documentation/german/wiki.css
Due: none

fix: better documentation
  .github/workflows/pages.yml
  documentation/wiki documentation/german/Inhaltsverzeichnis.html
Due: none

fix: english manual
  documentation/wiki documentation/english/Faeden-und-Strukturen.html
  documentation/wiki documentation/english/Inhaltsverzeichnis.html
  documentation/wiki documentation/english/Legendenpunkte.html
  documentation/wiki documentation/english/Release-notes.html
  documentation/wiki documentation/english/Verbesserungen.html
  documentation/wiki documentation/english/character-gameplay.html
  documentation/wiki documentation/english/character-generation.html
  documentation/wiki documentation/english/characterbogen.html
  documentation/wiki documentation/english/earthdawn-active-effects.html
  documentation/wiki documentation/english/wiki.css
  documentation/wiki documentation/index.html
  documentation/wiki documentation/wiki.css
Due: none

fix: fixing image links
  documentation/wiki documentation/english/Legendenpunkte.html
  documentation/wiki documentation/english/character-gameplay.html
  documentation/wiki documentation/english/character-generation.html
  documentation/wiki documentation/german/Legendenpunkte.html
  documentation/wiki documentation/german/character-gameplay.html
  documentation/wiki documentation/german/character-generation.html
Due: none

chore: restrict GitHub Pages workflow to `main` branch
  .github/workflows/pages.yml
Due: none

fix: correct tooltip localization key for knockdown inputs
  templates/actor/actor-tabs/general.hbs
Due: none

chore: temporarily turn off trigger for testing
  .github/workflows/pages.yml
Due: none

fix: correct file paths in GitHub Pages workflow
  .github/workflows/pages.yml
Due: none

Revert "chore: temporarily turn off trigger for testing"
  .github/workflows/pages.yml
Due: none

chore: update GitHub Pages workflow triggers to include pull_request and merge_group events
  .github/workflows/pages.yml
Due: none

chore: limit GitHub Pages workflow pull_request trigger to `main` branch
  .github/workflows/pages.yml
Due: none

chore: update GitHub Pages workflow to trigger on push to `main` branch instead of pull_request
  .github/workflows/pages.yml
Due: none

fix: correctly copy files in GitHub Pages workflow
  .github/workflows/pages.yml
Due: none

chore: update URLs and metadata to reflect new GitHub repository location
  CONTRIBUTING.md
  earthdawn4e.mjs
  module/hooks/sidebar.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update dev dependencies
  package-lock.json
  package.json
Due: none

feat: use debug mode setting to conditionally create debug documents
  module/hooks/ready.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add user-configurable debug mode setting to system
  lang/de.json
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

refactor: replace section headers with region tags
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace hardcoded "ed4e" string with SYSTEM_ID constant in settings module
  module/constants/constants.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: turn off migration transformation
  module/hooks/ready.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: auto-update lang - en
  lang/en.json
Due: npm run lint:lang

chore: auto-update lang - fr
  lang/fr.json
Due: npm run lint:lang

refactor: replace section headers with region tags in ready hook
  module/hooks/ready.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: remove unnecessary log statements
  module/data/chat/attack.mjs
  module/hooks/socket.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: clean up update news dialog and setting
  lang/de.json
  module/hooks/ready.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

chore: auto-update lang - pl
  lang/pl.json
Due: npm run lint:lang

chore: fix typo
  documentation/wiki documentation/german/Faeden-und-Strukturen.html
  documentation/wiki documentation/german/Legendenpunkte.html
  documentation/wiki documentation/german/Release-notes.html
  documentation/wiki documentation/german/Verbesserungen.html
  documentation/wiki documentation/german/character-gameplay.html
  documentation/wiki documentation/german/character-generation.html
  documentation/wiki documentation/german/characterbogen.html
  documentation/wiki documentation/german/earthdawn-active-effects.html
Due: none
