Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Auto consolidated lang file en
  lang/en.json
Due: npm run lint:lang

Auto consolidated lang file fr
  lang/fr.json
Due: npm run lint:lang

Auto consolidated lang file pl
  lang/pl.json
Due: npm run lint:lang

Add LOCALIZATION_PREFIXES handling in abstract data model mixins
  module/data/abstract.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

item lang
  lang/de.json
  module/data/item/mask.mjs
  templates/item/item-partials/item-details.hbs
  templates/item/item-partials/item-details/descriptions/item-description-discipline.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-namegiver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shipWeapon.hbs
  templates/item/item-partials/item-details/details/item-details-knackAbility.hbs
  templates/item/item-partials/item-details/details/item-details-knackKarma.hbs
  templates/item/item-partials/item-details/details/item-details-knackManeuver.hbs
  templates/item/item-partials/item-details/details/item-details-talent.hbs
  templates/item/item-partials/item-details/partials/matrix.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

test
  module/hooks/sidebar.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

adjnust comments
  lang/de.json
  module/hooks/sidebar.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Add RollProcessor service for processing rolls and applying effects
  earthdawn4e.mjs
  module/services/_module.mjs
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance RollProcessor with customizable processing options and specialized roll type handlers
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Integrate RollProcessor for enhanced roll handling in resource management
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add German translations for devotion and karma usage messages
  lang/de.json
Due: npm run lint:lang

Auto lang update - en
  lang/en.json
Due: npm run lint:lang

Auto lang update - fr
  lang/fr.json
Due: npm run lint:lang

Auto lang update - pl
  lang/pl.json
Due: npm run lint:lang

Update German localization for keys detected in github workflow
  lang/de.json
  module/applications/advancement/learn-spell.mjs
  module/applications/effect/eae-sheet.mjs
  module/config/effects.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update lang file - en
  lang/en.json
Due: npm run lint:lang

Auto update lang file - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang file - pl
  lang/pl.json
Due: npm run lint:lang

Auto update lan file - en
  lang/en.json
Due: npm run lint:lang

Auto update lan file - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lan file - pl
  lang/pl.json
Due: npm run lint:lang

Add RecoveryRollOptions
  module/data/roll/_module.mjs
  module/data/roll/recovery.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix module namespace handling for Foundry's mergeObject compatibility
  module/config/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add workflows module and recovery modes enumeration
  module/config/_module.mjs
  module/config/workflows.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add Rollable mixin to enhance workflow roll functionality
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/attack-workflow.mjs
  module/workflows/workflow/attune-workflow.mjs
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add RecoveryWorkflow to handle actor recovery tests
  module/applications/global/prompt-factory.mjs
  module/data/roll/common.mjs
  module/data/roll/recovery.mjs
  module/documents/actor.mjs
  module/workflows/workflow/recovery-workflow.mjs
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add stun recovery test availability after stun damage
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Set rollToMessage option to true by default in ProcessOptions
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
