Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix: replace UI notification with thrown error for invalid step values
  module/dice/step-tables.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update eslint rules for quench files
  eslint.config.mjs
Due: none

feat: add quench reporter downloads
  tests/quench/index.mjs
  tests/quench/reporter.mjs
Due: none

test: expand step table tests with multiple editions and property-based validation
  tests/quench/suites/dice/step-table.quench.mjs
Due: none

fix: add 1eDice support to step-tables module
  module/dice/_module.mjs
  module/dice/step-tables.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: update quench registration doc
  tests/quench/index.mjs
Due: none

ci: add Quench report verification
  .github/workflows/quench-report.yml
Due: none

test: update quench report
  tests/quench/reports/latest.json
Due: none

test: remove unused dice unit tests
  tests/unit/module/dice/step-tables.test.mjs
Due: none

docs: update testing and quench
  CONTRIBUTING.md
Due: none

ci: remove quench test initialization on release
  .github/workflows/release-3-release.yml
Due: none

ci: allow vitest to pass with no tests
  package.json
Due: none

fix: adapted to comments
  module/applications/api/document-sheet-mixin.mjs
  templates/global/card-options-chat.hbs
  templates/global/card-options-class-upgrade.hbs
  templates/global/card-options-effect.hbs
  templates/global/card-options-enhance.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update system ID
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: factor out settings data
  module/helpers/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove SYSTEM_ID export from system.mjs
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: make setSetting async
  module/helpers/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: add default constructor param value
  module/applications/api/application.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: add saveChanges button for submits
  module/applications/global/prompt-factory.mjs
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

style: add form-group-fields partial for a generic list of rendering field inputs
  module/config/handlebars.mjs
  templates/global/form-group-fields.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: implement BaseSettingsConfig class and template
  module/applications/_module.mjs
  module/applications/settings/_module.mjs
  module/applications/settings/base-settings.mjs
  templates/settings/base-settings-config.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add settings config for game mechanics
  module/applications/settings/game-mechanics-settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update field entries generation
  module/applications/settings/base-settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add icons for character and LP tracking
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: centralize settings group configuration
  module/helpers/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add new settings configs
  module/applications/settings/_module.mjs
  module/applications/settings/character-generation-settings.mjs
  module/applications/settings/edid-settings.mjs
  module/applications/settings/lp-tracking-settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: auto register setting group menus
  module/helpers/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

style: make settings config fieldset scrollable
  templates/settings/base-settings-config.hbs
Due: none

feat: scope settings submission to system ID
  module/applications/settings/base-settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: add lang - de
  lang/de.json
Due: npm run lint:lang

chore: auto update lang - en
  lang/en.json
Due: npm run lint:lang

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

fix: update templates to use `_uuid` instead of `uuid`
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/equipment-card.hbs
  templates/actor/cards/power-card.hbs
  templates/actor/cards/thread-card.hbs
  templates/advancement/class-advancement-option-choice.hbs
  templates/advancement/class-advancement-spell-selection.hbs
  templates/chat/chat-buttons/use-maneuver.hbs
  templates/global/card-options-chat.hbs
  templates/global/card-options-class-upgrade.hbs
  templates/global/card-options-effect.hbs
  templates/global/card-options-enhance.hbs
  templates/global/effect-card.hbs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: none

fix: don't expand object in update source when using uuid as key
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: don't expand object in `updateSource` when using uuid as keys
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace direct `game.settings.get` calls with `getSetting` helper
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/namegiver-sheet.mjs
  module/applications/advancement/class-advancement.mjs
  module/applications/advancement/learn-spell.mjs
  module/applications/global/document-creation.mjs
  module/applications/global/prompt-factory.mjs
  module/config/document-data.mjs
  module/data/abstract/actor-data-model.mjs
  module/data/abstract/item-data-model.mjs
  module/data/actor/pc.mjs
  module/data/actor/templates/namegiver.mjs
  module/data/chat/base-message.mjs
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/questor.mjs
  module/data/item/skill.mjs
  module/data/item/spell.mjs
  module/data/item/talent.mjs
  module/data/item/templates/targeting.mjs
  module/data/other/character-generation.mjs
  module/data/roll/common.mjs
  module/dice/step-tables.mjs
  module/documents/actor.mjs
  module/services/migrations/type-transformation-manager.mjs
  module/services/migrations/v082/document-type-migrations/item/connections.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: pass increase abilities to step modifier calculation
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

style: make roll prompt step modifiers collapsible
  templates/prompts/roll/part-step.hbs
Due: none

style: create own status effect icons files with transparent background
  assets/icons/status-effects/aggressive.svg
  assets/icons/status-effects/attack-knockdown.svg
  assets/icons/status-effects/attack-stun.svg
  assets/icons/status-effects/attune-on-the-fly.svg
  assets/icons/status-effects/blindness.svg
  assets/icons/status-effects/blindsided.svg
  assets/icons/status-effects/called-shot.svg
  assets/icons/status-effects/concentrating.svg
  assets/icons/status-effects/cover.svg
  assets/icons/status-effects/darkness.svg
  assets/icons/status-effects/dazzled.svg
  assets/icons/status-effects/dead.svg
  assets/icons/status-effects/defensive.svg
  assets/icons/status-effects/fury.svg
  assets/icons/status-effects/grappled.svg
  assets/icons/status-effects/harried.svg
  assets/icons/status-effects/impaired.svg
  assets/icons/status-effects/jump-up.svg
  assets/icons/status-effects/knocked-down.svg
  assets/icons/status-effects/overwhelmed.svg
  assets/icons/status-effects/set-against-charge.svg
  assets/icons/status-effects/shatter-shield.svg
  assets/icons/status-effects/split-movement.svg
  assets/icons/status-effects/surprised.svg
  assets/icons/status-effects/tail-attack.svg
  assets/icons/status-effects/unconscious.svg
  module/config/statuses.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
