Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Refactor rollDamage method to include damage source type and improve roll options handling
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor _performDamageTest to utilize DamageRollOptions.fromData for improved damage roll configuration
  module/workflows/workflow/raw-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add rendering region comments
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update damage roll flavor header to display damage source type
  templates/chat/chat-flavor/damage-roll-flavor.hbs
Due: none

Add SVG assets for damage representation
  assets/icons/damage-transparent.svg
  assets/icons/damage.svg
Due: none

Add background image for damage visualization in chat messages
  less/chat/chat-messages.less
Due: none

Compile LESS
  earthdawn4e.css
Due: none

Add localizations - de
  lang/de.json
Due: npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update health-character-card.hbs
  templates/actor/cards/health-character-card.hbs
Due: none

Refactor damage source configuration
  module/config/combat.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization - de
  lang/de.json
Due: npm run lint:lang

Make undefined properties for damage source config explicit
  module/config/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Pass attack roll to weapon damage roll function
  module/data/chat/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

mob-sheet-fix
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/health-none-character-card.hbs
Due: none

dictionary + lang
  dictionaries/0_8_2_migration-words.txt
  lang/de.json
Due: npm run lint:lang

add option to show uncategorized Talents
  templates/actor/actor-tabs/talents.hbs
Due: none

migrate discipline circle
  module/services/migrations/v082/document-type-migrations/item/discipline.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

mob-sheet-fix
  earthdawn4e.css
  lang/en.json
  less/global/meters.less
  less/global/variables.less
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/health-none-character-card.hbs
Due: npm run lint:lang

mob-sheet-fix
  templates/actor/actor-tabs/general.hbs
Due: none

mod-sheet-fix
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/health-none-character-card.hbs
Due: none

fix character attributes
  module/documents/actor.mjs
  module/services/migrations/v082/document-type-migrations/actor/character.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add embedded items to fixDocuments
  module/services/migrations/type-transformation-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Organize class structure and group
  module/data/chat/base-message.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove active effects section from attack roll flavor template
  templates/chat/chat-flavor/attack-roll-flavor.hbs
Due: none

Update effect flavor template to use arbitrary roll flavor
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add item UUID to apply effect button
  templates/chat/chat-buttons/assign-effect.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
