Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Add class documentation and first setup of automatic init
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update property types in RollData to allow null values
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update parameter types in initialization methods to use EdRollOptionsInitializationData
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add damage source types
  module/config/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add falling damage handling and update armorType to nullable
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add drowning damage constants for damage calculation
  module/config/environment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add fire damage data for various fire sources
  module/config/environment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add armor type handling for new damage source types
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor damage source type handling in step calculations
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add drowning and fire damage step calculations to damage handling
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor roll data type definitions to use RollModifiers for consistency
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add bonus damage per extra success constant for attack rolls
  module/config/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add detailed type definitions for various damage roll options
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add new field isFavorite to sheets
  templates/item/item-partials/item-details/details/item-details-abilities.hbs
  templates/item/item-partials/item-details/details/item-details-armor.hbs
  templates/item/item-partials/item-details/details/item-details-devotion.hbs
  templates/item/item-partials/item-details/details/item-details-equipment.hbs
  templates/item/item-partials/item-details/details/item-details-knackAbility.hbs
  templates/item/item-partials/item-details/details/item-details-shield.hbs
  templates/item/item-partials/item-details/details/item-details-skill.hbs
  templates/item/item-partials/item-details/details/item-details-spell.hbs
  templates/item/item-partials/item-details/details/item-details-weapon.hbs
  templates/item/item-partials/item-details/partials/favorite.hbs
Due: none

Update favorite.mjs
  module/data/item/templates/favorite.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

css
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

Update de.json
  lang/de.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update utils.mjs
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

data preparation for favorite buttons
  module/applications/actor/sentient-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Delete special-abilities-characters.hbs
  templates/actor/cards/special-abilities-characters.hbs
Due: none

Update special-abilities-npc.hbs
  templates/actor/cards/special-abilities-npc.hbs
Due: none

create favorite button area
  templates/actor/actor-tabs/general.hbs
Due: none

exclude standard button from favorits
  templates/actor/actor-tabs/general.hbs
Due: none

Add suffocation damage step definitions
  module/config/environment.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add suffocation round handling and damage step calculation
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add damage type retrieval methods for source document analysis
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to determine armor ignoring based on damage source type
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to determine natural armor consideration based on damage source type
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to prepare damage element and subtype based on source type
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Make attack roll optional for calculating bonus damage step
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update general.hbs
  templates/actor/actor-tabs/general.hbs
Due: none

Refactor base step retrieval for damage source types using switch statement
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update unarmed damage roll method and update attack handling for unarmed attacks
  module/data/chat/attack.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
