Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

ensure roll evaluation before processing jump up
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add jump up strain cost setting for game mechanics
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add jump up base difficulty setting for game mechanics
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add jump up workflow for handling actor jump up tests
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/jump-up-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

move jump up functionality to workflow class
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix correct status handling
  module/documents/actor.mjs
  module/services/roll-processor.mjs
  module/workflows/workflow/jump-up-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add status effect handling to actor sheet
  module/applications/actor/sentient-sheet.mjs
  templates/actor/actor-tabs/specials.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Compile css
  earthdawn4e.css
Due: none

Update status button styling on sheets
  less/global/config.less
  less/sheets/actor-sheet-layout.less
Due: none

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Remove unused condition fields from sentient schema
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Hide true pattern tab for disallowed item types in rendering
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add basic ThreadData model and update module exports
  module/data/thread/_module.mjs
  module/data/thread/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update effects.mjs
  module/config/effects.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ALLOWED_TYPES and isAllowedInDocument method to define embedded document constraints
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ThreadItemSheet for rendering thread item details
  module/applications/item/_module.mjs
  module/applications/item/thread-item-sheet.mjs
  module/hooks/init.mjs
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread item description template to item-description.hbs and utils.mjs
  module/utils.mjs
  templates/item/item-partials/item-description.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ThreadData model and integrate into module exports
  module/data/item/_module.mjs
  module/data/item/thread.mjs
  module/data/thread/_module.mjs
  module/data/thread/thread.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove true pattern tab configuration from rendering for disallowed item types
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add isThreadItem getter to determine if data represents a thread item
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add button template
  module/utils.mjs
  templates/global/button.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread item details rendering and update utils
  module/utils.mjs
  templates/item/item-partials/item-details.hbs
  templates/item/item-partials/item-details/details/item-details-thread.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Disable form fields for wovenToUuid and level in thread item description
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
Due: none

Add new Font Awesome icons
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add action buttons for item controls in thread description
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
  templates/item/item-partials/item-details/details/item-details-thread.hbs
Due: none

Remove item control buttons from thread description template
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
Due: none

Add tooltip and dynamic data attributes to button component
  templates/global/button.hbs
Due: none

Add eye and eye-slash icons to the icon set
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods to toggle rank knowledge for thread items
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update thread item validation to allow zero as a minimum value
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods to toggle rank knowledge visibility for thread items
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add toggle functionality for true pattern visibility in physical item sheet
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add threadType field and methods for determining thread type in ThreadData model
  module/config/magic.mjs
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor true pattern controls to separate editable and non-editable states, adding item history, research, and weave thread check buttons for non-editable users
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: none

Add getters and methods for legend point increase in LpIncreaseTemplate
  module/data/item/templates/lp-increase.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add item history, research, and weave thread check methods to thread item sheet
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add truePatternTypes enum based on threadTypes for better pattern type management
  module/config/magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
