Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Add handling for permanent effects from increase
  module/data/item/path.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization - de
  lang/de.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

refactor: organize in regions
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor system data preparation for create/update operations
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

implement updates for class effects
  module/data/item/path.mjs
  module/data/item/templates/class.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: remove debug log from _preUpdate method
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: async handling in preCreate and preUpdate methods
  module/data/effects/eae.mjs
  module/data/item/templates/item-description.mjs
  module/documents/active-effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update tooltip hint logic for disabled field in details.hbs
  templates/effect/details.hbs
Due: none

add generateEdId method for default edid generation
  module/data/fields/edid-field.mjs
  module/data/item/templates/item-description.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

entered comments
  module/documents/actor.mjs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

create mask item sheet, application & data model
  lang/de.json
  module/applications/item/_module.mjs
  module/applications/item/mask-item-sheet.mjs
  module/data/actor/templates/sentient.mjs
  module/data/item/mask.mjs
  module/hooks/init.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

revert changes unrelated to this pr
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update de.json
  lang/de.json
Due: npm run lint:lang

adapt mask data model to align to sentient data model
  lang/de.json
  module/data/item/mask.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

incoprorate comments
  lang/de.json
  module/applications/item/mask-item-sheet.mjs
  module/data/item/mask.mjs
  module/utils.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Fix rebase error missing keys
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

movement-container
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  module/utils.mjs
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/movement-card.hbs
  templates/actor/cards/special-abilities-characters.hbs
  templates/actor/cards/special-abilities-npc.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

movement-container
  earthdawn4e.css
  less/global/config.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/cards/special-abilities-characters.hbs
Due: none

add new method ot the app
  module/applications/item/mask-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update mask-item-sheet.mjs
  module/applications/item/mask-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

intermediate commit
  module/data/item/mask.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update
  module/data/item/mask.mjs
  module/documents/item.mjs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
