Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

chore: fix syntax error in release-4-foundry-package.yml
  .github/workflows/release-4-foundry-package.yml
Due: none

chore: add dummy release for merge group trigger
  .github/workflows/release-merge-group-dummy.yml
Due: none

chore: remove dummy release for merge group trigger
  .github/workflows/release-merge-group-dummy.yml
Due: none

chore: update release workflow to handle pull_request events and refine job conditions
  .github/workflows/release-3-release.yml
Due: none

chore: remove pull_request trigger types from release-3-release.yml
  .github/workflows/release-3-release.yml
Due: none

Revert "🔖 Release 0.1.0"
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
  .github/workflows/release-3-release.yml
  .github/workflows/release-4-foundry-package.yml
  CHANGELOG.md
  package-lock.json
  package.json
  system.json
Due: none

chore: update issue templates for clarity and consistency
  .github/ISSUE_TEMPLATE/01-bug-report.yml
  .github/ISSUE_TEMPLATE/02-compendium-data.yml
  .github/ISSUE_TEMPLATE/03-feature-request.yml
Due: none

chore: detect release branches
  .github/workflows/release-3-release.yml
Due: none

chore: remove pull_request branch restriction from release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: fix PR number extraction in release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: improve PR number extraction and logging in release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: fix syntax error in compatibility section of release workflow
  .github/workflows/release-4-foundry-package.yml
Due: none

chore: update condition for build step in release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: add PR gate check to release workflow and update build conditions
  .github/workflows/release-3-release.yml
Due: none

chore: update pull request trigger conditions in release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: remove unnecessary PR gate check from release workflow
  .github/workflows/release-3-release.yml
Due: none

chore: add check to delete existing release before creating a new one
  .github/workflows/release-3-release.yml
Due: none

chore: update release deletion notice format in workflow
  .github/workflows/release-3-release.yml
Due: none

chore: log API call variables in release workflow
  .github/workflows/release-4-foundry-package.yml
Due: none

fix: pass secrets to nested workflow
  .github/workflows/release-3-release.yml
  .github/workflows/release-4-foundry-package.yml
Due: none

fix: improve response handling in Foundry Package release workflow
  .github/workflows/release-4-foundry-package.yml
Due: none

chore: update release workflow to use merge_group and add PR gate
  .github/workflows/release-3-release.yml
  .github/workflows/release-3a-pr-gate.yml
Due: none

chore: rename release workflow file and update permissions for PR auto-merge
  .github/workflows/release-3a-pr-gate.yml
Due: none

fix: update release workflow to handle pull request events correctly
  .github/workflows/release-3-release.yml
Due: none

fix: missing global bonuses
  module/data/roll/attack.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add global modifier keys for weapon types
  module/config/items.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: resolve issue with all close attacks not applying global bonuses
  module/data/roll/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: correct global modifier key for weapon type attacks
  module/data/roll/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

style: missing whitespace
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: fix typo
  module/config/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update melee damage to "close" damage
  module/config/items.mjs
  module/config/statuses.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update allMeleeDamage to allCloseDamage in English localization
  lang/en.json
Due: npm run lint:lang

fix: rename allMeleeDamage to allCloseDamage in German localization
  lang/de.json
Due: npm run lint:lang

feat: add global damage modifiers
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: rename allMeleeDamage to allCloseDamage
  module/config/effects.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: rename allMeleeDamage to allCloseDamage in French localization
  lang/fr.json
Due: npm run lint:lang

fix: rename allMeleeDamage to allCloseDamage in Polish localization
  lang/pl.json
Due: npm run lint:lang

fix: update global bonus retrieval for unarmed and weapon damage sources
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

doku
  documentation/wiki documentation/german/Faeden-und-Strukturen.html
  documentation/wiki documentation/german/Verbesserungen.html
  documentation/wiki documentation/german/characterbogen.html
  documentation/wiki documentation/german/earthdawn-active-effects.html
Due: none

feat: add vitest for testing infrastructure setup
  package-lock.json
  package.json
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
