Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

data lang
  lang/de.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

dialog lang
  lang/de.json
  module/applications/advancement/learn-spell.mjs
  module/applications/workflow/attune-matrix-prompt.mjs
  templates/actor/generation/equipment-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

masks and errors
  lang/de.json
  module/dice/ed-roll.mjs
  module/utils.mjs
  templates/chat/chat-flavor/attack-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

settings
  lang/de.json
  module/data/abstract.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

the rest
  lang/de.json
  module/applications/effect/eae-sheet.mjs
  module/config/legend.mjs
  module/documents/actor.mjs
  templates/actor/actor-tabs/legend.hbs
  templates/actor/actor-tabs/spells.hbs
  templates/actor/cards/spell-card.hbs
  templates/combat/combatant-config.hbs
  templates/global/card-options-chat.hbs
  templates/global/card-options-class-upgrade.hbs
  templates/global/card-options-effect.hbs
  templates/global/card-options-enhance.hbs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
  templates/item/item-partials/item-details/partials/matrix.hbs
  templates/item/item-partials/item-tooltip.hbs
  templates/workflow/attune-matrix.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

LP Increase Dots
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/attribute-card.hbs
Due: none

create system update message
  lang/de.json
  module/hooks/ready.mjs
  module/settings.mjs
  templates/system-messages/update-message-v1_0_0.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

skill migration
  dictionaries/ed4e-words.txt
  module/config/migrations.mjs
  module/data/item/migration/_module.mjs
  module/data/item/migration/old-system-V082/_module.mjs
  module/data/item/migration/old-system-V082/action.mjs
  module/data/item/migration/old-system-V082/attribute.mjs
  module/data/item/migration/old-system-V082/description.mjs
  module/data/item/migration/old-system-V082/difficulty.mjs
  module/data/item/migration/old-system-V082/level.mjs
  module/data/item/migration/old-system-V082/tier.mjs
  module/data/item/skill.mjs
  module/data/item/talent.mjs
  module/documents/migration/item/old-system-V082/abilities.mjs
  module/documents/migration/item/old-system-V082/defenses.mjs
  module/documents/migration/item/old-system-V082/image.mjs
  module/documents/migration/item/old-system-V082/roll-type-Migration.mjs
  module/documents/migration/item/old-system-V082/skill.mjs
  module/documents/migration/item/old-system-V082/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

skill migration
  dictionaries/ed4e-words.txt
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  less/sheets/item-sheet-layout.less
  module/data/item/migration/old-system-V082/_module.mjs
  module/data/item/migration/old-system-V082/attribute.mjs
  module/data/item/migration/old-system-V082/difficulty.mjs
  module/data/item/talent.mjs
  module/documents/migration/item/old-system-V082/defenses.mjs
  module/documents/migration/item/old-system-V082/image.mjs
  module/documents/migration/item/old-system-V082/skill.mjs
  module/documents/migration/item/old-system-V082/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

little more clean up
  lang/de.json
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

set the update not to user view as well
  lang/de.json
  module/hooks/ready.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

begin system manual
  documentation/User Manual-de/1. Initiales Setup/System-Settings.md
  documentation/User Manual-de/2. Akteure/Charakter.md
Due: none

update
  documentation/User Manual-de/1. Initiales Setup/2. main-ui.md
  documentation/User Manual-de/2. Akteure/Character.md
Due: none

more docu
  documentation/User Manual-de/1. Initiales Setup/1. Introduction.md
  documentation/User Manual-de/1. Initiales Setup/2. main-ui.md
  documentation/User Manual-de/1. Initiales Setup/3. System-Settings.md
Due: none

Update 2. main-ui.md
  documentation/User Manual-de/1. Initiales Setup/2. main-ui.md
Due: none

update
  documentation/User Manual-de/1. Initiales Setup/2. main-ui.md
  documentation/User Manual-de/2. Akteure/Character.md
  documentation/User Manual-de/Items/2. Abilities.md
Due: none
