Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

fix bug
  module/applications/actor/character-sheet.mjs
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove custom tab state handling from render method
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update tab class reference in legend template
  templates/actor/actor-tabs/legend.hbs
Due: none

refactor: remove name attributes from read-only inputs
  module/data/item/templates/ability.mjs
  templates/actor/actor-tabs/general.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/damage-none-character-card.hbs
  templates/actor/cards/health-character-card.hbs
  templates/actor/cards/health-none-character-card.hbs
  templates/effect/duration.hbs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate comments
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update condition for actor effect application in details template
  templates/effect/details.hbs
Due: none

fix: ensure source data is from old version before migrating
  module/services/migrations/v082/document-type-migrations/item/namegiver.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

nice example
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

works for talents
  module/hooks/ready.mjs
  module/services/migrations/common/base-migration.mjs
  module/services/migrations/migration-manager.mjs
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

adapt
  dictionaries/0_8_2_migration-words.txt
  module/services/migrations/v082/document-migrations.mjs
  module/services/migrations/v082/document-type-migrations/item/ability-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/armor.mjs
  module/services/migrations/v082/document-type-migrations/item/class.mjs
  module/services/migrations/v082/document-type-migrations/item/defenses.mjs
  module/services/migrations/v082/document-type-migrations/item/devotion.mjs
  module/services/migrations/v082/document-type-migrations/item/equipment.mjs
  module/services/migrations/v082/document-type-migrations/item/karma-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/maneuver-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/mask.mjs
  module/services/migrations/v082/document-type-migrations/item/matrix.mjs
  module/services/migrations/v082/document-type-migrations/item/namegiver.mjs
  module/services/migrations/v082/document-type-migrations/item/power.mjs
  module/services/migrations/v082/document-type-migrations/item/reputation.mjs
  module/services/migrations/v082/document-type-migrations/item/shield.mjs
  module/services/migrations/v082/document-type-migrations/item/skill.mjs
  module/services/migrations/v082/document-type-migrations/item/spell-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/spell.mjs
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
  module/services/migrations/v082/document-type-migrations/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

works so far, not refactored
  lang/en.json
  module/services/migrations/migration-manager.mjs
  module/services/migrations/v082/document-type-migrations/item/armor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

added migration logging
  module/services/migrations/v082/document-migrations.mjs
  module/services/migrations/v082/document-type-migrations/item/class.mjs
  module/services/migrations/v082/document-type-migrations/item/devotion.mjs
  module/services/migrations/v082/document-type-migrations/item/karma-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/maneuver-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/namegiver.mjs
  module/services/migrations/v082/document-type-migrations/item/power.mjs
  module/services/migrations/v082/document-type-migrations/item/shield.mjs
  module/services/migrations/v082/document-type-migrations/item/skill.mjs
  module/services/migrations/v082/document-type-migrations/item/spell-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/spell.mjs
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
  module/services/migrations/v082/document-type-migrations/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

removed unnecessary progress bar
  module/services/migrations/migration-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

report for the moment
  module/hooks/ready.mjs
  module/services/migrations/migration-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

saving other flags
  module/services/migrations/migration-manager.mjs
  module/services/migrations/v082/document-type-migrations/item/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fixed class talents
  module/services/migrations/v082/document-type-migrations/item/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

adapt uuids of owned items
  module/services/migrations/migration-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fixed knacks
  module/services/migrations/v082/document-type-migrations/item/_module.mjs
  module/services/migrations/v082/document-type-migrations/item/ability-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/karma-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/maneuver-knack.mjs
  module/services/migrations/v082/field-migrations/knack-requirements.mjs
  module/services/migrations/v082/field-migrations/knack-restriction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

clean up
  module/services/migrations/v082/document-type-migrations/item/class.mjs
  module/services/migrations/v082/field-migrations/knack-requirements.mjs
  module/services/migrations/v082/field-migrations/knack-restriction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add config for not allways create a journal
  lang/de.json
  module/services/migrations/migration-manager.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update settings.mjs
  module/settings.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

class update
  module/applications/item/class-item-sheet.mjs
  module/data/advancement/base-advancement.mjs
  module/services/migrations/v082/document-type-migrations/item/class.mjs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactoring migration manager
  module/services/migrations/migration-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

fixed pricing issue
  module/services/migrations/v082/field-migrations/price.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update ready.mjs
  module/hooks/ready.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update base-migration.mjs
  module/services/migrations/common/base-migration.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

make use of journal service
  module/services/migrations/migration-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactoring
  module/services/migrations/migration-manager.mjs
  module/services/migrations/type-transformation-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactoring
  lang/de.json
  module/services/migrations/migration-manager.mjs
  module/services/migrations/v082/document-type-migrations/item/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

localization
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/services/migrations/migration-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

more localization
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/services/migrations/v082/document-type-migrations/item/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

finished localization
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/services/migrations/migration-manager.mjs
  module/services/migrations/v082/document-type-migrations/item/ability-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/class.mjs
  module/services/migrations/v082/document-type-migrations/item/devotion.mjs
  module/services/migrations/v082/document-type-migrations/item/karma-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/maneuver-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/namegiver.mjs
  module/services/migrations/v082/document-type-migrations/item/power.mjs
  module/services/migrations/v082/document-type-migrations/item/shield.mjs
  module/services/migrations/v082/document-type-migrations/item/skill.mjs
  module/services/migrations/v082/document-type-migrations/item/spell-knack.mjs
  module/services/migrations/v082/document-type-migrations/item/spell.mjs
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
  module/services/migrations/v082/document-type-migrations/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

incorporate comments
  module/data/actor/pc.mjs
  module/data/roll/knockdown.mjs
  module/documents/actor.mjs
  module/services/roll-processor.mjs
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
