Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, npm run format:lang

Fix rebase mistakes
  eslint.config.mjs
  lang/en.json
Due: npm run format:lang

Fix rebase mess-up
  lang/en.json
Due: npm run format:lang

Add workflow and actor workflow classes with module exports
  earthdawn4e.mjs
  module/workflows/_module.mjs
  module/workflows/workflow-interrupt.mjs
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/actor-workflow.mjs
  module/workflows/workflow/workflow.mjs
Due: eslint --fix --config eslint.config.mjs

Add method to retrieve attack ability for a given weapon
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs

Clarify workflow result documentation and adjust step execution handling
  module/workflows/workflow/workflow.mjs
Due: eslint --fix --config eslint.config.mjs

Add AttackWorkflow class to handle attack mechanics
  module/workflows/workflow/attack-workflow.mjs
Due: eslint --fix --config eslint.config.mjs

Refactor attack methods to use AttackWorkflow
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs

Update issue templates
  .github/ISSUE_TEMPLATE/refactoring.md
Due: none

sheet background less
  assets/sheet/background-npc-dark.webp
  assets/sheet/background-pc-dark.webp
  assets/sheet/parchment.webp
  lang/en.json
  less/global/config.less
  less/global/global.less
  less/sheets/actor-sheet-layout.less
Due: npm run format:lang

Update global.less
  less/global/global.less
Due: none

fixes to 15/04/25 commit conflicts
  earthdawn4e.css
  lang/en.json
  less/prompts/start-round-combatant-prompt.less
Due: npm run format:lang

include singleton check for items on drop
  documentation/User Functions/UF_ActorSheetEdNamegiver/UF_ActorSheetEdNamegiver-onDropItem.md
  lang/de.json
  module/applications/actor/namegiver-sheet.mjs
  module/data/item/namegiver.mjs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

finish application documentation of user functions
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-addClassLevel.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-defaultOptions.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-deleteClassLevel.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-getClassTabs.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-parts.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-prepareContext.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-preparePartContext.md
  documentation/User Functions/UF_ClassItemSheetEd/UF_ClassItemSheetEd-tabs.md
  documentation/User Functions/UF_TokenHUDEd/UF_TokenHUDEd-defaultOptions.md
  documentation/User Functions/UF_TokenHUDEd/UF_TokenHUDEd-onToggleEffect.md
  module/applications/hud/token-hud.mjs
  module/applications/item/class-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

linting correction
  module/applications/hud/token-hud.mjs
  module/applications/item/class-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

Update class-item-sheet.mjs
  module/applications/item/class-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

finish canvas documentation
  documentation/User Functions/UF_TokenEd/UF_TokenEd-drawBar.md
  documentation/User Functions/UF_TokenEd/UF_TokenEd-drawHealthBar.md
  documentation/User Functions/UF_TokenEd/UF_TokenEd-drawKarmaBar.md
  documentation/User Functions/UF_TokenEd/UF_TokenEd-resetBar.md
  documentation/User Functions/UF_TokenEd/UF_TokenEd-setBarPosition.md
  module/canvas/token.mjs
Due: eslint --fix --config eslint.config.mjs

Actor Sheet Re-Style
  earthdawn4e.css
  lang/en.json
  less/global/config.less
  less/global/global.less
  less/global/icons.less
  less/item/item-sheet-global.less
  less/sheets/actor-sheet-layout.less
  less/sheets/owned-items-view.less
  templates/actor/actor-tabs/devotions.hbs
  templates/actor/actor-tabs/equipment.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/actor-tabs/powers.hbs
  templates/actor/actor-tabs/skills.hbs
  templates/actor/actor-tabs/specials.hbs
  templates/actor/actor-tabs/talents.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
  templates/actor/cards/equipment-card.hbs
  templates/actor/cards/knack-karma-card.hbs
  templates/actor/cards/knack-maneuver-card.hbs
  templates/actor/cards/maneuver-card.hbs
Due: npm run format:lang

Update token.mjs
  module/canvas/token.mjs
Due: eslint --fix --config eslint.config.mjs

Actor Sheet Re-Style v2
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/specials.hbs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
Due: none

Actor Sheet Re-Style
  assets/sheet/mottle.png
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-partials/actor-section-name.hbs
  templates/actor/actor-tabs/general.hbs
Due: none

Add localization JSON consolidation and linting utilities
  .lintstagedrc.yaml
  package.json
  utils/consolidate-lang-json.mjs
  utils/format-lang-json.mjs
  utils/lint-json.mjs
Due: none

Add common application base classes
  module/applications/_module.mjs
  module/applications/api/_module.mjs
  module/applications/api/application.mjs
  module/applications/api/dialog.mjs
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs

Refactor ActorSheetEd to use DocumentSheetMixinEd
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

Refactor ItemSheetEd to extend DocumentSheetMixinEd
  module/applications/item/item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

Fix doc
  module/applications/actor/common-sheet.mjs
  module/applications/item/item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

Actor Sheet Re-Style
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: none

Actor Sheet Re-Style
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

Refactor item control actions to use common document sheet mixin handlers
  module/applications/actor/common-sheet.mjs
  module/applications/api/document-sheet-mixin.mjs
  module/applications/item/item-sheet.mjs
  templates/actor/cards/ability-card.hbs
  templates/global/card-options-chat.hbs
  templates/global/card-options-class-upgrade.hbs
  templates/global/card-options-effect.hbs
  templates/global/card-options-enhance.hbs
  templates/item/item-partials/item-section-top.hbs
Due: eslint --fix --config eslint.config.mjs

Update min required Foundry version to 13.340
  system.json
Due: none

Rename Application and Dialog classes to ApplicationEd and DialogEd
  module/applications/api/_module.mjs
  module/applications/api/applicationEd.mjs
  module/applications/api/dialog.mjs
Due: eslint --fix --config eslint.config.mjs

Replace DialogV2 with DialogEd in multiple modules
  module/applications/global/document-creation.mjs
  module/applications/global/prompt-factory.mjs
  module/data/actor/pc.mjs
  module/data/item/devotion.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs

Actor Sheet Re-Style
  earthdawn4e.css
  lang/en.json
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-partials/actor-section-buttons-namegiver.hbs
  templates/actor/actor-tabs/general.hbs
Due: npm run format:lang

Actor Sheet Re-Style
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
Due: none

Rename update custom application to use `ApplicationEd`
  module/applications/actor/character-generation-prompt.mjs
  module/applications/advancement/assign-legend.mjs
  module/applications/advancement/class-advancement.mjs
  module/applications/advancement/learn-spell.mjs
  module/applications/advancement/lp-history.mjs
  module/applications/api/_module.mjs
  module/applications/api/application.mjs
  module/applications/combat/start-round-combatant-prompt.mjs
  module/applications/configs/base-config-sheet.mjs
  module/applications/global/document-creation.mjs
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs

Linting
  module/applications/actor/character-generation-prompt.mjs
  module/applications/advancement/assign-legend.mjs
  module/applications/global/document-creation.mjs
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs

Actor Sheet Re-Style
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/devotions.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/actor-tabs/talents.hbs
Due: none

Remove matrix item-related data and templates
  module/config/system.mjs
  module/data/item/_module.mjs
  module/data/item/matrices.mjs
  module/utils.mjs
  system.json
  templates/actor/actor-tabs/spells.hbs
  templates/item/item-partials/item-description.hbs
  templates/item/item-partials/item-details.hbs
  templates/item/item-partials/item-details/descriptions/item-description-matrix.hbs
  templates/item/item-partials/item-details/details/item-details-matrix.hbs
Due: eslint --fix --config eslint.config.mjs

Add methods to retrieve containing actor and check actor embedding status
  module/data/abstract.mjs
Due: eslint --fix --config eslint.config.mjs

Add matrix data model
  module/config/magic.mjs
  module/data/common/_module.mjs
  module/data/common/matrix.mjs
Due: eslint --fix --config eslint.config.mjs

Path conditions:
  eslint --fix --config eslint.config.mjs: any of: module/**/*.mjs
  npm run format:lang: any of: lang/**/*.json
