Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Compile css
  earthdawn4e.css
Due: none

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Remove unused condition fields from sentient schema
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

rebase
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

second attempt
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate comments
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor talent and knack handling in character sheet
  module/applications/actor/character-sheet.mjs
  templates/actor/actor-tabs/talents.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

exchanged all willpower with willforce
  dictionaries/ed4e-words.txt
  lang/de.json
  module/applications/global/prompt-factory.mjs
  module/config/system.mjs
  module/data/item/spell.mjs
  module/data/roll/damage.mjs
  module/data/roll/spelleffect.mjs
  module/workflows/workflow/damage-workflow.mjs
  templates/chat/chat-flavor/effect-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

incorporate change requests
  documentation/wiki documentation/german/Legendenpunkte.html
  documentation/wiki documentation/german/Release-notes.html
  documentation/wiki documentation/german/Verbesserungen.html
Due: none

fix update delete syntax
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add active effect value metric data and enhance spell enhancements
  module/config/magic.mjs
  module/data/common/metrics.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add True Pattern section and refactor thread information display
  module/utils.mjs
  templates/actor/actor-tabs/connections.hbs
  templates/global/thread-basic-information.hbs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Rename thread-basic-information.hbs
  module/utils.mjs
  templates/actor/actor-tabs/connections.hbs
  templates/global/true-pattern-basic-information.hbs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

only show ture pattern section if allowed
  module/applications/actor/common-sheet.mjs
  templates/actor/actor-tabs/connections.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

reorganize structure
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add TruePatternData to actor common template
  module/data/actor/templates/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add weave thread functionality to actor true pattern tab
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Move threadConnectedItems to top level sheet context preparing
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update true pattern fields to allow nullable values and adjust thread item checks
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add toggle functionality for True Pattern visibility to players
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor thread weaving ability check to throw an error instead of using a confirmation dialog
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update actor selection prompt to conditionally handle GM status
  module/applications/actor/common-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove outdated comments from requiredLpForIncrease getter in true-pattern.mjs
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update true pattern fields to reference document instead to use for actors and items
  templates/global/true-pattern-basic-information.hbs
Due: none

Initialize true pattern's tier with "warden" for group actors (for group thread lp tracking)
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add hasDeed getter and sort getters
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
