Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, npm run format:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules
"module/**/*.mjs": "eslint --fix --config eslint.config.mjs"

# format and check language files
"lang/**/*.json": "npm run format:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

adapt comments
  documentation/User Functions/UF_ActorSheetEd/UF_ActorSheetEd-tabs.md
  documentation/User Functions/UF_CharacterGenerationPrompt/UF_CharacterGenerationPrompt-tabs.md
  documentation/User Functions/UF_EarthdawnActiveEffectSheet/UF_EarthdawnActiveEffectSheet-tabs.md
  documentation/User Functions/UF_LegendPointHistory/UF_LegendPointHistory-tabs.md
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/creature-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/group-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/loot-sheet.mjs
  module/applications/actor/namegiver-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/sentient-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
  module/applications/actor/trap-sheet.mjs
  module/applications/actor/vehicle-sheet.mjs
  module/applications/advancement/assign-legend.mjs
  module/applications/advancement/class-advancement.mjs
  module/applications/advancement/learn-spell.mjs
  module/applications/advancement/lp-history.mjs
Due: eslint --fix --config eslint.config.mjs

Update en.json
  lang/en.json
Due: npm run format:lang

Add localization prefixes for various data models
  lang/de.json
  module/data/abstract.mjs
  module/data/item/spell.mjs
  module/data/item/templates/item-description.mjs
  module/data/item/templates/learnable.mjs
  module/data/item/templates/targeting.mjs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Add label prefix to all application tab configurations
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/advancement/lp-history.mjs
  module/applications/effect/eae-sheet.mjs
  module/applications/global/roll-prompt.mjs
  module/applications/item/class-item-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

worked in comments
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs

Archive unused .less files to clean up folders
  less/old-less/actor-sheet-global.less
  less/old-less/cards.less
  less/old-less/character-attributes.less
  less/old-less/character-discipline.less
  less/old-less/character-generation-prompt.less
  less/old-less/character-header-section.less
  less/old-less/character-image-characteristics.less
  less/old-less/character-navigator.less
  less/old-less/class.less
  less/old-less/combat-modifier.less
  less/old-less/dark-theme.less
  less/old-less/documentCreation.less
  less/old-less/global copy.less
  less/old-less/journal-global.less
  less/old-less/old-character-sheet.less
  less/old-less/quick-access.less
  less/old-less/system-settings.less
  less/old-less/tours.less
Due: none

en.json updates
  lang/en.json
Due: npm run format:lang

Basic Global .less Changes
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
Due: none

Add data model for combatants
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/data/_module.mjs
  module/data/combatant/_module.mjs
  module/data/combatant/combatant.mjs
  module/data/roll/initiative.mjs
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Add InitiativeRollOptions
  module/data/roll/_module.mjs
  module/data/roll/initiative.mjs
Due: eslint --fix --config eslint.config.mjs

Implement initiative roll logic
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/documents/combatant.mjs
  templates/chat/chat-flavor/initiative-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Ensure mutual exclusivity of aggressive and defensive stances in status effects
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs

Add start round combatant prompt with combat options grid
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/global.less
  less/prompts/start-round-combatant-prompt.less
  module/applications/_module.mjs
  module/applications/combat/_module.mjs
  module/applications/combat/start-round-combatant-prompt.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs

Clear parent statuses before applying active effects and update statuses from effects
  module/data/abstract.mjs
Due: eslint --fix --config eslint.config.mjs

Add combat options as status effects
  assets/icons/acrobatic.svg
  assets/icons/back-forth.svg
  assets/icons/confrontation.svg
  assets/icons/foot-trip.svg
  assets/icons/knockout.svg
  assets/icons/mounted-knight.svg
  assets/icons/set-against-charge.svg
  assets/icons/shield-impact.svg
  assets/icons/surrounded-shield.svg
  assets/icons/tail-attack.svg
  assets/icons/target-dummy.svg
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/config/statuses.mjs
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Add start round combatant prompt with options and status effects
  earthdawn4e.css
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  less/prompts/start-round-combatant-prompt.less
  module/applications/combat/start-round-combatant-prompt.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Auto update combatant system data
  module/applications/combat/start-round-combatant-prompt.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs

Adapt roll button
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  less/prompts/start-round-combatant-prompt.less
  module/applications/combat/start-round-combatant-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Rename showStartOfRoundPrompt to savePromptSettings
  module/data/combatant/combatant.mjs
Due: eslint --fix --config eslint.config.mjs

Restore initial combatant statuses on close/cancel
  module/applications/combat/start-round-combatant-prompt.mjs
Due: eslint --fix --config eslint.config.mjs

Add 'keepInitiative' field and update UI for combatant settings
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/data/combatant/combatant.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Fix continuing and add dynamic title
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/applications/combat/start-round-combatant-prompt.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Enhance initiative calculation by incorporating replacement effects and ability modifiers
  module/data/roll/initiative.mjs
  module/documents/combatant.mjs
  templates/chat/chat-flavor/initiative-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs

Add CombatTrackerEd class and integrate start round prompt functionality
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/applications/combat/_module.mjs
  module/applications/combat/combat-tracker.mjs
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, npm run format:lang

Add resetInitiative method to clear combatant's initiative
  module/documents/combatant.mjs
Due: eslint --fix --config eslint.config.mjs

Implement resetInitiatives method and prompt for combatant stance changes at the start of the round
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs

Remove unnecessary comment
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs

Add queries for start round prompts
  module/config/_module.mjs
  module/config/sockets.mjs
  module/documents/combat.mjs
  module/documents/combatant.mjs
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs

Add InitiativeMessageData class and integrate initiative roll post-processing into roll type handlers
  module/data/chat/_module.mjs
  module/data/chat/initiative.mjs
  module/documents/actor.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs

Lint
  module/handlebar-helpers.mjs
Due: eslint --fix --config eslint.config.mjs

Add rollingActor getter to retrieve the actor associated with the roll
  module/data/chat/base-message.mjs
Due: eslint --fix --config eslint.config.mjs

Add handlebars helper to pass array to selectOptions
  module/handlebar-helpers.mjs
  templates/combat/start-round-combatant-prompt.hbs
Due: eslint --fix --config eslint.config.mjs

Refactor initiative prompting to a dedicated method
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs

Player Characters always go first on same initiative as NPCs
  module/documents/_module.mjs
  module/documents/collections/_module.mjs
  module/documents/collections/users.mjs
  module/documents/combat.mjs
  module/documents/combatant.mjs
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs

Add submit button to combatant config form
  templates/combat/combatant-config.hbs
Due: none

Fix prompt handling for inactive users in start round combat
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs

Add system data to combatant config app
  eslint.config.mjs
  module/applications/combat/_module.mjs
  module/applications/combat/combatant.mjs
  module/hooks/init.mjs
  templates/combat/combatant-config.hbs
Due: eslint --fix --config eslint.config.mjs

Skip prompt for combatants with disabled save prompt settings
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs

Reset to start of round
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs
