Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Replace redux coreui logo with free one
  assets/chat/messages/background-threadweaving.svg
  assets/icons/coiling-curl.svg
  assets/icons/weave-threads.svg
Due: none

Comment out invalid syntax/placeholders
  less/global/config.less
Due: none

Rename icon files and update chat message styles for background images
  assets/chat/messages/background-damage.svg
  assets/chat/messages/background-spellcasting.svg
  less/chat/chat-messages.less
Due: none

Remove comment
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: none

Add warping roll chat message styling
  assets/chat/messages/background-warping.svg
  less/chat/chat-messages.less
  module/data/roll/warping.mjs
  templates/chat/chat-flavor/warping-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add horror mark roll chat message styling
  assets/chat/messages/background-horror-mark.svg
  less/chat/chat-messages.less
  module/data/roll/horror-mark.mjs
  templates/chat/chat-flavor/horror-mark-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add attribute roll chat message styling
  templates/chat/chat-flavor/attribute-roll-flavor.hbs
Due: none

Add arbitrary roll chat message styling
  module/hooks/chat.mjs
  templates/chat/chat-flavor/arbitrary-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add knock down roll chat message styling
  assets/chat/messages/background-knock-down.svg
  less/chat/chat-messages.less
  templates/chat/chat-flavor/jump-up-roll-flavor.hbs
  templates/chat/chat-flavor/knockdown-roll-flavor.hbs
Due: none

Change background of icons
  assets/icons/confrontation.svg
  assets/icons/knockout.svg
Due: none

Add initiative roll chat message styling
  assets/chat/messages/background-initiative.svg
  less/chat/chat-messages.less
  module/data/roll/initiative.mjs
  templates/chat/chat-flavor/initiative-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Compile LESS
  earthdawn4e.css
Due: none

Add english translation for type groups
  lang/en.json
Due: npm run lint:lang

Add toggle functionality for active effects and update UI elements
  module/applications/api/document-sheet-mixin.mjs
  module/documents/active-effect.mjs
  templates/actor/actor-tabs/specials.hbs
  templates/global/effect-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

thread-item-styling
  earthdawn4e.css
  lang/en.json
  less/global/config.less
  less/global/global.less
  less/global/icons.less
  less/global/variables.less
  less/prompts/character-generation.less
  less/sheets/actor-sheet-layout.less
  less/sheets/item-sheet-layout.less
  less/sheets/thread-tab.less
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
  templates/thread-magic/true-pattern-tabs.hbs
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

smooth-mode-change
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
Due: none

full-game-mode-items
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-section-top.hbs
  templates/thread-magic/true-pattern-tabs.hbs
Due: none

thread-name
  lang/en.json
  templates/item/item-partials/item-section-top.hbs
Due: npm run lint:lang

input-border-fix
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
Due: none

quick-input-fix
  templates/actor/actor-tabs/general.hbs
Due: none

fix missing translations for item creation
  lang/en.json
Due: npm run lint:lang

last-fix
  earthdawn4e.css
  less/global/config.less
Due: none

smaller lang ifxes
  lang/de.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Fix overrides creation in system data models
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix form data processing to prevent submission of overridden values
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update localization: de
  lang/de.json
Due: npm run lint:lang

initial-chargen-styling
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/prompts/character-generation.less
  less/sheets/actor-sheet-layout.less
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/language-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
Due: none

class-mid-point
  earthdawn4e.css
  less/prompts/character-generation.less
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/language-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
