Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

fix knacks not showing.
  templates/actor/actor-tabs/talents.hbs
Due: none

ensure indices are documents
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

make increase prompt more user friendly
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/data/item/devotion.mjs
  module/data/item/skill.mjs
  module/data/item/talent.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

add notification
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  module/data/item/templates/increasable-ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

lang fix
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
Due: npm run lint:lang

added rollable default functions
  module/workflows/workflow/attack-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Revert "added rollable default functions"
  module/workflows/workflow/attack-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update attack-workflow.mjs
  module/workflows/workflow/attack-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

image-fix
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

Update actor.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

outch
  templates/actor/actor-tabs/talents.hbs
Due: none

Add favoritable to system icons
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to get default macro command for rollable items
  module/data/item/templates/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to get default command for item document macros
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add getDefaultMacroCommand method for spell casting
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Changes by Patrick
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/spell-card.hbs
Due: none

Add 'hotbar' and 'favoritable' to word lists
  dictionaries/foundry-vtt-words.txt
  dictionaries/technical-words.txt
Due: none

Add toMacro method to convert item into a macro
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add favorites field to configuration
  module/data/actor/templates/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Add context menu option to add items to favorites and execute favorite macros
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization - de
  lang/de.json
Due: npm run lint:lang

Add button to execute favorite macros in the favorites list
  templates/actor/actor-tabs/general.hbs
Due: none

Update pl.json
  lang/pl.json
Due: npm run lint:lang

adjust lang file
  lang/de.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

css
  earthdawn4e.css
  less/global/elements.less
Due: none

change to be protected by playmode & add delete action
  templates/actor/actor-tabs/general.hbs
Due: none

add delete action
  module/applications/actor/common-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add defaultMacroCommand for physical items
  module/data/item/armor.mjs
  module/data/item/equipment.mjs
  module/data/item/shield.mjs
  module/data/item/weapon.mjs
  templates/actor/cards/equipment-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

check for missing macros
  module/applications/actor/common-sheet.mjs
  templates/actor/actor-tabs/general.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

css lang
  earthdawn4e.css
  lang/de.json
  less/global/elements.less
Due: npm run lint:lang

spells and powers
  templates/actor/cards/power-card.hbs
  templates/actor/cards/spell-card.hbs
Due: none

test
  lang/de.json
Due: npm run lint:lang
