Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

class-chargen
  earthdawn4e.css
  less/prompts/character-generation.less
  templates/actor/generation/class-selection.hbs
Due: none

attributes-complete
  earthdawn4e.css
  less/global/global.less
  less/prompts/character-generation.less
  templates/actor/generation/attribute-assignment.hbs
Due: none

language-fix
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

equipment-complete
  earthdawn4e.css
  less/prompts/character-generation.less
  templates/actor/generation/equipment-selection.hbs
  templates/actor/generation/skill-selection.hbs
Due: none

final-chargen-pr
  earthdawn4e.css
  less/prompts/character-generation.less
  templates/actor/generation/attribute-assignment.hbs
  templates/actor/generation/class-selection.hbs
  templates/actor/generation/equipment-selection.hbs
  templates/actor/generation/language-selection.hbs
  templates/actor/generation/namegiver-selection.hbs
  templates/actor/generation/spell-selection.hbs
Due: none

Fix ability option reset logic in character generation
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

cleanup
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

spell-width-increased
  earthdawn4e.css
  less/prompts/character-generation.less
Due: none

FUCKING-COMMA!!!!!!
  earthdawn4e.css
  less/global/config.less
  less/prompts/character-generation.less
Due: none

Add validation messages for incomplete character generation
  module/applications/actor/character-generation-prompt.mjs
  templates/global/button.hbs
  templates/global/form-footer.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

general-less-fix
  earthdawn4e.css
  less/global/config.less
  less/global/global.less
  less/prompts/character-generation.less
  less/sheets/actor-sheet-layout.less
Due: none

Update de.json
  lang/de.json
Due: npm run lint:lang

lang fixes
  lang/de.json
  templates/actor/actor-tabs/connections.hbs
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

small-fix
  earthdawn4e.css
  less/global/config.less
Due: none

Add styling and structure for attuning visualization in chat messages
  assets/chat/messages/background-attuning.svg
  less/chat/chat-messages.less
  module/data/roll/attuning.mjs
  module/workflows/workflow/attune-grimoire-workflow.mjs
  module/workflows/workflow/attune-matrix-workflow.mjs
  templates/chat/chat-flavor/attuning-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Compile LESS
  earthdawn4e.css
Due: none

update visualization
  templates/actor/cards/power-card.hbs
  templates/item/item-partials/item-details/descriptions/item-description-power.hbs
Due: none

Update dependencies: add dpdm and upgrade markdownlint-cli to 0.46.0
  package.json
Due: none

Refactor manualOverrideEffectId to use ForeignDocumentField and remove UIDField
  module/data/actor/templates/common.mjs
  module/data/fields/_module.mjs
  module/data/fields/uid-field.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Reorganize regions
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Lint
  module/hooks/socket.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor item identifier fields to use itemId instead of itemUuid
  module/data/advancement/lp-spending-transaction.mjs
  module/data/item/spell.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor to use config module
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Reorganize regions
  module/data/advancement/lp-spending-transaction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor concentrationSource to use ForeignDocumentField and update related handling
  module/applications/workflow/attune-matrix-prompt.mjs
  module/data/actor/templates/sentient.mjs
  module/workflows/workflow/attune-matrix-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor to use LEGEND for tier and abilityPools
  module/data/advancement/advancement-level.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor questor devotion handling to use ID fields instead of UUIDs
  module/config/document-data.mjs
  module/data/actor/pc.mjs
  module/data/item/devotion.mjs
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Rename sourceDiscipline field
  module/data/item/path.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor path data model to use ID fields for knack and talent associations
  module/data/item/path.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add effect source getters
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor source discipline handling to use IDs instead of UUIDs
  module/data/item/path.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove isPathKnack field from knack-ability schema
  module/data/item/knack-ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
