Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

refactor: update effect roll flavor template
  templates/chat/chat-flavor/effect-roll-flavor.hbs
Due: none

fix: disable attribute field in spell effect details
  templates/item/item-partials/item-details/details/item-details-spell.hbs
Due: none

refactor: restructure spell effect details layout and re-enable attribute field
  templates/item/item-partials/item-details/details/item-details-spell.hbs
Due: none

add attribute and addCircle fields to spell effect details and implement effect details roll step calculation
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

streamline effect details roll step calculation and prepare strain data handling
  module/data/roll/spelleffect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add content links to spell effect roll
  templates/chat/chat-flavor/effect-roll-flavor.hbs
Due: none

add 'spelleffect' keyword to ed4e-words.txt for spell effect categorization
  dictionaries/ed4e-words.txt
Due: none

Add localization - de
  lang/de.json
Due: npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Add willpower handling for spell damage and effects
  module/data/item/spell.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

lang-fixes
  lang/en.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

journal-index
  earthdawn4e.css
  less/earthdawn4e.less
  less/journals/journal-index.less
  less/journals/journal-layout.less
  less/journals/journal-window.less
Due: none

journal-index
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/config.less
  less/global/global.less
  less/global/variables.less
  less/journals/journal-index.less
  less/journals/journal-layout.less
  less/journals/journal-tables.less
  less/journals/journal-window.less
Due: none

journal-index
  earthdawn4e.css
  less/global/variables.less
  less/journals/journal-layout.less
  less/journals/journal-tables.less
  less/journals/journal-window.less
Due: none

journal-index
  earthdawn4e.css
  less/global/config.less
  less/global/variables.less
  less/journals/journal-layout.less
  less/journals/journal-window.less
Due: none

Update en.json
  lang/en.json
Due: npm run lint:lang

journal-index
  less/journals/journal-index.less
  less/journals/journal-layout.less
  less/journals/journal-tables.less
  less/journals/journal-window.less
Due: none

less-fix-important
  earthdawn4e.css
  less/earthdawn4e.less
Due: none

remove readonly flag for npc
  templates/actor/cards/attributes-none-pc-card.hbs
Due: none

add all other actor týpes
  module/services/migrations/v082/document-type-migrations/actor/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

none character migration
  dictionaries/0_8_2_migration-words.txt
  module/services/migrations/v082/document-type-migrations/actor/none-character.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactoring and clean up
  module/services/migrations/v082/document-type-migrations/actor/none-character.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

namegiver safty
  module/services/migrations/v082/document-type-migrations/item/namegiver.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix case of missing talentCategory
  module/services/migrations/v082/document-type-migrations/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

inherit unchanged system data from source spell in SpellKnackData on creation and update
  module/data/item/spell-knacks.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: rename sourceTalent to sourceItem in knack-related files
  module/data/item/knack-ability.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/talent.mjs
  module/data/item/templates/knack-item.mjs
  module/services/migrations/v082/field-migrations/knack-source.mjs
  templates/actor/actor-tabs/talents.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update return types in getGlobalItemsByEdid and getSingleGlobalItemByEdid to Promise<Item[]|undefined>
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

update type annotation for containingActor to specify ActorEd
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add SpellConstraintData
  module/data/common/_module.mjs
  module/data/common/restrict-require.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add restrictions field to knack item schema
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
