Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update: pl
  lang/pl.json
Due: npm run lint:lang

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Remove localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Affix button controls to top
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
Due: none

Preserve scroll state in true pattern tab
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add `getRollData` to items and validate function
  module/data/abstract/item-data-model.mjs
  module/documents/actor.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add comment to clarify use of toLowerCase function for grammar checks
  module/data/actor/templates/sentient.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor roll data handling and add getRollData methods for various item types
  module/data/abstract/item-data-model.mjs
  module/data/abstract/system-data-model.mjs
  module/data/item/templates/action.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/increasable-ability.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/matrix.mjs
  module/data/item/templates/physical-item.mjs
  module/data/item/templates/targeting.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add default getRollData method to system data model
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add getRollData method to all item data models and organize code regions
  module/data/item/armor.mjs
  module/data/item/binding-secrets.mjs
  module/data/item/curse-horror-mark.mjs
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/effect.mjs
  module/data/item/equipment.mjs
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/maneuver.mjs
  module/data/item/mask.mjs
  module/data/item/namegiver.mjs
  module/data/item/path.mjs
  module/data/item/poison-disease.mjs
  module/data/item/power.mjs
  module/data/item/questor.mjs
  module/data/item/shield.mjs
  module/data/item/ship-weapon.mjs
  module/data/item/skill.mjs
  module/data/item/special-ability.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/spell.mjs
  module/data/item/talent.mjs
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add getRollData to immiscible to avoid prototyp overrides of mixins
  module/data/abstract/system-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add default getRollData method to system data model
  module/data/abstract/item-data-model.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor getRollData methods to include dummy extrasuccess properties
  module/data/abstract/item-data-model.mjs
  module/documents/item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add basic ThreadData model and update module exports
  module/data/thread/_module.mjs
  module/data/thread/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ALLOWED_TYPES and isAllowedInDocument method to define embedded document constraints
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Hide true pattern tab for disallowed item types in rendering
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ThreadData model and integrate into module exports
  module/data/item/_module.mjs
  module/data/item/thread.mjs
  module/data/thread/_module.mjs
  module/data/thread/thread.mjs
  system.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread item description template to item-description.hbs and utils.mjs
  module/utils.mjs
  templates/item/item-partials/item-description.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove true pattern tab configuration from rendering for disallowed item types
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add isThreadItem getter to determine if data represents a thread item
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ThreadItemSheet for rendering thread item details
  module/applications/item/_module.mjs
  module/applications/item/thread-item-sheet.mjs
  module/hooks/init.mjs
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread item details rendering and update utils
  module/utils.mjs
  templates/item/item-partials/item-details.hbs
  templates/item/item-partials/item-details/details/item-details-thread.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add castingRank as rolltype
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Disable form fields for wovenToUuid and level in thread item description
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
Due: none

Add new Font Awesome icons
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add button template
  module/utils.mjs
  templates/global/button.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add action buttons for item controls in thread description
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
  templates/item/item-partials/item-details/details/item-details-thread.hbs
Due: none

Update thread item validation to allow zero as a minimum value
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate comments
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods to toggle rank knowledge for thread items
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add eye and eye-slash icons to the icon set
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add tooltip and dynamic data attributes to button component
  templates/global/button.hbs
Due: none

Remove item control buttons from thread description template
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
Due: none

Add methods to toggle rank knowledge visibility for thread items
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add item history, research, and weave thread check methods to thread item sheet
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add toggle functionality for true pattern visibility in physical item sheet
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
