Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

simple fix for endless initiative roll
  module/data/chat/initiative.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix on drop method for versatiltiy talents
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate Comments.
  module/applications/item/class-item-sheet.mjs
  module/config/items.mjs
  templates/item/item-partials/item-details/other-tabs/discipline-advancement.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix overwrite discipline level data
  lang/de.json
  module/data/item/discipline.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

remove limitation that first disciplin has to come from char gen
  lang/de.json
  module/data/item/discipline.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

remove class tab form sheet
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/dragon-sheet.mjs
  module/applications/actor/horror-sheet.mjs
  module/applications/actor/namegiver-sheet.mjs
  module/applications/actor/npc-sheet.mjs
  module/applications/actor/spirit-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Small changes to npc sheets to sort out abilities tab and remove the buttons in the footer
  lang/en.json
  templates/actor/actor-partials/actor-section-buttons-sentient.hbs
  templates/actor/actor-tabs/powers.hbs
Due: npm run lint:lang

npc-sheet-fix
  lang/de.json
Due: npm run lint:lang

npc-sheet-fix
  lang/fr.json
Due: npm run lint:lang

encorporate comments
  lang/de.json
  module/data/item/discipline.mjs
  module/data/item/questor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

incorporate changes discussed during review
  lang/de.json
  module/data/actor/pc.mjs
  module/data/item/migration/old-system-V082/level.mjs
  module/handlebar-helpers.mjs
  templates/actor/actor-tabs/talents.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

add matrix card component with attune and cast actions
  earthdawn4e.css
  lang/de.json
  less/earthdawn4e.less
  less/global/variables.less
  less/sheets/owned-items-view.less
  module/utils.mjs
  templates/actor/actor-tabs/spells.hbs
  templates/actor/cards/matrix-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Fix css hot reloads
  system.json
Due: none

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

add SVG icons for cast and weave threads
  assets/icons/cast.svg
  assets/icons/weave-threads.svg
Due: none

update attune-on-fly.svg with new design
  assets/icons/attune-on-fly.svg
Due: none

add translation for spellcasting matrix error message in German
  lang/de.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

add spellcasting functionality to actor sheet for matrix spells
  module/applications/actor/sentient-sheet.mjs
  module/documents/actor.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add editable flag to context preparation in document sheet mixin
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add slide toggle component and integrate into actor sheet for mode switching
  dictionaries/ui-ux-words.txt
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/elements.less
  less/sheets/actor-sheet-layout.less
  less/sheets/global-sheet-layout.less
  less/sheets/owned-items-view.less
  module/applications/_module.mjs
  module/applications/api/document-sheet-mixin.mjs
  module/applications/components/_module.mjs
  module/applications/components/adopted-stylesheet-mixin.mjs
  module/applications/components/checkbox.mjs
  module/applications/components/slide-toggle.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

enhance styling and layout for matrix cards in actor sheet
  earthdawn4e.css
  less/global/variables.less
  less/sheets/owned-items-view.less
  templates/actor/cards/matrix-card.hbs
Due: none

refactor sheet mode toggle and update document creation logic
  module/applications/api/document-sheet-mixin.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor matrix card layout to use grid system and improve styling
  earthdawn4e.css
  less/sheets/owned-items-view.less
  templates/actor/actor-tabs/spells.hbs
  templates/actor/cards/matrix-card.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
