Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

test: add initial example test for get3eDice function
  tests/unit/module/dice/step-tables.test.mjs
Due: none

feat: add test script to package.json for vitest integration
  package.json
Due: none

feat: add vitest configuration file for testing setup
  vitest.config.mjs
Due: none

feat: add test coverage script and update .gitignore for testing files
  .gitignore
  package-lock.json
  package.json
Due: none

fix: update get3eDice function to validate step parameter and throw error for out-of-bounds values
  module/dice/step-tables.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

feat: add vitest UI
  package-lock.json
  package.json
Due: none

test: enhance basic test example
  tests/unit/module/dice/step-tables.test.mjs
Due: none

ci: add GitHub workflow for running unit tests
  .github/workflows/unit-tests.yml
Due: none

ci: update permissions for GitHub Actions workflow
  .github/workflows/unit-tests.yml
Due: none

fix: rollable powers for NPCs/creatures
  module/applications/actor/sentient-sheet.mjs
  templates/actor/cards/power-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix(power): roll npc powers
  templates/actor/cards/power-card.hbs
Due: none

fix: willpower rename into willforce
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: partial fix
  module/config/workflows.mjs
  module/data/item/templates/ability.mjs
  module/data/roll/attack.mjs
  module/documents/actor.mjs
  module/workflows/workflow/attack-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: 3065 remove comments
  module/data/item/templates/ability.mjs
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: attribute increase bug
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: lang fr
  lang/fr.json
Due: npm run lint:lang

fix: lang pl
  lang/pl.json
Due: npm run lint:lang

feat: the knockdown step was missing for creatures
  earthdawn4e.css
  lang/de.json
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: npm run lint:lang

fix: wrong identifer in localization
  templates/actor/actor-tabs/general.hbs
Due: none

fix: en file
  lang/en.json
Due: npm run lint:lang

fix: wrong localization path
  templates/actor/actor-tabs/general.hbs
Due: none

fix: typo
  lang/de.json
Due: npm run lint:lang

fix: char gen not working any more
  module/applications/actor/character-generation-prompt.mjs
  module/data/other/character-generation.mjs
  templates/actor/generation/class-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: adopt warning cases
  lang/de.json
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix: template for correct localization
  templates/actor/generation/class-selection.hbs
Due: none

fix: en
  lang/en.json
Due: npm run lint:lang

fix: fr
  lang/fr.json
Due: npm run lint:lang

fix: pl
  lang/pl.json
Due: npm run lint:lang

Revert "fix: pl"
  lang/pl.json
Due: npm run lint:lang

Revert "fix: fr"
  lang/fr.json
Due: npm run lint:lang

Revert "fix: en"
  lang/en.json
Due: npm run lint:lang

Revert "fix: template for correct localization"
  templates/actor/generation/class-selection.hbs
Due: none

Revert "fix: adopt warning cases"
  lang/de.json
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Revert "fix: char gen not working any more"
  module/applications/actor/character-generation-prompt.mjs
  module/data/other/character-generation.mjs
  templates/actor/generation/class-selection.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix localization for resource part of roll table
  earthdawn4e.css
  lang/de.json
  lang/en.json
  lang/fr.json
  lang/pl.json
  templates/prompts/roll/part-resources.hbs
Due: npm run lint:lang

fix: moved css parts to less
  earthdawn4e.css
  less/prompts/roll-prompt.less
Due: none

fix: knockdown-jump-up
  earthdawn4e.css
  lang/en.json
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-tabs/general.hbs
Due: npm run lint:lang

fix: circle up
  module/applications/advancement/class-advancement.mjs
  module/data/item/discipline.mjs
  module/data/item/path.mjs
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Reapply "fix: en"
  lang/en.json
Due: npm run lint:lang

refactor: simplify advancement level data handling and add `AdvancementLevels` typedef
  module/data/advancement/base-advancement.mjs
  module/data/item/templates/class.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
