Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

Update de.json
  lang/de.json
Due: npm run lint:lang

combatant
  lang/de.json
  module/data/combatant/combatant.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

effects
  lang/de.json
  templates/effect/duration.hbs
Due: npm run lint:lang

Update talent.mjs
  module/data/item/talent.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add dialog methods for button selection and item button creation
  module/applications/api/dialog.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance NumberField configuration for 'extra' threads with validation and default values
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update attune workflow to reflect successful document updates
  module/workflows/workflow/attune-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor spell schema to use unified fields and add isWeaving property
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update button select dialog to use dynamic ID format
  module/applications/api/dialog.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix DocumentUUIDField configuration from wrong parameter
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add method to retrieve discipline item for spellcasting type
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add TextEditor import to actor module due to deprecation
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add extraThreadsByCircle mapping for spellcasting disciplines
  module/config/magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove embedded parameter from DocumentUUIDField in ability.mjs
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix remove hint getter from MetricData class
  module/data/common/metrics.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add SelectExtraThreadsPrompt for selecting extra threads in spellcasting
  module/applications/workflow/_module.mjs
  module/applications/workflow/select-extra-threads-prompt.mjs
  templates/workflow/select-extra-threads.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

ability template
  lang/de.json
Due: npm run lint:lang

Fix flavorTemplate path for threadWeaving roll in rolls.mjs
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add WeavingRollData and ThreadWeavingRollOptions for thread weaving mechanics
  module/data/roll/_module.mjs
  module/data/roll/weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add cast spell button and update thread weaving roll flavor template
  module/utils.mjs
  templates/chat/chat-buttons/cast-spell.hbs
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add active spell management and weaving checks to matrix
  module/data/item/templates/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread weaving and reset functionality to spell class
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance chat flavor for thread weaving rolls with detailed context
  module/data/item/spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Set active spell in matrix when only one spell is attuned
  module/data/item/templates/matrix.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add German translations for spell casting and thread weaving features
  lang/de.json
Due: npm run lint:lang

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
