Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

description-section-set-up
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-bindingSecret.hbs
  templates/item/item-partials/item-details/descriptions/item-description-cursemark.hbs
  templates/item/item-partials/item-details/descriptions/item-description-devotion.hbs
  templates/item/item-partials/item-details/descriptions/item-description-discipline.hbs
  templates/item/item-partials/item-details/descriptions/item-description-effect.hbs
  templates/item/item-partials/item-details/descriptions/item-description-equipment.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-mask.hbs
  templates/item/item-partials/item-details/descriptions/item-description-namegiver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-path.hbs
  templates/item/item-partials/item-details/descriptions/item-description-poisonDisease.hbs
  templates/item/item-partials/item-details/descriptions/item-description-power.hbs
  templates/item/item-partials/item-details/descriptions/item-description-questor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shield.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shipWeapon.hbs
  templates/item/item-partials/item-details/descriptions/item-description-skill.hbs
  templates/item/item-partials/item-details/descriptions/item-description-specialAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spell.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spellKnack.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/descriptions/item-description-thread.hbs
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
  templates/item/item-partials/item-details/details/item-details-armor.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

Add localization for type labels in create dialog
  module/applications/global/document-creation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Don't localize document class name
  module/applications/global/document-creation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Style document create dialog
  less/earthdawn4e.less
  less/prompts/document-create-dialog.less
  templates/global/document-creation.hbs
Due: none

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Add type group localization
  lang/de.json
  module/applications/global/document-creation.mjs
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Start editing document creaty style for light mode
  less/global/variables.less
  less/prompts/document-create-dialog.less
Due: none

Update document create dialog styles for light themes
  less/global/variables.less
  less/prompts/document-create-dialog.less
Due: none

Compile LESS
  earthdawn4e.css
Due: none

fix: make manual override available for all actor types
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/data/actor/pc.mjs
  module/data/actor/templates/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: manual override for attribute steps
  module/applications/actor/common-sheet.mjs
  templates/actor/cards/attribute-card.hbs
  templates/actor/cards/attributes-none-pc-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: manual override for decreasing initiative
  templates/actor/actor-tabs/general.hbs
Due: none

fix: localization for active effect final value
  lang/de.json
  templates/effect/changes.hbs
Due: npm run lint:lang

add unmodifiedLevel getter to retrieve original ability level
  module/data/item/templates/lp-increase.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: use unmodifiedLevel for correct LP tracking
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
  module/data/item/skill.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/spell.mjs
  module/data/item/talent.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/increasable-ability.mjs
  module/data/item/thread.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add clickable link for namegiver
  templates/actor/generation/namegiver-selection.hbs
Due: none

Add clickable link for class
  templates/actor/generation/class-selection.hbs
Due: none

fixed-header
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/details/item-details-armor.hbs
  templates/item/item-partials/item-details/details/item-details-bindingSecret.hbs
  templates/item/item-partials/item-details/details/item-details-discipline.hbs
  templates/item/item-partials/item-details/details/item-details-equipment.hbs
  templates/item/item-partials/item-details/details/item-details-knackAbility.hbs
  templates/item/item-partials/item-details/details/item-details-physicalItems.hbs
  templates/item/item-partials/item-details/partials/targeting.hbs
  templates/item/item-partials/item-details/partials/usable-items.hbs
  templates/item/item-partials/item-section-name.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

Fix icons for content links
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add clickable links for abilities in class selection
  templates/actor/generation/class-selection.hbs
Due: none

Add clickable links for spells
  less/prompts/character-generation.less
  templates/actor/generation/spell-selection.hbs
Due: none

Add tooltip localization for document links
  module/utils.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add clickable links for skills
  templates/actor/generation/skill-selection.hbs
Due: none

Add tooltip descriptions for equipment selection labels
  templates/actor/generation/equipment-selection.hbs
Due: none

item-styling
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  module/applications/item/class-item-sheet.mjs
  module/applications/item/item-sheet.mjs
  module/applications/item/mask-item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
  module/utils.mjs
  templates/item/item-partials/item-details/details/item-details-knackKarma.hbs
  templates/item/item-partials/item-details/details/item-details-knackManeuver.hbs
  templates/item/item-partials/item-details/details/item-details-namegiver.hbs
  templates/item/item-partials/item-details/details/item-details-path.hbs
  templates/item/item-partials/item-details/details/item-details-questor.hbs
  templates/item/item-partials/item-details/details/item-details-shield.hbs
  templates/item/item-partials/item-section-name.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

folloup-pr
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-maneuver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-namegiver.hbs
  templates/item/item-partials/item-details/descriptions/item-description-questor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-spellKnack.hbs
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
Due: none

item-type-added-to
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/descriptions/item-description-shield.hbs
  templates/item/item-partials/item-details/descriptions/item-description-skill.hbs
  templates/item/item-partials/item-details/descriptions/item-description-talent.hbs
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
  templates/item/item-partials/item-details/partials/spell.hbs
  templates/item/item-partials/item-section-top.hbs
Due: none

new-game-mode
  earthdawn4e.css
  less/global/config.less
  less/global/variables.less
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-armor.hbs
  templates/item/item-partials/item-details/item-effects.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
Due: none

Refactor: remove unused EffectData item type
  module/config/system.mjs
  module/data/item/_module.mjs
  module/data/item/effect.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor: streamline schema definition, system type and metadata
  module/data/abstract/system-data-model.mjs
  module/data/actor/creature.mjs
  module/data/actor/dragon.mjs
  module/data/actor/group.mjs
  module/data/actor/horror.mjs
  module/data/actor/loot.mjs
  module/data/actor/npc.mjs
  module/data/actor/pc.mjs
  module/data/actor/spirit.mjs
  module/data/actor/trap.mjs
  module/data/actor/vehicle.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

system type metadata for chat messages
  module/data/chat/attack.mjs
  module/data/chat/base-message.mjs
  module/data/chat/damage.mjs
  module/data/chat/initiative.mjs
  module/data/chat/spellcasting.mjs
  module/data/chat/thread-weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

system type metadata for combatant
  module/data/combatant/combatant.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

system type metadata for active effects
  module/data/effects/eae-condition.mjs
  module/data/effects/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

system type metadata for items
  module/data/item/armor.mjs
  module/data/item/binding-secrets.mjs
  module/data/item/curse-horror-mark.mjs
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/equipment.mjs
  module/data/item/knack-ability.mjs
  module/data/item/knack-karma.mjs
  module/data/item/knack-maneuver.mjs
  module/data/item/maneuver.mjs
  module/data/item/mask.mjs
  module/data/item/namegiver.mjs
  module/data/item/path.mjs
  module/data/item/poison-disease.mjs
  module/data/item/power.mjs
  module/data/item/questor.mjs
  module/data/item/shield.mjs
  module/data/item/ship-weapon.mjs
  module/data/item/skill.mjs
  module/data/item/special-ability.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/spell.mjs
  module/data/item/talent.mjs
  module/data/item/thread.mjs
  module/data/item/weapon.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
