Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Refactor item type references to use system type constants
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/character-sheet.mjs
  module/applications/advancement/class-advancement.mjs
  module/applications/advancement/learn-spell.mjs
  module/applications/global/prompt-factory.mjs
  module/applications/item/mask-item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
  module/config/document-data.mjs
  module/config/statuses.mjs
  module/config/system.mjs
  module/data/abstract/system-data-model.mjs
  module/data/actor/pc.mjs
  module/data/actor/templates/sentient.mjs
  module/data/chat/spellcasting.mjs
  module/data/item/mask.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
  module/data/item/spell-knacks.mjs
  module/data/item/spell.mjs
  module/data/item/templates/class.mjs
  module/data/item/templates/grimoire.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/rollable.mjs
  module/data/other/character-generation.mjs
  module/data/roll/attack.mjs
  module/data/thread/true-pattern.mjs
  module/documents/actor.mjs
  module/services/migrations/type-transformation-manager.mjs
  module/services/migrations/v082/document-type-migrations/actor/character.mjs
  module/services/migrations/v082/field-migrations/level.mjs
  module/utils.mjs
  module/workflows/workflow/damage-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add missing localization
  lang/de.json
  templates/actor/actor-tabs/notes.hbs
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

fix chat output
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor legend header label to use localization
  templates/actor/actor-tabs/notes.hbs
Due: none

Refactor dialog title in lp-history to use localization key
  module/applications/advancement/lp-history.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Make select input on char gen language tab more visible in dark mode
  less/prompts/character-generation.less
Due: none

Add/update localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Add toggle for combatant start round prompt visibility
  module/applications/combat/combat-tracker.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Set fallback turn marker for combat in the configuration
  module/hooks/init.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Compile LESS
  earthdawn4e.css
Due: none

Add recovery step to characteristics for manual override
  module/config/effects.mjs
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update roll options doc
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Move recovery roll options and processing logic to new roll options initialization approach
  module/data/roll/recovery.mjs
  module/services/roll-processor.mjs
  module/workflows/workflow/recovery-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor RecoveryRollOptions schema definition for improved clarity and organization
  module/data/roll/recovery.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add getAmountHealing method to actor
  module/documents/actor.mjs
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add new SVG icons for recovery and heart representations
  assets/chat/messages/background-recovery.svg
  assets/icons/half-heart.svg
  assets/icons/nested-hearts.svg
  assets/icons/opposite-hearts.svg
Due: none

Add RecoveryMode icons for recovery, full rest, and stun recovery
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Style recovery roll chat message
  less/chat/chat-messages.less
  module/data/roll/recovery.mjs
  module/dice/ed-roll.mjs
  module/workflows/workflow/recovery-workflow.mjs
  templates/chat/chat-flavor/recovery-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add dark mode chat message style
  less/chat/chat-messages.less
Due: none

Add support for dummy rolls in recovery options and chat messages
  less/chat/chat-messages.less
  module/data/roll/common.mjs
  module/data/roll/recovery.mjs
  module/dice/ed-roll.mjs
  module/services/roll-processor.mjs
  module/workflows/workflow/recovery-workflow.mjs
  templates/chat/chat-flavor/recovery-no-roll-flavor.hbs
  templates/chat/chat-flavor/recovery-roll-flavor.hbs
  templates/chat/tooltip.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization: de
  lang/de.json
Due: npm run lint:lang

knack-fix
  earthdawn4e.css
  less/global/config.less
  less/sheets/actor-sheet-layout.less
  less/sheets/item-sheet-layout.less
  templates/global/effect-card.hbs
  templates/item/item-partials/item-details/descriptions/item-description-equipment.hbs
  templates/item/item-partials/item-details/descriptions/item-description-weapon.hbs
  templates/item/item-partials/item-details/partials/physical-items.hbs
Due: none

text fix
  earthdawn4e.css
  less/global/config.less
Due: none

last-variable-fix
  assets/sheet/background_lighter.PNG
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
Due: none

background_lighter-reintroduced
  assets/sheet/background_lighter.PNG
  less/global/global.less
  less/global/variables.less
  templates/item/item-partials/item-details/partials/abilities.hbs
Due: none

knack-rank-removal
  less/global/global.less
  less/sheets/actor-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/partials/abilities.hbs
Due: none

knack-input-styled
  earthdawn4e.css
  less/sheets/item-sheet-layout.less
  templates/item/item-partials/item-details/descriptions/item-description-knackAbility.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackKarma.hbs
  templates/item/item-partials/item-details/descriptions/item-description-knackManeuver.hbs
  templates/item/item-partials/item-details/partials/abilities.hbs
  templates/item/item-partials/item-details/partials/knack.hbs
Due: none

final-commit
  templates/item/item-partials/item-details/descriptions/item-description-namegiver.hbs
Due: none

thread-localisation
  earthdawn4e.css
  lang/en.json
  less/global/config.less
  less/global/global.less
Due: npm run lint:lang

Add credits section with asset sources to README
  README.md
Due: none
