Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Add itemHistory to defaultEdIds
  module/config/system.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor roll confirmation logic in WeaveThreadWorkflow
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add confirmation dialog for failed rolls in RollableWorkflow
  module/workflows/workflow/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor rollAbility method to use AbilityRollOptions.fromActor
  module/data/item/power.mjs
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance ability roll for new initialization approach and update chat flavor
  module/data/roll/ability.mjs
  templates/chat/chat-flavor/ability-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add rankFinal getter and reorganize regions
  module/data/item/power.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add methods to reveal and toggle known ranks for thread items
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add ItemHistoryWorkflow for managing item history rolls
  module/workflows/workflow/_module.mjs
  module/workflows/workflow/item-history-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove unnecessary blank line in true-pattern.mjs
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Enhance general.hbs to support localized labels and improve input template rendering
  templates/form/group/general.hbs
Due: none

Fix hasDeeds getter
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add conditional rendering for hasDeeds field
  templates/global/true-pattern-basic-information.hbs
Due: none

Add target base to roll options for item history workflow
  module/workflows/workflow/item-history-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update hasDeeds condition to check knownToPlayer
  templates/global/true-pattern-basic-information.hbs
Due: none

Add item history check method to Actor class
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Implement item history check in physical item sheet
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add maximum possible types for item history knowledge determination
  module/workflows/workflow/item-history-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add localization: de
  lang/de.json
Due: npm run lint:lang

Auto update lang: en
  lang/en.json
Due: npm run lint:lang

Auto update lang: fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang: pl
  lang/pl.json
Due: npm run lint:lang

Update threads tab configuration in item sheet for true patterns
  module/applications/item/physical-item-sheet.mjs
  module/utils.mjs
  templates/thread-magic/true-pattern-tabs.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor true pattern templates to use thread magic structure
  templates/actor/actor-tabs/connections.hbs
  templates/global/true-pattern-basic-information.hbs
  templates/item/item-partials/item-details/other-tabs/true-pattern.hbs
  templates/thread-magic/true-pattern-basic-information.hbs
Due: none

Update threads tab layout and scrolling behavior in true pattern templates
  module/applications/item/physical-item-sheet.mjs
  templates/thread-magic/true-pattern-basic-information.hbs
  templates/thread-magic/true-pattern-tabs.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add thread tab styles for true patterns
  less/earthdawn4e.less
  less/sheets/thread-tab.less
Due: none

Update physical-item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix localization keys for element subtypes
  module/config/magic.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor spell element subtype handling and improve getter methods
  module/data/item/spell.mjs
  templates/item/item-partials/item-details/partials/spell.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix: Unknown field error
  templates/item/item-partials/item-details/partials/spell.hbs
Due: none

incorporate changes
  earthdawn4e.css
  module/applications/item/physical-item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add credits section to README
  README.md
Due: none

Update README.md
  README.md
Due: none

special-abilities-container
  earthdawn4e.css
  less/sheets/actor-sheet-layout.less
  templates/actor/cards/special-abilities-characters.hbs
Due: none

Refactor weapon item details layout to include usable items section within a fieldset
  templates/item/item-partials/item-details/details/item-details-weapon.hbs
Due: none

Use new roll options init workflow in attack options
  module/data/roll/attack.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
