Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

add knockdown prepare data method
  module/data/actor/pc.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

intemediate step before rebase
  module/documents/actor.mjs
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor knockdown method into workflow
  module/documents/actor.mjs
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

commit some comments
  module/documents/actor.mjs
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

remove duplicate function
  module/documents/actor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

new flavor
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorporate comment
  module/data/actor/pc.mjs
  module/data/actor/templates/sentient.mjs
  module/data/roll/knockdown.mjs
  module/workflows/workflow/knockdown-workflow.mjs
  templates/chat/chat-flavor/knockdown-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update de.json
  lang/de.json
Due: npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

fixed lang / difficulty
  lang/de.json
  module/workflows/workflow/knockdown-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

enable knockdown abilities to be rolled as abilities
  module/data/item/templates/rollable.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

language-container
  earthdawn4e.css
  less/global/icons.less
  less/sheets/actor-sheet-layout.less
  templates/actor/actor-partials/actor-section-top-pc.hbs
  templates/actor/actor-tabs/classes.hbs
  templates/actor/actor-tabs/configuration.hbs
  templates/actor/actor-tabs/description.hbs
  templates/actor/actor-tabs/devotions.hbs
  templates/actor/actor-tabs/equipment.hbs
  templates/actor/actor-tabs/general.hbs
  templates/actor/actor-tabs/legend.hbs
  templates/actor/actor-tabs/notes.hbs
  templates/actor/actor-tabs/powers.hbs
  templates/actor/actor-tabs/reputation.hbs
  templates/actor/actor-tabs/skills.hbs
  templates/actor/actor-tabs/specials.hbs
  templates/actor/actor-tabs/spells.hbs
  templates/actor/actor-tabs/talents.hbs
  templates/actor/cards/ability-card.hbs
  templates/actor/cards/health-character-card.hbs
  templates/global/card-options-class-upgrade.hbs
  templates/global/card-options-enhance.hbs
Due: none

buffer-alteration
  earthdawn4e.css
  less/global/global.less
  less/sheets/actor-sheet-layout.less
Due: none

language-container
  templates/actor/actor-tabs/notes.hbs
Due: none

added transaction information + lang
  lang/de.json
  module/data/advancement/lp-tracking.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

remove localization where not needed
  module/data/advancement/lp-tracking.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

incorportate comments
  module/data/advancement/lp-spending-transaction.mjs
  module/data/advancement/lp-tracking.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

some more localization fix
  module/data/advancement/lp-spending-transaction.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

correct localizations for missed types
  lang/de.json
  module/data/actor/pc.mjs
  module/data/item/spell.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

incorporate comment
  module/data/advancement/lp-tracking.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

add tier to language skills
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update character-generation-prompt.mjs
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
