Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

fix: export helper modules
  earthdawn4e.mjs
  module/helpers/_module.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update dependencies and remove unused packages
  package-lock.json
  package.json
Due: none

chore: add "type" property to system manifest
  system.json
Due: none

feat: add document subtype hints localization - de
  lang/de.json
Due: npm run lint:lang

chore: auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

chore: auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

chore: update lang - en
  lang/en.json
Due: npm run lint:lang

fix: lang - de
  lang/de.json
Due: npm run lint:lang

fix: lang - en
  lang/en.json
Due: npm run lint:lang

fix: lang - fr
  lang/fr.json
Due: npm run lint:lang

fix: lang - pl
  lang/pl.json
Due: npm run lint:lang

fix: add lang - en
  lang/en.json
Due: npm run lint:lang

feat: add type hints to document creation
  module/applications/global/document-creation.mjs
  templates/global/document-creation.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: build css
  earthdawn4e.css
  less/prompts/document-create-dialog.less
Due: none

fix: prevent processing undefined rolls in rollAbility
  module/data/item/templates/ability.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: rename and update key deletion helper
  module/data/other/character-generation.mjs
  module/helpers/document.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update thread removal to forced deletion
  module/data/thread/true-pattern.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update level key with _replace helper
  module/data/advancement/base-advancement.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update class abilities change to forced replacement
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update field path to forced deletion
  module/data/common/typed-entry-manager.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update power path to forced deletion
  module/data/item/mask.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update ability keys with _replace helper
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update ability option change to forced deletion
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: update field path adding to forced replacement
  module/data/common/typed-entry-manager.mjs
  module/data/item/spell.mjs
  module/data/item/templates/knack-item.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: add new v14 globals to eslint configuration
  eslint.config.mjs
Due: none

Update fr.json
  lang/fr.json
Due: npm run lint:lang

refactor: replace `game.i18n.format` with `_loc` global
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/namegiver-sheet.mjs
  module/applications/advancement/learn-spell.mjs
  module/applications/combat/start-round-combatant-prompt.mjs
  module/applications/global/document-creation.mjs
  module/applications/global/prompt-factory.mjs
  module/applications/item/mask-item-sheet.mjs
  module/applications/item/physical-item-sheet.mjs
  module/data/abstract/system-data-model.mjs
  module/data/actor/pc.mjs
  module/data/advancement/lp-earning-transaction.mjs
  module/data/chat/damage.mjs
  module/data/fields/formula-field.mjs
  module/data/item/devotion.mjs
  module/data/item/discipline.mjs
  module/data/item/path.mjs
  module/data/item/questor.mjs
  module/data/item/skill.mjs
  module/data/item/spell.mjs
  module/data/item/talent.mjs
  module/data/item/templates/knack-item.mjs
  module/data/item/templates/learnable.mjs
  module/data/item/templates/lp-increase.mjs
  module/data/item/thread.mjs
  module/data/roll/common.mjs
  module/dice/ed-roll.mjs
  module/documents/actor.mjs
  module/documents/combatant.mjs
  module/documents/item.mjs
  module/workflows/workflow/attribute-workflow.mjs
  module/workflows/workflow/damage-workflow.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/item-history-workflow.mjs
  module/workflows/workflow/rollable.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
  module/workflows/workflow/weave-thread-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add `ModifierRecord` typedef with description and example
  module/_types.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: extract `_getGlobalWeaponTypeModifierFromActor`
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: extract `_getWeaponIncreaseAbilityModifiers`
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: rename `ModifierRecord.value` to `ModifierRecord.modifier`
  module/_types.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: extract `_getUnarmedOrWeaponModifiers` and `_getExtraSuccessesModifier`
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: extract `_getSpellModifiers` from `_getModifiersFromSource`
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: extract `_getWarpingModifiers` from `_getModifiersFromSource`
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace conditional checks in `_getModifiersFromSource` with a `switch` statement
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: reorganize static properties and methods in `DamageRollOptions` class
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: replace @override with @inheritdoc
  module/applications/actor/character-sheet.mjs
  module/applications/components/checkbox.mjs
  module/applications/components/slide-toggle.mjs
  module/applications/scene/scene-config.mjs
  module/data/abstract/actor-data-model.mjs
  module/data/abstract/item-data-model.mjs
  module/data/abstract/system-data-model.mjs
  module/data/fields/identifier-field.mjs
  module/data/item/weapon.mjs
  module/data/roll/warping.mjs
  module/workflows/workflow/actor-workflow.mjs
  module/workflows/workflow/item-workflow.mjs
  module/workflows/workflow/raw-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

refactor: replace roll template sections with `roll-summary` partial
  templates/chat/chat-flavor/ability-roll-flavor.hbs
  templates/chat/chat-flavor/attack-roll-flavor.hbs
  templates/chat/chat-flavor/halfmagic-roll-flavor.hbs
  templates/chat/chat-flavor/spellcasting-roll-flavor.hbs
  templates/chat/chat-flavor/thread-weaving-roll-flavor.hbs
Due: none

Path conditions:
  eslint --fix --config eslint.config.mjs: (any of: module/**/*.mjs) or (any of: {module,utils}/**/*.mjs)
  eslint --config eslint.config.mjs --max-warnings 0: any of: {module,utils}/**/*.mjs
  npm run lint:lang: any of: lang/**/*.json
