Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

docs: define system data types for roll options data
  module/data/roll/_types.mjs
  module/data/roll/ability.mjs
  module/data/roll/attack.mjs
  module/data/roll/attribute.mjs
  module/data/roll/attuning.mjs
  module/data/roll/common.mjs
  module/data/roll/damage.mjs
  module/data/roll/half-magic.mjs
  module/data/roll/horror-mark.mjs
  module/data/roll/initiative.mjs
  module/data/roll/jump-up.mjs
  module/data/roll/knockdown.mjs
  module/data/roll/recovery.mjs
  module/data/roll/spellcasting.mjs
  module/data/roll/spelleffect.mjs
  module/data/roll/warping.mjs
  module/data/roll/weaving.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: remove TypeDoc unknown @description tag
  module/_types.mjs
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/sentient-sheet.mjs
  module/applications/advancement/lp-history.mjs
  module/applications/global/roll-prompt.mjs
  module/config/effects.mjs
  module/config/system.mjs
  module/data/advancement/lp-tracking.mjs
  module/data/advancement/lp-transaction.mjs
  module/data/item/spell.mjs
  module/data/item/templates/learnable.mjs
  module/data/item/templates/lp-increase.mjs
  module/data/roll/common.mjs
  module/dice/ed-roll.mjs
  module/dice/step-tables.mjs
  module/documents/active-effect.mjs
  module/documents/actor.mjs
  module/helpers/handlebars.mjs
  module/services/journal-service.mjs
  typedoc.json
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: fix incorrect asset paths in char gen documentation
  documentation/docs.de/character/character-generation.md
  documentation/docs/character/character-generation.md
Due: none

docs: remove incorrect @async tags
  module/applications/actor/character-generation-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: remove incorrect @fires tags
  module/applications/components/slide-toggle.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: remove incorrect @generator tags
  module/data/chat/base-message.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: fix misplaced @inheritdoc tags
  module/applications/components/checkbox.mjs
  module/applications/components/slide-toggle.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: replace json with typedoc.config.mjs
  dictionaries/technical-words.txt
  package.json
  typedoc.config.mjs
  typedoc.json
Due: none

Update threads-and-patterns.md
  documentation/docs.de/magic/threads-and-patterns.md
Due: none

Update advancements.md
  documentation/docs.de/legend/advancements.md
Due: none

fix: added english docu
  documentation/docs/legend/advancements.md
  documentation/docs/magic/threads-and-patterns.md
Due: none

fix: missing images
  assets/manual/english/legend/thread-item-create-pattern.png
  assets/manual/english/legend/thread-item-pattern-information.png
  assets/manual/english/legend/thread-item-show-pattern.png
  assets/manual/german/legend/thread-item-create-pattern.png
  assets/manual/german/legend/thread-item-pattern-information.png
  assets/manual/german/legend/thread-item-show-pattern.png
  documentation/docs.de/magic/threads-and-patterns.md
  documentation/docs/magic/threads-and-patterns.md
Due: none

fix: correct path
  documentation/docs/magic/threads-and-patterns.md
Due: none

fix: this was somehow lost
  templates/effect/details.hbs
Due: none

docs: convert docs to Markdown
  documentation/docs.de/character/character-gameplay.md
  documentation/docs.de/character/character-generation.md
  documentation/docs.de/character/character-sheet.md
  documentation/docs.de/legend/advancements.md
  documentation/docs.de/legend/legend-points.md
  documentation/docs.de/magic/threads-and-patterns.md
  documentation/docs.de/system/earthdawn-active-effects.md
  documentation/docs.de/system/release-notes.md
  documentation/docs/character/character-gameplay.md
  documentation/docs/character/character-generation.md
  documentation/docs/character/character-sheet.md
  documentation/docs/legend/advancements.md
  documentation/docs/legend/legend-points.md
  documentation/docs/magic/threads-and-patterns.md
  documentation/docs/system/earthdawn-active-effects.md
  documentation/docs/system/release-notes.md
Due: none

fix: create basic Foundry Roll as default for roll tables
  module/documents/_module.mjs
  module/documents/roll-table.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing docs for actor applications
  module/applications/actor/character-generation-prompt.mjs
  module/applications/actor/character-sheet.mjs
  module/applications/actor/common-sheet.mjs
  module/applications/actor/sentient-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing docs for advancement applications
  module/applications/advancement/assign-legend.mjs
  module/applications/advancement/class-advancement.mjs
  module/applications/advancement/learn-spell.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing docs for api, advancement and combat applications
  module/applications/advancement/class-advancement.mjs
  module/applications/api/application.mjs
  module/applications/combat/combat-tracker.mjs
  module/applications/combat/combatant.mjs
  module/applications/combat/start-round-combatant-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

ci: add required doc for linting
  eslint.config.mjs
Due: none

docs: add missing docs for CheckboxElement constructor
  module/applications/components/checkbox.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing JSDoc comments across various application modules
  module/applications/advancement/learn-spell.mjs
  module/applications/api/document-sheet-mixin.mjs
  module/applications/components/adopted-stylesheet-mixin.mjs
  module/applications/configs/base-config-sheet.mjs
  module/applications/global/choose-adder-substitute.mjs
  module/applications/global/document-creation.mjs
  module/applications/global/prompt-factory.mjs
  module/applications/global/roll-prompt.mjs
  module/applications/hud/token-hud.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update ESLint rules and remove obsolete directives
  eslint.config.mjs
  module/applications/global/document-creation.mjs
  module/applications/global/prompt-factory.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing JSDoc comments in application and canvas modules
  module/applications/item/item-sheet.mjs
  module/applications/item/mask-item-sheet.mjs
  module/applications/item/thread-item-sheet.mjs
  module/applications/journal/journal-sheet.mjs
  module/applications/scene/scene-config.mjs
  module/applications/settings/base-settings.mjs
  module/applications/settings/character-generation-settings.mjs
  module/applications/settings/edid-settings.mjs
  module/applications/settings/game-mechanics-settings.mjs
  module/applications/settings/lp-tracking-settings.mjs
  module/applications/workflow/attune-matrix-prompt.mjs
  module/applications/workflow/select-extra-threads-prompt.mjs
  module/canvas/token.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing JSDoc comments in "documents" module
  module/documents/active-effect.mjs
  module/documents/actor.mjs
  module/documents/chat.mjs
  module/documents/collections/users.mjs
  module/documents/combat.mjs
  module/documents/combatant.mjs
  module/documents/item.mjs
  module/documents/journal.mjs
  module/documents/roll-table.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing JSDoc comments in "workflow" module
  module/workflows/workflow-interrupt.mjs
  module/workflows/workflow/attack-workflow.mjs
  module/workflows/workflow/attune-grimoire-workflow.mjs
  module/workflows/workflow/attune-matrix-workflow.mjs
  module/workflows/workflow/grimoire-casting-workflow.mjs
  module/workflows/workflow/half-magic-workflow.mjs
  module/workflows/workflow/item-history-workflow.mjs
  module/workflows/workflow/jump-up-workflow.mjs
  module/workflows/workflow/knockdown-workflow.mjs
  module/workflows/workflow/recovery-workflow.mjs
  module/workflows/workflow/rollable.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
  module/workflows/workflow/substitute-workflow.mjs
  module/workflows/workflow/weave-thread-workflow.mjs
  module/workflows/workflow/workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

docs: add missing JSDoc comments in several modules
  module/data/advancement/base-advancement.mjs
  module/dice/ed-roll.mjs
  module/logging/logger.mjs
  module/services/roll-processor.mjs
  module/tours/ed-tours.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: correct property reference in effect execution script
  module/data/effect/eae.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: correct property path for effect execution
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: trigger effects on turns only for current combatant
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: correctly reset initiative at round start by batching updates
  module/documents/combat.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: correctly fetch effect document on toggle from parent sheet
  module/applications/api/document-sheet-mixin.mjs
  templates/global/effect-card.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: update TextEditor method reference to use correct foundry implementation
  module/applications/item/item-sheet.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix: remove redundant partials from weapon details template
  templates/item/item-partials/item-details/details/item-details-weapon.hbs
Due: none

fix: add update data as nested objects for all processing methods
  module/services/roll-processor.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

chore: update lang - en
  lang/en.json
Due: npm run lint:lang

chore: update lang - de
  lang/de.json
Due: npm run lint:lang

chore: update localization for weapon details template
  lang/en.json
  templates/item/item-partials/item-details/details/item-details-weapon.hbs
Due: npm run lint:lang

chore: update localization for weapon details template
  lang/de.json
Due: npm run lint:lang
