Repository earthdawn-vtt/fvtt-earthdawn4e: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

.lintstagedrc.json:

{
  "module/**/*.mjs": "eslint --fix --config eslint.config.mjs"
}

.lintstagedrc.yaml:

# lint and fix modules

"{module,utils}/**/*.mjs":
  # fixable rules
  - "eslint --fix --config eslint.config.mjs"
  ## non-fixable checks
  - "eslint --config eslint.config.mjs --max-warnings 0"


# consolidate, format and check language files
"lang/**/*.json": "npm run lint:lang"

# activate when clear what the *.md format is
# if Github docs, there is an extra module for it: https://github.com/github/markdownlint-github
# "documentation/**/*.md": "markdownlint --fix --config .markdownlint.jsonc --ignore node_modules"

Remove unused properties from spellcasting workflow
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add warping roll types to rolls configuration
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor casting workflow to streamline spell casting steps and remove unnecessary aftermath handling
  module/workflows/workflow/base-casting-workflow.mjs
  module/workflows/workflow/matrix-casting-workflow.mjs
  module/workflows/workflow/spellcasting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Fix roll type preLocalization
  module/config/rolls.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add custom flavor and summary templates for roll display
  module/utils.mjs
  templates/chat/dice-partials/roll-custom-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add spell property to BaseCastingWorkflowOptions
  module/workflows/workflow/base-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update weaving cancellation logic to include spell weaving completion check
  module/workflows/workflow/base-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add WarpingRollOptions and related templates for warping rolls
  module/data/roll/_module.mjs
  module/data/roll/warping.mjs
  templates/chat/chat-flavor/warping-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Refactor damage roll options to include damageSource and reorganize fields
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Lint
  less/global/global.less
Due: none

Add CONFIG and rollOptions to templateData in roll function
  module/dice/ed-roll.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Make damageAbilities optional
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update damage roll options to new init method
  module/data/item/weapon.mjs
  module/data/roll/damage.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add damage visualization to chat messages with armor indicators
  earthdawn4e.css
  less/chat/chat-messages.less
  module/data/roll/damage.mjs
  templates/chat/chat-flavor/damage-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add HorrorMarkRollOptions and flavor template for horror mark rolls
  module/config/rolls.mjs
  module/data/roll/_module.mjs
  module/data/roll/horror-mark.mjs
  templates/chat/chat-flavor/horror-mark-roll-flavor.hbs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add raw casting workflow
  lang/de.json
  module/workflows/workflow/raw-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Auto update lang - en
  lang/en.json
Due: npm run lint:lang

Auto update lang - fr
  lang/fr.json
Due: npm run lint:lang

Auto update lang - pl
  lang/pl.json
Due: npm run lint:lang

Set roll prompt window title based on roll type
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Add auto title and icon to roll prompt
  module/applications/global/roll-prompt.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Reorganize EdRollOptions class into regions
  module/data/roll/common.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Localize notification message for selecting horror in raw casting
  module/data/roll/horror-mark.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Remove unnecessary logging
  templates/chat/chat-flavor/damage-roll-flavor.hbs
Due: none

Add documentation for spell casting workflow properties and constructor
  module/workflows/workflow/raw-casting-workflow.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Set strain in roll options to null
  module/data/roll/horror-mark.mjs
  module/data/roll/warping.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

Update layout for roll prompt and window headers
  earthdawn4e.css
  less/earthdawn4e.less
  less/global/global.less
  less/prompts/roll-prompt.less
  less/sheets/global-sheet-layout.less
Due: none

Add documentation for spell casting workflow properties and constructor
  lang/de.json
Due: npm run lint:lang

add new talentCategory
  lang/de.json
  module/config/legend.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0, npm run lint:lang

Update en.json
  lang/en.json
Due: npm run lint:lang

Update fr.json
  lang/fr.json
Due: npm run lint:lang

Update pl.json
  lang/pl.json
Due: npm run lint:lang

the helper now checks for other and free to group them together
  module/handlebar-helpers.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

show new other talentCategory in free / other area
  templates/actor/actor-tabs/talents.hbs
Due: none

add namegiver talents, even if the rank is 0
  module/data/actor/pc.mjs
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0

fix reset of namegiver talent rank
  module/data/other/character-generation.mjs
Due: eslint --fix --config eslint.config.mjs, eslint --config eslint.config.mjs --max-warnings 0
